@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">
    
</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
        <div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/content_3.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
            
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 text-center" data-aos="fade">
                    <h1 class="text-uppercase">About Us</h1>
                </div>
            </div>
        </div>

        <div class="slant-1"></div>



        <div class="site-half first-section">
            <div class="img-bg-1" style="background-image: url('../../images/about_us.jpg');"></div>
            <div class="container">
                <div class="row no-gutters align-items-stretch">
                    <div class="col-lg-5 ml-lg-auto py-5">
                        <h2 class="site-section-heading text-uppercase font-secondary mb-5">Purpose</h2>
                        <p class="mb-4">
                            PokaCarbon was formed to help people build a sustainable world that values and conserves the environment. Reduction in carbon emissions was our theme and we tried to remedy it by reducing plastic usage. Our decision was also guided by the issue surrounding single use plastics that affects Australia in particular. Since we’re a multicultural team, we’ve had the advantage of getting unique perspectives on probable solutions which led us to developing our hero function which promotes local eco-friendly businesses. This not only helps create a shift in people’s attitude towards their daily life choices but also gives economic support to local businesses which have been affected by the pandemic.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>

    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/main.js"></script>

    

</body>
</html>