@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <!--About Banner Block-->
        <div class="banner">
            <div class="about-banner-block"></div>
            <div class="banner-text-block">
                <h1 class="text-uppercase">About Us</h1>
            </div>
        </div>
        <!--About Banner Block-->
        <!--About Body Block-->
        <div class="site-half" id="start">
            <div class="img-bg-1 left" style="background-image: url('../../images/about_us.jpg');" data-aos="fade"></div>
            <div class="container">
                <div class="row no-gutters align-items-stretch">
                    <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                        <p>PokaCarbon was formed to help people build a sustainable world that values and conserves the environment. Reduction in carbon emissions was our theme and we tried to remedy it by reducing plastic usage. Our decision was also guided by the issue surrounding single use plastics that affects Australia in particular.</p>
                        <p>Since we’re a multicultural team, we’ve had the advantage of getting unique perspectives on probable solutions which led us to developing our hero function which promotes local eco-friendly businesses. This not only helps create a shift in people’s attitude towards their daily life choices but also gives economic support to local businesses which have been affected by the pandemic.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--About Body Block-->
    </div>
</body>
