
@{
    ViewBag.Title = "Avoid_Food_Waste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Avoid Food Waste Banner Block-->
<div class="banner">
    <div class="food-waste-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="banner_text_color">Avoid Food Waste</h1>
    </div>
</div>
<!--Avoid Food Waste Banner Block-->

<div class="container food-waste-top-block">
    <p class="text-bold">Do you know that what we eat impacts the environment? </p>
    <ul>
        <li>Food production is responsible for a quarter of the world's greenhouse gas emissions.</li>
        <li>To combat this we need to bring about a change in our choices and the way we manage our inventory. To get you started we have a few tips.</li>
    </ul>
    <p class="text-bold">So click on the below tiles to find out different ways to avoid food waste.</p>
    <div class="row">
        <!--Shop-smart block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="shop-smart">
                    <img src="~/images/shop_smart.png" />
                </div>
                <div id="shop-content-block" class="content-block">
                    <p>Try to avoid going grocery shopping when you are hungry. This might result in buying more products than you actually need.</p>
                    <p>Another useful tip will be to create a list of products that you need to buy and stick to it.</p>
                </div>
            </div>
        </div>
        <!--Shop-smart block-->
        <!--Store food block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="store-food">
                    <img src="~/images/store_correctly.png" />
                </div>
                <div id="store-content-block" class="content-block">
                    <p>Keep potatoes, tomatoes, cucumbers, garlic, and onions at room temperature, don’t put them in a refrigerator.</p>
                    <p>Try to avoid storing the following products together with other fruits or vegetables:</p>
                    <ul>
                        <li>Bananas</li>
                        <li>Avocados</li>
                        <li>Tomatoes</li>
                    </ul>
                    <ul>
                        <li>Peaches</li>
                        <li>Pears</li>
                        <li>Green Onions</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Store food block-->
        <!--Food leftover block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="food-leftover">
                    <img src="~/images/save_leftovers.png" />
                </div>
                <div id="leftover-content-block" class="content-block">
                    <p>If you have cooked too much food, don’t throw it away.</p>
                    <p>
                        Put it in a glass container and store it in the fridge to have it later.
                        Such an action will help you to avoid food waste, save you time on cooking and money.
                    </p>
                </div>
            </div>
        </div>
        <!--Food leftover block-->
        <!--Pack lunch block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="pack-lunch">
                    <img src="~/images/pack_lunch.png" />
                </div>
                <div id="lunch-content-block" class="content-block">
                    <p>Instead of going to a cafe or restaurant for a lunch break, try taking your lunches from home. </p>
                    <p>Not only will it help you to avoid food waste, but also you will be in control of what you are eating. If you have leftovers from your lunch, freeze them or put them in a fridge for tomorrow.</p>

                </div>
            </div>
        </div>
        <!--Food leftover block-->
        <!--Eat the yolk block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="egg-yolk">
                    <img src="~/images/eat_the_yolk.png" />
                </div>
                <div id="egg-content-block" class="content-block">
                    <p>
                        Unlike popular opinion, studies show that eggs’ yolk does not actually have that much of an impact on cholesterol level unless you are eating eggs every day for every meal.
                    </p>
                    <p>
                        2-3 eggs with yolk per week will be a healthy decision since the yolk is rich in protein, vitamin A, vitamin B, iron, and selenium. If you still don’t want to eat the yolk, you can use it as an ingredient in hair and face masks.
                    </p>

                </div>
            </div>
        </div>
        <!--Eat the yolk block-->
        <!--Preserve food block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="preserve-food">
                    <img src="~/images/learn_preserve.png" />
                </div>
                <div id="preserve-content-block" class="content-block">
                    <p>
                        Learn how to preserve food. Pickle, dry, or freeze the food to preserve it.
                    </p>
                    <p>For example, if your bananas are ripening, cut them and freeze to use later on in smoothies.</p>
                    <p>
                        Bake apple slices in an oven and create a healthy snack every day.
                    </p>
                </div>
            </div>
        </div>
        <!--Preserve food block-->
    </div>
</div>
<!--Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 479.41911 479" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m383.796875 112.242188c-8.300781 0-16.5625 1.074218-24.585937 3.199218.394531-3.722656.589843-7.460937.585937-11.199218.015625-49.683594-35.113281-92.441407-83.855469-102.0625-48.742187-9.625-97.484375 16.570312-116.351562 62.53125-23.816406-13.578126-53.636719-10.503907-74.175782 7.65625-20.542968 18.15625-27.253906 47.371093-16.699218 72.671874-41.527344 5.917969-71.433594 42.910157-68.523438 84.757813 2.914063 41.847656 37.65625 74.335937 79.605469 74.445313 4.417969 0 8-3.582032 8-8 0-4.421876-3.582031-8-8-8-35.347656 0-64-28.65625-64-64 0-35.347657 28.652344-64 64-64h1.214844c3.125.3125 6.148437-1.207032 7.761719-3.898438 1.59375-2.714844 1.449218-6.109375-.367188-8.679688-5.652344-8.023437-8.660156-17.609374-8.609375-27.421874-.007813-18.617188 10.761719-35.558594 27.625-43.445313 16.867187-7.886719 36.769531-5.296875 51.054687 6.644531 2.066407 1.746094 4.878907 2.328125 7.46875 1.546875 2.59375-.78125 4.613282-2.820312 5.371094-5.417969 12.675782-46.925781 60.984375-74.6875 107.90625-62.015624 46.925782 12.675781 74.6875 60.988281 62.015625 107.910156-.734375 2.949218.261719 6.054687 2.574219 8.027344 2.316406 1.96875 5.542969 2.457031 8.335938 1.261718 29.035156-12.539062 62.730468-6.792968 85.972656 14.65625 23.238281 21.449219 31.660156 54.578125 21.488281 84.523438-10.175781 29.945312-37.035156 51.085937-68.53125 53.9375-2.402344.21875-4.800781.371094-7.28125.371094-4.417969 0-8 3.578124-8 8 0 4.417968 3.582031 8 8 8 2.96875 0 5.839844-.167969 8.710937-.433594 50.949219-4.84375 89.136719-48.804688 86.8125-99.929688-2.324218-51.125-44.347656-91.4375-95.523437-91.636718zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m79.347656 176.242188c-26.253906.433593-47.363281 21.742187-47.550781 48 0 4.417968 3.582031 8 8 8s8-3.582032 8-8c.148437-17.53125 14.261719-31.738282 31.792969-32 4.417968-.066407 7.945312-3.703126 7.878906-8.121094.015625-2.136719-.839844-4.1875-2.375-5.675782-1.535156-1.488281-3.609375-2.285156-5.746094-2.203124zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m383.796875 160.242188c26.5.023437 47.972656 21.5 48 48 0 4.417968 3.582031 8 8 8s8-3.582032 8-8c-.039063-35.332032-28.671875-63.960938-64-64-4.417969 0-8 3.578124-8 8 0 4.417968 3.582031 8 8 8zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m317.652344 95.800781c.695312-.003906 1.390625-.097656 2.0625-.273437 4.273437-1.136719 6.8125-5.519532 5.671875-9.789063-5.785157-21.746093-21.40625-39.539062-42.222657-48.085937-20.816406-8.550782-44.429687-6.875-63.832031 4.523437-2.539062 1.414063-4.109375 4.09375-4.105469 7 .003907 2.90625 1.582032 5.578125 4.121094 6.988281 2.542969 1.40625 5.648438 1.328126 8.113282-.210937 15.089843-8.859375 33.449218-10.152344 49.632812-3.503906 16.183594 6.652343 28.328125 20.484375 32.832031 37.390625.925781 3.511718 4.097657 5.957031 7.726563 5.960937zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m263.796875 240.242188h-32c-17.671875 0-32 14.324218-32 32v80c0 17.671874 14.328125 32 32 32h32c17.671875 0 32-14.328126 32-32v-80c0-17.675782-14.328125-32-32-32zm16 112c0 8.835937-7.164063 16-16 16h-32c-8.835937 0-16-7.164063-16-16v-80c0-8.839844 7.164063-16 16-16h32c8.835937 0 16 7.160156 16 16zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m127.796875 256.242188h32c8.835937 0 16 7.160156 16 16 0 4.417968 3.582031 8 8 8s8-3.582032 8-8c0-17.675782-14.328125-32-32-32h-32c-17.671875 0-32 14.324218-32 32v80c0 17.671874 14.328125 32 32 32h32c17.671875 0 32-14.328126 32-32 0-4.421876-3.582031-8-8-8s-8 3.578124-8 8c0 8.835937-7.164063 16-16 16h-32c-8.835937 0-16-7.164063-16-16v-80c0-8.839844 7.164063-16 16-16zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m343.796875 288.242188h-16c-13.253906 0-24 10.742187-24 24 0 4.417968 3.582031 8 8 8s8-3.582032 8-8c0-4.421876 3.582031-8 8-8h16c4.417969 0 8 3.578124 8 8v7.4375c0 2.675781-1.335937 5.171874-3.558594 6.65625l-33.753906 22.496093c-6.675781 4.453125-10.6875 11.945313-10.6875 19.96875v7.441407c0 4.417968 3.582031 8 8 8h48c4.417969 0 8-3.582032 8-8 0-4.421876-3.582031-8-8-8h-40c.171875-2.472657 1.480469-4.722657 3.542969-6.097657l33.753906-22.496093c6.679688-4.445313 10.699219-11.941407 10.703125-19.96875v-7.4375c0-13.257813-10.746094-24-24-24zm0 0" fill="#2e8b57" data-original="#000000" style="" class="" /></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="#">Learn how food waste is related to the carbon footprint.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m376 242c8.284 0 15-6.716 15-15 0-.009-.001-.018-.001-.027-.008-20.666-9.808-39.883-27.596-54.114-16.814-13.452-38.977-20.86-62.403-20.86-10.551 0-20.833 1.501-30.521 4.395-1.254-12.724-4.758-25.013-10.313-36.394h2.709c57.897 0 105-47.103 105-105 0-8.284-6.716-15-15-15h-30c-48.049 0-88.66 32.442-101.087 76.571-16.607-10.792-35.791-16.571-55.788-16.571-8.284 0-15 6.716-15 15s6.716 15 15 15c37.024 0 68.804 29.249 74.187 65.997-9.296-2.638-19.12-3.999-29.188-3.999-23.426 0-45.588 7.408-62.403 20.86-17.796 14.237-27.597 33.464-27.597 54.14 0 8.232 6.663 15.001 15.001 15.001 21.284 0 45 36.962 45 90 0 53.016-23.696 89.967-44.973 89.999h-.028c-8.284 0-15 6.716-15 15 0 44.293 43.49 75 90 75 15.996 0 31.381-3.428 45-9.974 13.62 6.546 29.005 9.974 45 9.974 46.782 0 89.98-30.921 90-74.971 0-.009.001-.019.001-.028 0-8.232-6.663-15.001-15.001-15.001h-.026c-21.278-.031-44.973-36.982-44.973-89.998 0-53.038 23.716-90 45-90zm-53.125-212h13.493c-6.97 34.191-37.274 60-73.493 60h-13.493c6.969-34.191 37.274-60 73.493-60zm-111.876 151.999c13.658 0 26.548 3.407 37.273 9.853 4.683 2.812 10.652 2.878 15.452 0 10.728-6.446 23.616-9.853 37.274-9.853 26.075 0 48.318 12.539 56.573 30.001h-203.145c8.254-17.462 30.498-30.001 56.573-30.001zm90 300c-13.658 0-26.547-3.407-37.274-9.853-4.754-2.857-10.696-2.857-15.452 0-10.726 6.445-23.615 9.853-37.273 9.853-26.075 0-48.318-12.539-56.573-30h203.146c-8.256 17.46-30.499 30-56.574 30zm-114.896-59.999c15.359-21.826 24.897-53.8 24.897-90 0-36.202-9.539-68.177-24.899-90.001h139.798c-15.36 21.824-24.899 53.799-24.899 90.001 0 36.2 9.538 68.174 24.897 90z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m256 272c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m256 347c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Composting"><span>Got food waste? See what you can do with it.</span></a>
                </div>
            </div>
            <!--Link Content-->
        </div>
    </div>
</div>
<!--Nav Links-->
