
@{
    ViewBag.Title = "Avoid_Food_Waste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="page-heading">Avoid Food Waste</h2>
    <p class="text-bold">Click on the below tiles to find out different ways to avoid food waste.</p>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="shop-smart">
                    <img src="~/images/shop_smart.jpg" />
                </div>
                <div id="shop-content-block" class="content-block">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="store-food">
                    <img src="~/images/store_food.jpg" />
                </div>
                <div id="store-content-block" class="content-block">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="food-leftover">
                    <img src="~/images/save_leftover.jpg" />
                </div>
                <div id="leftover-content-block" class="content-block">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="pack-lunch">
                    <img src="~/images/pack-lunch.jpg" />
                </div>
                <div id="lunch-content-block" class="content-block">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>


