
@{
    ViewBag.Title = "Avoid_Food_Waste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Avoid Food Waste Banner Block-->
<div class="banner">
    <div class="food-waste-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="banner_text_color">Avoid Food Waste</h1>
    </div>
</div>
<!--Avoid Food Waste Banner Block-->

<div class="container">
    <p class="text-bold">Click on the below tiles to find out different ways to avoid food waste.</p>
    <div class="row">
        <!--Shop-smart block-->
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="shop-smart">
                    <img src="~/images/shop_smart.png" />
                </div>
                <div id="shop-content-block" class="content-block">
                    <p>Try to avoid going grocery shopping when you are hungry. This might result in buying more products than you actually need.</p>
                    <p>Another useful tip will be to create a list of products that you need to buy and stick to it.</p>
                </div>
            </div>
        </div>
        <!--Shop-smart block-->
        <!--Store food block-->
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="store-food">
                    <img src="~/images/store_correctly.png" />
                </div>
                <div id="store-content-block" class="content-block">
                    <p>Keep potatoes, tomatoes, cucumbers, garlic, and onions at room temperature, don’t put them in a refrigerator.</p>
                    <p>Try to avoid storing the following products together with other fruits or vegetables:</p>
                    <ul>
                        <li>Bananas</li>
                        <li>Avocados</li>
                        <li>Tomatoes</li>
                    </ul>
                    <ul>
                        <li>Peaches</li>
                        <li>Pears</li>
                        <li>Green Onions</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Store food block-->
        <!--Food leftover block-->
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="food-leftover">
                    <img src="~/images/save_leftovers.png" />
                </div>
                <div id="leftover-content-block" class="content-block">
                    <p>If you have cooked too much food, don’t throw it away.</p>
                    <p>
                        Put it in a glass container and store it in the fridge to have it later.
                        Such an action will help you to avoid food waste, save you time on cooking and money.
                    </p>
                </div>
            </div>
        </div>
        <!--Food leftover block-->
        <!--Pack lunch block-->
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="pack-lunch">
                    <img src="~/images/pack_lunch.png" />
                </div>
                <div id="lunch-content-block" class="content-block">
                    <p>Instead of going to a cafe or restaurant for a lunch break, try taking your lunches from home. </p>
                    <p>Not only will it help you to avoid food waste, but also you will be in control of what you are eating. If you have leftovers from your lunch, freeze them or put them in a fridge for tomorrow.</p>

                </div>
            </div>
        </div>
        <!--Food leftover block-->
        <!--Eat the yolk block-->
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="egg-yolk">
                    <img src="~/images/eat_the_yolk.png" />
                </div>
                <div id="egg-content-block" class="content-block">
                    <p>
                        Unlike popular opinion, studies show that eggs’ yolk does not actually have that much of an impact on cholesterol level unless you are eating eggs every day for every meal.
                    </p>
                    <p>
                        2-3 eggs with yolk per week will be a healthy decision since the yolk is rich in protein, vitamin A, vitamin B, iron, and selenium. If you still don’t want to eat the yolk, you can use it as an ingredient in hair and face masks.
                    </p>

                </div>
            </div>
        </div>
        <!--Eat the yolk block-->
        <!--Preserve food block-->
        <div class="col-sm-12 col-md-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="preserve-food">
                    <img src="~/images/learn_preserve.png" />
                </div>
                <div id="preserve-content-block" class="content-block">
                    <p>
                        Learn how to preserve food. Pickle, dry, or freeze the food to preserve it.
                    </p>
                    <p>For example, if your bananas are ripening, cut them and freeze to use later on in smoothies.</p>
                    <p>
                        Bake apple slices in an oven and create a healthy snack every day.
                    </p>
                </div>
            </div>
        </div>
        <!--Preserve food block-->
    </div>
</div>


