@{
    ViewBag.Title = "Avoid_Food_Waste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Avoid Food Waste Banner Block-->
<div class="banner">
    <div class="food-waste-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="banner_text_color" style="font-size:30px;font-weight:bold">Avoid Food Waste</h1>
    </div>
</div>
<!--Avoid Food Waste Banner Block-->

<div class="container food-waste-top-block">
    <!--Avoid Food Waste Short Description Block-->
    <h4>Do you know that what we eat impacts the environment? </h4>
    <ul>
        <li>Food production is responsible for a quarter of the world's greenhouse gas emissions.</li>
        <li>To combat this we need to bring about a change in our choices and the way we manage our inventory. To get you started we have a few tips.</li>
    </ul>
    <p class="text-bold">Click on the tiles below to find out different ways to avoid food waste.</p>
    <!--Avoid Food Waste Short Description Block-->
    <div class="row">
        <!--Shop-Smart Block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="shop-smart">
                    <img src="~/images/smart-shop.png" />
                    <div class="center-align">Shop Smart</div>
                </div>
                <div id="shop-content-block" class="content-block">
                    <p>Try to avoid going grocery shopping when you are hungry. This might result in buying more products than you actually need.</p>
                    <p>Another useful tip will be to create a list of products that you need to buy and stick to it.</p>
                </div>
            </div>
        </div>
        <!--Shop-Smart Block-->
        <!--Store Food Block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="store-food">
                    <img src="~/images/store-correctly.png" />
                    <div class="center-align">Store Correctly</div>
                </div>
                <div id="store-content-block" class="content-block">
                    <p>Keep potatoes, tomatoes, cucumbers, garlic, and onions at room temperature, don’t put them in a refrigerator.</p>
                    <p>Try to avoid storing the following products together with other fruits or vegetables:</p>
                    <ul>
                        <li>Bananas</li>
                        <li>Avocados</li>
                        <li>Tomatoes</li>
                    </ul>
                    <ul>
                        <li>Peaches</li>
                        <li>Pears</li>
                        <li>Green Onions</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Store Food Block-->
        <!--Save Leftover Block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="food-leftover">
                    <img src="~/images/save-leftovers.png" />
                    <div class="center-align">Save Leftovers</div>
                </div>
                <div id="leftover-content-block" class="content-block">
                    <p>
                        If you have cooked too much food, don’t throw it away.
                        Store it in a glass container and put it in the fridge to have it later.
                        Not only will it help you to avoid food waste and save money, but also you will be in control of what you are eating.
                    </p>
                    <p>
                        If you have leftovers from your lunch, freeze them or put them in a fridge for tomorrow.
                        You can also avoid serving too much by serving smaller portions of food and coming back for seconds is a better idea rather than wasting food on our plates.
                    </p>
                </div>
            </div>
        </div>
        <!--Save Leftover Block-->
        <!--Pack Lunch Block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="pack-lunch">
                    <img src="~/images/repurpose-food.jpg" />
                    <div class="center-align">Repurpose Waste</div>
                </div>
                <div id="lunch-content-block" class="content-block">
                    <p>Food can be reutilized in many ways. Before food waste reaches the compost, we can reuse it in a number of ways.</p>
                    <ul>
                        <li>Vegetables like broccoli can be utilized just as well as florets as their stems can also be cooked.</li>
                        <li>Bones that are leftover from a dish can be used in homemade stock which is healthier than the store-bought version as it doesn't contain preservatives.</li>
                        <li>Squeezed lemon halves can be reused for cleaning your stovetop as well!!</li>
                    </ul>

                </div>
            </div>
        </div>
        <!--Pack Lunch Block-->
        <!--Eat the Yolk Block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="egg-yolk">
                    <img src="~/images/eat-yolk.png" />
                    <div class="center-align">Eat the Yolk</div>
                </div>
                <div id="egg-content-block" class="content-block">
                    <p>
                        Unlike popular opinion, studies show that eggs’ yolk does not actually have that much of an impact on cholesterol level unless you are eating eggs every day for every meal.
                    </p>
                    <p>
                        2-3 eggs with yolk per week will be a healthy decision since the yolk is rich in protein, vitamin A, vitamin B, iron, and selenium. If you still don’t want to eat the yolk, you can use it as an ingredient in hair and face masks.
                    </p>

                </div>
            </div>
        </div>
        <!--Eat the Yolk Block-->
        <!--Preserve Food Block-->
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="avoid-waste-block">
                <div class="food-tip-img" id="preserve-food">
                    <img src="~/images/learn-preserve.png" />
                    <div class="center-align">Learn to Preserve</div>
                </div>
                <div id="preserve-content-block" class="content-block">
                    <p>
                        Learn how to preserve food. Pickle, dry, or freeze the food to preserve it.
                    </p>
                    <p>For example, if your bananas are ripening, cut them and freeze to use later on in smoothies.</p>
                    <p>
                        Bake apple slices in an oven and create a healthy snack every day.
                    </p>
                </div>
            </div>
        </div>
        <!--Preserve Food Block-->
    </div>
</div>
<!--Bottom Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4>Further Readings</h4>
            <!--Carbon Footprint Page Link Block-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 510 510" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m254 292.5c-30.327 0-55 24.673-55 55v70c0 30.327 24.673 55 55 55s55-24.673 55-55v-70c0-30.327-24.673-55-55-55zm25 125c0 13.785-11.215 25-25 25s-25-11.215-25-25v-70c0-13.785 11.215-25 25-25s25 11.215 25 25z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m388.223 428.035 10.381-4.569c9.741-4.288 17.282-11.954 21.509-21.261 50.217-3.897 89.887-46.005 89.887-97.205 0-25.703-9.917-49.955-27.925-68.289-13.452-13.696-30.285-22.943-48.647-26.942 1.046-5.667 1.572-11.434 1.572-17.269 0-52.383-42.617-95-95-95-16.584 0-32.565 4.25-46.666 12.23-15.547-42.47-56.466-72.23-103.334-72.23-60.654 0-110 49.346-110 110 0 8.56.972 16.984 2.899 25.191-20.846 6.425-39.662 18.617-54.156 35.312-18.535 21.349-28.743 48.694-28.743 76.997 0 41.202 22.847 79.865 59 101.248v31.252c0 30.327 24.673 55 55 55s55-24.673 55-55v-5h-30v5c0 13.785-11.215 25-25 25s-25-11.215-25-25v-70c0-13.785 11.215-25 25-25s25 11.215 25 25v5h30v-5c0-30.327-24.673-55-55-55s-55 24.673-55 55v1.643c-18.125-16.548-29-39.774-29-64.143 0-42.948 31.967-80.143 74.357-86.519l18.927-2.847-7.288-17.698c-3.978-9.661-5.996-19.902-5.996-30.436 0-44.112 35.888-80 80-80 40.092 0 74.197 29.928 79.331 69.616l3.849 29.749 21.491-20.926c12.212-11.891 28.31-18.439 45.329-18.439 35.841 0 65 29.159 65 65 0 8.416-1.6 16.626-4.754 24.404l-8.194 20.206 21.8.428c36.474.717 66.148 30.981 66.148 67.462 0 33.801-24.974 61.873-57.438 66.747-4.694-18.292-21.347-31.878-41.043-31.878h-.151c-23.362 0-42.368 19.006-42.368 42.368h30c0-6.82 5.549-12.368 12.368-12.368h.151c6.782 0 12.331 5.518 12.368 12.294l.013 2.458c.027 4.931-2.871 9.401-7.384 11.388l-10.38 4.569c-22.559 9.93-37.136 32.273-37.136 56.922v15h80v-30h-46.29c3.324-6.31 8.719-11.475 15.513-14.465z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Carbon_Footprint">Learn how food waste is related to the carbon footprint.</a>
                </div>
            </div>
            <!--Carbon Footprint Page Link Block-->
            <!--Composting Page Link Block-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m376 242c8.284 0 15-6.716 15-15 0-.009-.001-.018-.001-.027-.008-20.666-9.808-39.883-27.596-54.114-16.814-13.452-38.977-20.86-62.403-20.86-10.551 0-20.833 1.501-30.521 4.395-1.254-12.724-4.758-25.013-10.313-36.394h2.709c57.897 0 105-47.103 105-105 0-8.284-6.716-15-15-15h-30c-48.049 0-88.66 32.442-101.087 76.571-16.607-10.792-35.791-16.571-55.788-16.571-8.284 0-15 6.716-15 15s6.716 15 15 15c37.024 0 68.804 29.249 74.187 65.997-9.296-2.638-19.12-3.999-29.188-3.999-23.426 0-45.588 7.408-62.403 20.86-17.796 14.237-27.597 33.464-27.597 54.14 0 8.232 6.663 15.001 15.001 15.001 21.284 0 45 36.962 45 90 0 53.016-23.696 89.967-44.973 89.999h-.028c-8.284 0-15 6.716-15 15 0 44.293 43.49 75 90 75 15.996 0 31.381-3.428 45-9.974 13.62 6.546 29.005 9.974 45 9.974 46.782 0 89.98-30.921 90-74.971 0-.009.001-.019.001-.028 0-8.232-6.663-15.001-15.001-15.001h-.026c-21.278-.031-44.973-36.982-44.973-89.998 0-53.038 23.716-90 45-90zm-53.125-212h13.493c-6.97 34.191-37.274 60-73.493 60h-13.493c6.969-34.191 37.274-60 73.493-60zm-111.876 151.999c13.658 0 26.548 3.407 37.273 9.853 4.683 2.812 10.652 2.878 15.452 0 10.728-6.446 23.616-9.853 37.274-9.853 26.075 0 48.318 12.539 56.573 30.001h-203.145c8.254-17.462 30.498-30.001 56.573-30.001zm90 300c-13.658 0-26.547-3.407-37.274-9.853-4.754-2.857-10.696-2.857-15.452 0-10.726 6.445-23.615 9.853-37.273 9.853-26.075 0-48.318-12.539-56.573-30h203.146c-8.256 17.46-30.499 30-56.574 30zm-114.896-59.999c15.359-21.826 24.897-53.8 24.897-90 0-36.202-9.539-68.177-24.899-90.001h139.798c-15.36 21.824-24.899 53.799-24.899 90.001 0 36.2 9.538 68.174 24.897 90z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m256 272c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m256 347c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Composting"><span>Got food waste? See what you can do with it.</span></a>
                </div>
            </div>
            <!--Composting Page Link Block-->
        </div>
    </div>
</div>
<!--Bottom Nav Links-->
