
@{
    ViewBag.Title = "Carbon_Footprint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Carbon Footprint Banner Block-->
<div class="banner">
    <div class="carbon-footprint-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="banner_text_color" style="font-size:30px;font-weight:bold">Carbon Footprint</h1>
    </div>
</div>
<!--Carbon Footprint Banner Block-->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p>Carbon footprint is a term used to indicate the amount of carbon(measured in tonnes) being produced due to an individual or an activity. The carbon emissions from the combustion of fossil fuels, food wastage leading to more food production, and improper segregation of plastics which end up in landfills all add to our carbon footprint. Moreover, of all the greenhouse gas emissions carbon has a bigger impact on the environment in terms of climatic change, indicators of which are melting ice-caps, rising sea levels.</p>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class='tableauPlaceholder' id='viz1602948264714' style='position: relative'>
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ca&#47;carbon_years_world&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='carbon_years_world&#47;Dashboard1' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ca&#47;carbon_years_world&#47;Dashboard1&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>Here, is an overview of the emissions produced by countries in the world over the years. You can see how the emissions of consumeristic nations like the USA and Australia are on the rise even when you look at trends from the year 2005 up to 2018.</p>
        </div>
        <div class="col-sm-7 col-md-7 graph-block">
            <div class='tableauPlaceholder' id='viz1602952915726' style='position: relative'>
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;co2_per_person_state&#47;PERPERSON-CO2EMISSIONS&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='co2_per_person_state&#47;PERPERSON-CO2EMISSIONS' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;co2_per_person_state&#47;PERPERSON-CO2EMISSIONS&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 graph_desc_block">
            <p class="list-title">
                In the bar graph, we can see that for a lot of states the per capita emissions have been on the rise, and only after 2011 can we see a change in this pattern. But some states have emissions higher than the equivalent of 20,000 kgs of waste even post 2011, they are:</p>
            <ul>
                <li>New South Wales</li>
                <li>Victoria</li>
                <li>Queensland</li>
                <li>Northern Territory</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 carbon-info">
            <p class="no_margin">Food packaging is one industry that uses a lot of plastic (especially single-use plastics) in its packaging.</p>
            <p class="list-title">The three stages to pay attention to are:</p>
            <ul>
                <li>Production</li>
                <li>Transportation</li>
                <li>Elimination</li>
            </ul>
            <p>For production, plants are working non-stop to produce a sufficient amount of plastic bottles, containers, and wraps.</p>
            <p>Next, these items are being delivered to other manufacturers or retailers, who may be located anywhere in the world resulting in carbon emissions via fuel consumption.</p>
            <p>Last, but not least, the dumping and recycling of plastic releases carbon dioxide as well.</p>
            <p class="no_margin">By switching to alternatives ways of food packaging, we can severely decrease the CO2 level in the world.</p>
        </div>
    </div>
</div>
<!--Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p class="text-bold">Want to reduce your carbon footprint?</p>
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="23" height="23" x="0" y="0" viewBox="0 0 511.999 511" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m361.921875 135.570312c0-24.824218-20.199219-45.023437-45.027344-45.023437-24.824219 0-45.023437 20.199219-45.023437 45.023437 0 24.828126 20.199218 45.023438 45.023437 45.023438 24.828125 0 45.027344-20.195312 45.027344-45.023438zm-45.027344 15.007813c-8.273437 0-15.007812-6.730469-15.007812-15.007813 0-8.273437 6.734375-15.007812 15.007812-15.007812 8.277344 0 15.011719 6.734375 15.011719 15.007812 0 8.277344-6.734375 15.007813-15.011719 15.007813zm0 0" fill="#2e8b57" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531 180.59375c-41.375 0-75.039062 33.664062-75.039062 75.042969v45.023437h150.082031v-45.023437c0-41.378907-33.664062-75.042969-75.042969-75.042969zm45.027344 90.050781h-90.050781v-15.007812c0-24.828125 20.199218-45.027344 45.023437-45.027344 24.828125 0 45.027344 20.199219 45.027344 45.027344zm0 0" fill="#2e8b57" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531.5c-107.578125 0-195.101562 87.523438-195.101562 195.101562 0 38.054688 10.960937 73.585938 29.875 103.636719l-151.667969 137.945313 75.3125 75.3125 137.996094-151.632813c30.039062 18.894531 65.554687 29.84375 103.585937 29.84375 107.582031 0 195.105469-87.523437 195.105469-195.101562 0-107.582031-87.523438-195.105469-195.105469-195.105469zm-242.605469 468.523438-30.8125-30.808594 22.230469-20.21875 28.808594 28.804687zm40.449219-44.445313-26.800781-26.800781 81.707031-74.316406c6.019531 6.917968 12.511719 13.414062 19.433594 19.429687zm202.15625-63.886719c-91.027343 0-165.085937-74.058594-165.085937-165.089844 0-91.027343 74.058594-165.085937 165.085937-165.085937 91.03125 0 165.089844 74.058594 165.089844 165.085937 0 91.03125-74.058594 165.089844-165.089844 165.089844zm0 0" fill="#2e8b57" data-original="#000000" style="" /></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Vendor">Buy eco-friendly food.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 511.918 511.918" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m510.739 208.817-42.6-101.009v-31.875c0-32.053-26.077-58.13-58.13-58.13h-308.101c-32.053 0-58.129 26.077-58.129 58.13v31.875l-42.6 101.009c-1.953 4.632-1.456 9.935 1.323 14.123 2.779 4.189 7.472 6.706 12.498 6.706 6.897 0 12.565-.588 17.426-1.506-3.961 11.154-6.034 23-6.034 35.087v180.03c0 28.043 22.815 50.857 50.857 50.857h357.421c28.042 0 50.856-22.814 50.856-50.857v-180.03c0-12.068-2.068-23.906-6.041-35.089 4.862.919 10.532 1.508 17.433 1.508 5.026 0 9.72-2.518 12.499-6.706 2.779-4.189 3.275-9.491 1.322-14.123zm-436.961-132.884c0-15.511 12.619-28.13 28.129-28.13h308.102c15.511 0 28.13 12.619 28.13 28.13v19.613h-364.361zm-4.921 49.613h374.204l29.051 68.883c-.003-.001-.007-.003-.01-.004-6.51-2.662-13.694-5.59-24.68-6.835-.019-.002-.038-.004-.057-.006-3.415-.385-7.186-.613-11.433-.613-18.036 0-27.904 4.17-35.833 7.52-6.815 2.88-12.198 5.154-24.157 5.154-11.958 0-17.341-2.275-24.156-5.154-7.929-3.35-17.796-7.52-35.832-7.52-18.035 0-27.903 4.17-35.832 7.52-6.814 2.88-12.197 5.154-24.155 5.154s-17.341-2.275-24.156-5.154c-7.929-3.35-17.797-7.52-35.833-7.52s-27.905 4.17-35.834 7.52c-6.815 2.88-12.198 5.154-24.157 5.154-11.96 0-17.343-2.275-24.159-5.154-7.929-3.351-17.798-7.52-35.835-7.52-4.938 0-9.233.307-13.068.815-.068.009-.136.018-.205.028-9.99 1.347-16.75 4.095-22.901 6.611-.005.002-.009.003-.014.005zm-12.466 179.696h250.393l.001 81.872h-250.394zm399.135 138.015c0 11.501-9.356 20.857-20.856 20.857h-357.422c-11.5 0-20.857-9.356-20.857-20.857v-26.143h250.592c16.433 0 29.802-13.345 29.802-29.747l-.001-82.378c0-16.402-13.369-29.747-29.802-29.747h-250.591v-12.016c0-16.853 5.649-33.039 15.98-46.174 1.146-.05 2.34-.081 3.621-.081 11.96 0 17.343 2.274 24.159 5.154 7.929 3.351 17.797 7.52 35.835 7.52 18.037 0 27.905-4.17 35.834-7.52 6.815-2.88 12.198-5.154 24.157-5.154 11.958 0 17.342 2.274 24.157 5.154 7.929 3.35 17.797 7.52 35.833 7.52s27.904-4.17 35.832-7.52c6.815-2.88 12.197-5.154 24.154-5.154 11.958 0 17.341 2.274 24.156 5.154 7.929 3.35 17.796 7.52 35.832 7.52s27.904-4.17 35.833-7.52c6.815-2.88 12.198-5.154 24.157-5.154 1.193 0 2.306.029 3.381.072 1.498 1.713 2.825 3.426 3.933 5.109 8.033 12.192 12.279 26.396 12.279 41.073v180.032z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Avoid_Food_Waste">Avoid food wastage.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="_17-no_plastic" data-name="17-no plastic"><path d="M411.178,147.57A204.286,204.286,0,0,0,300,80.778V67.3A11.992,11.992,0,0,0,308,56V16A12,12,0,0,0,296,4H216a12,12,0,0,0-12,12V56a11.992,11.992,0,0,0,8,11.3V80.778a204.017,204.017,0,0,0-55.953,377.079A52.054,52.054,0,0,0,208,508h96a52.054,52.054,0,0,0,51.953-50.143A204.03,204.03,0,0,0,411.178,147.57Zm-56.6,16.882A51.655,51.655,0,0,0,340.77,139.8l-31.95-31.95a178.881,178.881,0,0,1,65.85,36.51ZM156,429.686a180.535,180.535,0,0,1-18.556-14.159L156,396.971Zm24-56.715L284.971,268H332V412H180ZM180,268h71.029L180,339.029Zm152-24H308.971L332,220.971Zm-56.971,0H180V176.569a27.818,27.818,0,0,1,8.2-19.8l44.284-44.285A12,12,0,0,0,236,104V68h40v36a12,12,0,0,0,3.515,8.485L323.8,156.77a27.818,27.818,0,0,1,8.2,19.8v10.46ZM228,28h56V44H228ZM76,280A179.324,179.324,0,0,1,203.18,107.849L171.23,139.8A51.663,51.663,0,0,0,156,176.569v186.46l-35.543,35.544A179.449,179.449,0,0,1,76,280ZM332,456a28.032,28.032,0,0,1-28,28H208a28.032,28.032,0,0,1-28-28V436H332Zm24-26.314V196.971l35.635-35.635A180.384,180.384,0,0,1,356,429.686Z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Plastic_Alternative">Choose alternatives to plastic.</a>
                </div>
            </div>
            <!--Link Content-->
        </div>
    </div>
</div>
<!--Nav Links-->

<script type='text/javascript'>
    var divElement = document.getElementById('viz1602948264714');
    var vizElement = divElement.getElementsByTagName('object')[0];
    if (divElement.offsetWidth > 800) {
        vizElement.style.width = '900px';
        vizElement.style.height = '527px';
    }
    else if (divElement.offsetWidth > 500) {
        vizElement.style.width = '900px';
        vizElement.style.height = '527px';
    } else {
        vizElement.style.width = '100%';
        vizElement.style.height = '727px';
    } var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1602952915726');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '100%';
    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>