
@{
    ViewBag.Title = "Food_Farming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Composting Banner Block-->
<div class="banner">
    <div class="composting-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="banner_text_color">Composting</h1>
    </div>
</div>
<!--Composting Banner Block-->
<!--Composting step 1 block-->
<div class="container composting-top-block">
    <p class="text-bold list-title">How does composting reduce CO2 emissions?</p>
    <ul>
        <li>Since the food scraps are used in composting, they don’t end up in landfills with other materials causing greenhouse gas emissions.</li>
        <li>Besides that, composting helps to improve soil fertility and replaces harmful synthetic fertilizers that pollute the environment.</li>
    </ul>
    <p class="text-bold">Steps involved in producing compost at home are:</p>
</div>
<div class="site-half" id="start">
    <div class="img-bg-1 left" style="background-image: url('../../images/composting-bin.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 1</span>
                <h2 class="site-section-heading font-secondary mb-5">Choosing correct location and composting bin size</h2>
                <p>The foremost process in composting is deciding the bin size. The bin size depends on the amount of kitchen waste to be added to the composting bin.</p>
                <p>Apart from kitchen waste make sure the compost bin contains some space for brown materials like dry leaves that forms good compost heap.</p>
                <p>Once the size of the composting bin is finalized then find an appropriate location in your lawn area with sufficient sunlight and easy to access so that you can easily fill and empty the composting bin.</p>
            </div>
        </div>
    </div>
</div>
<!--Composting step 1 block-->
<!--Composting step 2 block-->
<div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('../../images/kitchen_waste.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 2</span>
                <h2 class="site-section-heading font-secondary mb-5">Gathering composting materials</h2>
                <p>Keep the container in the kitchen and use it regularly to collect the organic kitchen waste. Once the container is full empty the container into the composting bin.</p>
                <p class="compost-material">Some of the composting materials you can collect to start your compost pile are:</p>
                <ul>
                    <li>Vegetable and fruit scraps</li>
                    <li>Eggshells</li>
                    <li>Grass clippings and dry leaves</li>
                    <li>Shredded newspaper</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Composting step 2 block-->
<!--Composting step 3 block-->
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/filling-bin.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 3</span>
                <h2 class="site-section-heading font-secondary mb-5">Filling the compost bin with composting materials</h2>
                <p>Fill the composting bin with the green organic waste materials collected in a container.</p>
                <p>After that add the brown materials like dry fallen leaves, shredded tree branches, shredded newspaper, straw, and cardboard which prevents odour from green organic kitchen waste and form an effective compost heap.</p>
                <p>Add more brown materials in case the compost pile is too wet. In case the compost is too dry then add more green organic waste materials and sprinkle water to achieve damp like consistency.</p>
            </div>
        </div>
    </div>
</div>
<!--Composting step 3 block-->
<!--Composting step 4 block-->
<div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('../../images/maturing_process.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 4</span>
                <h2 class="site-section-heading font-secondary mb-5">Compost Maturing</h2>
                <p>Various factors such as weather, amount of waste, turning frequency determines the time required to transform these waste materials into compost.</p>
                <p class="compost-material">Some of the factors you can control are:</p>
                <ul>
                    <li>Break down the waste into smaller sizes.</li>
                    <li>Check the compost pile regularly to ensure it is not too dry or wet.</li>
                    <li>Turning the compost pile once every week.</li>
                </ul>
                <p>Stirring up speeds up the composting process and avoids forming up a thick mass of materials at the bottom of the bin.</p>
            </div>
        </div>
    </div>
</div>
<!--Composting step 4 block-->
<!--Composting step 5 block-->
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/compost.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 5</span>
                <h2 class="site-section-heading font-secondary mb-5">Collect the ready compost and use it</h2>
                <p>The compost will turn into dry, brown, and crumbly when it gets ready.</p>
                <p>At this point, the compost can be taken out of the composting bin and fed to your plants.</p>
                <p>This nutrients enriched compost can be added as an additional layer above the existing soil or can be mixed into the soil while planting new plants during the planting season.</p>
            </div>
        </div>
    </div>
</div>
<!--Composting step 5 block-->
<!--Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <a href="~/Home/Avoid_Food_Waste">Learn what you can use for composting.</a>
            <a href="#">How making compost at home will reduce carbon footprint?</a>
            <a href="~/Home/Pot_Farming">Grow your own food at home?</a>
        </div>
    </div>
</div>
<!--Nav Links-->
