
@{
    ViewBag.Title = "Composting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="page-heading">Composting</h2>
</div>
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/image_coming_soon.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 1</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('../../images/image_coming_soon.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 2</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/image_coming_soon.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 3</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('../../images/image_coming_soon.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 4</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/image_coming_soon.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 5</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>

