
@{
    ViewBag.Title = "Food_Farming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
</div>

<div class="container">
    <h2 class="page-heading">Food Composting and Pot Farming</h2>
    <h3 class="page-heading">Food Composting</h3>
</div>

<div class="site-half" id="start">
    <div class="img-bg-1 left" style="background-image: url('../../images/composting-bin.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 1</span>
                <h2 class="site-section-heading font-secondary mb-5">Choosing correct location and composting bin size</h2>
                <p>The foremost process in composting is deciding the bin size. The bin size depends on the amount of kitchen waste to be added to the composting bin.</p>
                <p>Apart from kitchen waste make sure the compost bin contains some space for brown materials like dry leaves that forms good compost heap.</p>
                <p>Once the size of the composting bin is finalized then find an appropriate location in your lawn area with sufficient sunlight and easy to access so that you can easily fill and empty the composting bin.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('../../images/kitchen_waste.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 2</span>
                <h2 class="site-section-heading font-secondary mb-5">Gathering composting materials</h2>
                <p>Keep the container in the kitchen and use it regularly to collect the organic kitchen waste. Once the container is full empty the container into the composting bin.</p>
                <p class="compost-material">Some of the composting materials you can collect to start your compost pile are:</p>
                <ul>
                    <li>Vegetable and fruit scraps</li>
                    <li>Eggshells</li>
                    <li>Grass clippings and dry leaves</li>
                    <li>Shredded newspaper</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/filling-bin.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 3</span>
                <h2 class="site-section-heading font-secondary mb-5">Filling the compost bin with composting materials</h2>
                <p>Fill the composting bin with the green organic waste materials collected in a container.</p>
                <p>After that add the brown materials like dry fallen leaves, shredded tree branches, shredded newspaper, straw, and cardboard which prevents odour from green organic kitchen waste and form an effective compost heap.</p>
                <p>Add more brown materials in case the compost pile is too wet. In case the compost is too dry then add more green organic waste materials and sprinkle water to achieve damp like consistency.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('../../images/maturing_process.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 4</span>
                <h2 class="site-section-heading font-secondary mb-5">Compost Maturing</h2>
                <p>Various factors such as weather, amount of waste, turning frequency determines the time required to transform these waste materials into compost.</p>
                <p class="compost-material">Some of the factors you can control are:</p>
                <ul>
                    <li>Break down the waste into smaller sizes.</li>
                    <li>Check the compost pile regularly to ensure it is not too dry or wet.</li>
                    <li>Turning the compost pile once every week.</li>
                </ul>
                <p>Stirring up speeds up the composting process and avoids forming up a thick mass of materials at the bottom of the bin.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-half" id="start">
    <div class="img-bg-1" style="background-image: url('../../images/compost.jpg');" data-aos="fade"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5 composting-block">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Step 5</span>
                <h2 class="site-section-heading font-secondary mb-5">Collect the ready compost and use it</h2>
                <p>The compost will turn into dry, brown, and crumbly when it gets ready.</p>
                <p>At this point, the compost can be taken out of the composting bin and fed to your plants.</p>
                <p>This nutrients enriched compost can be added as an additional layer above the existing soil or can be mixed into the soil while planting new plants during the planting season.</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h3 class="page-heading">Pot Farming</h3>
    <p class="text-bold">Click on the below veggies tiles to find out which how to grow them at home.</p>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#tomatoe">
                <img src="~/images/tomatoes-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#coriander">
                <img src="~/images/coriander-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#carrot">
                <img src="~/images/carrot-farming.jpg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#cumquat">
                <img src="~/images/kumquats-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#garlic">
                <img src="~/images/garlic-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#rosemary">
                <img src="~/images/rosemary-farming.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tomatoe">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Tomatoes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Tomato-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Tomato-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Tomato-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Tomato-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                                <li role="presentation"><a href="#Tomato-section5" aria-controls="messages" role="tab" data-toggle="tab">Step 5</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Tomato-section1">
                                    <p>Find a suitable location with plenty of sunlight. Ensure the pot used for planting is big enough and the place where the pot will be placed is having ample space for the plant to grow.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section2">
                                    <p>Fill up the pot with an equal proportion of planting mix and soil. Then dig a hole deep enough and place the seedling such that only the top few inches of the seedling appear above the soil.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section3">
                                    <p>Stick your finger deep into the soil to check if it feels damp. If the mixture deep below the surface of the soil feels damp, then pour some water into the pot. Remember tomato seedlings don’t require much water.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section4">
                                    <p>Provide support to the tomato plant by using either strong wooden or metal post or by building a cage around the plant. Add and mix the organic fertilizer every two to three weeks.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section5">
                                    <p>Prune the yellow flower to enable the plant to grow bigger prior to its fruit production. Pruning also allows the plant to produce large quantities of tomatoes. Enjoy the harvest.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="coriander">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Coriander</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Coriander-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Coriander-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Coriander-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Coriander-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Coriander-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carrot">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Carrots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Carrot-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Carrot-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Carrot-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Carrot-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Carrot-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cumquat">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Cumquats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Cumquat-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Cumquat-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Cumquat-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Cumquat-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Cumquat-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="garlic">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Garlic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Garlic-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Garlic-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Garlic-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Garlic-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Garlic-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rosemary">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Rosemary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Rosemary-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Rosemary-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Rosemary-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Rosemary-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Rosemary-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

