
@{
    ViewBag.Title = "Food_Farming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="page-heading">Pot Farming</h2>
    <p class="text-bold">Click on the below veggies tiles to find out which how to grow them at home.</p>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#tomatoe">
                <img src="~/images/tomatoes-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#coriander">
                <img src="~/images/coriander-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#carrot">
                <img src="~/images/carrot-farming.jpg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#cumquat">
                <img src="~/images/kumquats-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#garlic">
                <img src="~/images/garlic-farming.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#rosemary">
                <img src="~/images/rosemary-farming.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tomatoe">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Tomatoes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Tomato-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Tomato-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Tomato-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Tomato-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Tomato-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="coriander">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Coriander</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Coriander-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Coriander-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Coriander-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Coriander-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Coriander-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carrot">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Carrots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Carrot-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Carrot-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Carrot-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Carrot-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Carrot-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cumquat">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Cumquats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Cumquat-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Cumquat-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Cumquat-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Cumquat-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Cumquat-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="garlic">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Garlic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Garlic-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Garlic-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Garlic-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Garlic-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Garlic-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rosemary">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Rosemary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Rosemary-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Rosemary-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Rosemary-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Rosemary-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Rosemary-section1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

