@{
    ViewBag.Title = "Home";
}

<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">



<div class="site-wrap">
    <!--Bootstrap Carousal-->
    <div class="slide-one-item home-slider owl-carousel">
        <div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/homepage_banner4.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center" data-aos="fade">
                        <h2 class="text-uppercase">Reduce Your Carbon Footprint with eco-friendly habits</h2>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/homepage_banner2.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center" data-aos="fade">
                        <h1 class="font-secondary  font-weight-bold text-uppercase">6 Ways to reduce food waste</h1>
                        <a href="~/Home/Avoid_Food_Waste" class="learn_more">Start Exploring</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/homepage_banner3.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center" data-aos="fade">
                        <h1 class="font-secondary font-weight-bold text-uppercase">Reduce C02 with a plant or two</h1>
                        <a href="~/Home/Pot_Farming" class="learn_more">Start Learning</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/stop_plastic.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center" data-aos="fade">
                        <h1 class="font-secondary font-weight-bold text-uppercase">Plastic Impact</h1>
                        <a href="~/Home/Plastic_Impact" class="learn_more">Read More</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!--Bootstrap Carousal-->
    <!--<div class="slant-1"></div>-->
    <!--Search Title-->

    <div class="site-section first-section" style="">
        <div class="container">
            <div class="col-md-12 text-center">
                <p class="font-secondary text-uppercase font-weight-bold">Did you know that the plastic used in food <br /> packaging has a huge impact on carbon emissions?</p>
                <h1 class="site-section-heading font-secondary">Take your first step by choosing eco-friendly food</h1>
            </div>
        </div>

        <div class="py-3 bg-primary">
            <div class="container">
                <div class="row">
                    <form class="form-search col-md-12">
                        <div class="row border-responsive">
                            <div class=" col-md-4">
                                <h5 class="text-uppercase text-white mb-4" for="offer-types">Search Category</h5>
                                <select name="category" style="height:40px;width:200px;margin-bottom:30px">
                                    <option value="">All</option>
                                    <option value="Baby food">Baby food</option>
                                    <option value="Bakery">Bakery</option>
                                    <option value="Bee-products">Bee products</option>
                                    <option value="Cafe">Cafe</option>
                                    <option value="Canned food">Canned food</option>
                                    <option value="Coffee">Coffee</option>
                                    <option value="Condinments">Condinments</option>
                                    <option value="Dairy">Dairy</option>
                                    <option value="Deli">Deli</option>
                                    <option value="Dry products">Dry products</option>
                                    <option value="Eggs">Eggs</option>
                                    <option value="Fruits">Fruits</option>
                                    <option value="Grains">Grains</option>
                                    <option value="HerbsN`Tea">HerbsN`Tea</option>
                                    <option value="Meat">Meat</option>
                                    <option value="Nuts">Nuts</option>
                                    <option value="Oil">Oil</option>
                                    <option value="asta and Noodles">Pasta and Noodles</option>
                                    <option value="Sauces">Sauces</option>
                                    <option value="Seafood">Seafood</option>
                                    <option value="Sweets">Sweets</option>
                                    <option value="Soy">Soy</option>
                                    <option value="Vegetables">Vegetables</option>
                                    <option value="Vinegar">Vinegar</option>
                                    <option value="Wine">Wine</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <h5 class="text-uppercase text-white mb-4">Input Postcode</h5>
                                <input type="text" name="postcode" class="form-control" placeholder="Postcode">
                            </div>

                            <div class="col-md-4 text-center">
                                <h5 class="text-uppercase text-white mb-4"><br /></h5>

                                <input type="submit" class="btn btn-bg-primary font-secondary text-uppercase" value="Search">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Plastic Impact Section-->
    <!--<div>
        <div class="site-half">
            <div class="img-bg-1 col-12 col-md-6" style="background-image: url('../../images/Home-Plastic.jpg');" data-aos="fade"></div>
            <div class="container">
                <div class="row no-gutters align-items-stretch">
                    <div class="col-lg-5 ml-lg-auto py-5">
                        <span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic</span>
                        <h2 class="site-section-heading font-secondary mb-5">On Marine Life</h2>
                        <p>Such a useful thing as plastic, that already has become an integral part of our everyday life, is actually highly dangerous for our environment.</p>
                        <p>Not only is it harmful for animals, but also it is the main source of fracking. Moreover, plastic has begun to enter the food chain and it ends up on our plates.</p>
                        <p>Have you ever thought how much plastic we consume? Think about it next time you go to a supermarket to get some food.</p>
                        <p>
                            <a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--Plastic Impact Section-->
    <!--Call2Action-->
    <div class="site-section services-slider-block">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold">Services</span>
                    <h2 class="site-section-heading font-secondary">Build a better world with our hands</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 block-13 nav-direction-white">
                    <div class="nonloop-block-13 owl-carousel">

                        <div class="media-image">
                            <img src="~/images/img_5.jpg" alt="Image" class="img-fluid">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Impact of Plastic</h2>
                                <p>Knowledge of the problems of plastic waste</p>
                                <center><a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/img_1.jpg" alt="Image" class="img-fluid">
                            <div class="media-image-body">

                                <h2 class="font-secondary text-uppercase">Plastic Alternatives</h2>
                                <p>Learn to use alternatives instead of plastics</p>
                                <center><a href="~/Home/Plastic_Alternative" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/organic_vendor.jpg" alt="Image" class="img-fluid">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Search Eco-Friendly Shop</h2>
                                <p>Find Eco-Friendly Shop on Map nearby location</p>
                                <center><a href="~/Home/Vendor" class="btn btn-primary text-white px-4">Search Now</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/img_4.jpg" alt="Image" class="img-fluid pic4">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Bin Classification</h2>
                                <p>Different colors for the correct use of trash cans posters</p>
                                <center><a href="~/Home/Waste_Seperation" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/img_6.jpg" alt="Image" class="img-fluid pic4">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Avoid Food Waste</h2>
                                <p>Learn the methods to reduce food waste</p>
                                <center><a href="~/Home/Avoid_Food_Waste" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/composting-bin.jpg" alt="Image" class="img-fluid pic4" />
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Composting</h2>
                                <p>Learn how to use food scraps to create compost</p>
                                <center><a href="~/Home/Composting" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/pot-farm-slider.jpg" alt="Image" class="img-fluid pic4" />
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Pot Farming</h2>
                                <p>Learn how to grow your own food at home</p>
                                <center><a href="~/Home/Pot_Farming" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Call2Action-->

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>