@{
    ViewBag.Title = "Home";
}

<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">



<div class="site-wrap">
    <!--Bootstrap Carousal-->
    <div class="slide-one-item home-slider owl-carousel">
        <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center" data-aos="fade">
                        <h1 class="font-secondary  font-weight-bold text-uppercase">Plastic or Planet</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/stop_plastic.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center" data-aos="fade">
                        <h1 class="font-secondary  font-weight-bold text-uppercase"></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/hero_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center" data-aos="fade">
                        <h1 class="font-secondary font-weight-bold text-uppercase">Reducing Plastic Starts with US</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bootstrap Carousal-->

    <div class="slant-1"></div>

    <!--Search Title-->

    <div class="site-section first-section">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="site-section-heading text-center font-secondary">Search Nearby Eco-Friendly Shops</h2>
            </div>
        </div>

        <div class="py-5 bg-primary">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <form class="form-search col-md-12">
                            <div class="row border-responsive">
                                <div class=" col-md-4">
                                    <h4 class="text-uppercase text-white mb-4" for="offer-types">Search Category</h4>
                                    <div class="dropdown">
                                        <button class="mb-4 btn btn-default dropdown-toggle text-center" type="button" id="sampleDropdownMenu" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true" style="background-color:white">
                                            <span class="caret">Search Category</span>
                                        </button>

                                        <ul class="dropdown-menu" aria-labelledby="sampleDropdownMenu">

                                            <li>
                                                <label>
                                                    <input type="checkbox"> Meat
                                                </label>
                                            </li>

                                            <li>
                                                <label>
                                                    <input type="checkbox"> Fruit
                                                </label>
                                            </li>

                                            <li>
                                                <label>
                                                    <input type="checkbox"> Vegetables
                                                </label>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h4 class="text-uppercase text-white mb-4">Input Postcode</h4>
                                    <input type="text" id="fullname" class="form-control" placeholder="Postcode">
                                </div>

                                <div class="col-md-4 text-center">
                                    <h4 class="text-uppercase text-white mb-4"><br /></h4>

                                    <input type="submit" href="#" class="btn btn-bg-primary font-secondary text-uppercase" value="Search">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Search Section-->
    <!--Plastic Impact Section-->
    <div class="site-half" id="start">
        <div class="img-bg-1" style="background-image: url('../../images/rubber-duck-4432703.jpg');" data-aos="fade"></div>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 ml-lg-auto py-5">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic</span>
                    <h2 class="site-section-heading font-secondary mb-5">On Marine Life</h2>
                    <p>Almost 20 years ago, in 1992, a ship loaded with rubber ducks and other bath toys was going from Hong Kong to the USA. The cargo ship crashed on its way, setting free 28000 rubber ducks.</p>
                    <p>These toys are commonly made of PVC (synthetic plastic), that has a lifespan of a giant tortoise, around 100 years. The little rubber ducks are still being found on beaches all over the world. The yellow flotilla will be floating in the ocean till the end of this century.</p>
                    <p>
                        <a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-half block">
        <div class="img-bg-1 right" style="background-image: url('../../images/3909426.jpg');" data-aos="fade"></div>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 mr-lg-auto py-5">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic</span>
                    <h2 class="site-section-heading font-secondary mb-5">Killing Marine Animals</h2>
                    <p>Imagine a rubber duck floating in the ocean for 100 years. What if I tell you that it is not the only plastic item you can find there? Plastic bottles, lids, straws, containers are polluting our ocean. Marine animals use plastic as their homes, eat it, get choked by it and die. Not only plastic is toxic, but also it endangers some of the species living underwater as well as on land.</p>
                    <p>The world will change, humanity will finally find a cure to cancer, colonise other planets, but a plastic bottle I used today will still be there as if nothing has happened.</p>
                    <p><a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--Plastic Impact Section-->
    <!--Call2Action-->
    <div class="site-section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold">Services</span>
                    <h2 class="site-section-heading font-secondary">Build a better world with our hands</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 block-13 nav-direction-white">
                    <div class="nonloop-block-13 owl-carousel">

                        <div class="media-image">
                            <img src="~/images/img_5.jpg" alt="Image" class="img-fluid">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Problems of Plastic</h2>
                                <p>Knowledge of the problems of plastic waste</p>
                                <center><a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/img_1.jpg" alt="Image" class="img-fluid">
                            <div class="media-image-body">

                                <h2 class="font-secondary text-uppercase">What can we do?</h2>
                                <p>Learn more about reducing plastics waste</p>
                                <center><a href="~/Home/Plastic_Alternative" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/organic_vendor.jpg" alt="Image" class="img-fluid">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Search Eco-Friendly Shop</h2>
                                <p>Find Eco-Friendly Shop on Map nearby location</p>
                                <center><a href="~/Home/Vendor" class="btn btn-primary text-white px-4">Search Now</a></center>
                            </div>
                        </div>

                        <div class="media-image">
                            <img src="~/images/img_4.jpg" alt="Image" class="img-fluid pic4">
                            <div class="media-image-body">
                                <h2 class="font-secondary text-uppercase">Garbage Classification</h2>
                                <p>Different colors for the correct use of trash cans posters</p>
                                <center><a href="~/Home/Waste_Seperation" class="btn btn-primary text-white px-4">Learn More</a></center>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Call2Action-->

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>