
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 30px">
    <center>
        <h2>Page not Found</h2>
        <p>Looks like this page is missing.  </p>
        <p>Do you want to go back to the home page?</p>
      
        <a href="~/Home" class="btn-default"><span class="text-white btn btn-primary">Home Page</span></a>
    </center>
</div>