
@{
    ViewBag.Title = "Packaging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <!--Page Heading-->
    <h2 class="page-heading">Plastic Packaging Alternatives</h2>
    <!--Page Heading-->
    <!--Page Banner-->
    <div class="packaging-img-block"></div>
    <!--Page Banner-->
    <!--Page Content-->
    <div class="row">
        <div class="col-sm-12 col-md-12 problem-block">
            <h4>Did you know…?</h4>
            <ul>
                <li>In 2018 more than 5 million tonnes was used for food packaging in Australia!</li>
                <li>There are a lot of eco friendly alternatives to plastic packaging.</li>
                <li>Carton, Glass, Paper and even Silicon and Seaweed are safe for food packaging as well as for the environment.</li>
            </ul>
        </div>
    </div>
    <!--Page Content-->
</div>

<!--Plastic Alternative Section-->
<div class="container">
    <div class="col-md-12 text-center">
        <h2 class="site-section-heading text-center font-secondary">Click on the image for further information</h2>
    </div>
</div>


<div class="alternatives">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="plastic_prod" data-toggle="modal" data-target="#plastic-bottle">
                    <img src="~/images/plastic_bottle.png" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-toggle="modal" data-target="#plastic-squeeze">
                <div class="plastic_prod">
                    <img src="~/images/plastic_squeeze.png" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-toggle="modal" data-target="#plastic-wrap">
                <div class="plastic_prod">  
                    <img src="~/images/plastic_wrap.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Plastic Alternative Section-->

<!-- Plastic Bottle Modal -->
<div class="modal fade" id="plastic-bottle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Plastic Bottle Alternatives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="plastic-alt-img">
                            <img src="~/images/plastic_bottle_alt.png" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="plastic_alt-content">
                            <p>Beverages like milk, water, juice can be also packed in glass bottles or cartons.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Plastic Squeeze Modal -->
<div class="modal fade" id="plastic-squeeze">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Plastic Squeeze Alternatives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="plastic-alt-img">
                            <img src="~/images/plastic_squeeze_alt.png" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="plastic_alt-content">
                            <p>Honey, jam, mayonnaise and sauces can be packed in glass jars instead, that allow a customer to also see the quality of the product.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Plastic Wrap Modal -->
<div class="modal fade" id="plastic-wrap">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Plastic Wrap Alternatives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="plastic-alt-img">
                            <img src="~/images/plastic_wrap_alternatives.png" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="plastic_alt-content">
                            <p>Usually plastic wrap is used for meat, seafood and cheese. A great eco-friendly alternative is a baking paper wrap and paper packaging.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

