@{
    ViewBag.Title = "Plastic_Impact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="site-blocks-cover inner-page overlay" style="background-image: url('../../images/plastic_Impact.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 text-center" data-aos="fade">
                <h1 class="text-uppercase">Impact of Plastic Packaging</h1>
            </div>
        </div>
    </div>

    <!--Plastic Impact Section-->
    <div class="site-half plastic-gif-block" id="start">
        <div class="left">
            <img class="img-bg-1 plastic-impact_img" src="~/images/Plastic-Impact.gif" />
        </div>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 ml-lg-auto py-5">
                    <!--<span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic Packaging</span>-->
                    <p>Such a useful thing as plastic, that already has become an integral part of our everyday life, is actually highly dangerous for our environment.</p>
                    <p>Not only is it harmful for animals, but also it is the main source of fracking. Moreover, plastic has begun to enter the food chain and it ends up on our plates.</p>
                    <p>Have you ever thought how much plastic we consume? Think about it next time you go to a supermarket to get some food.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-half block line-chart-block">
        <canvas id="line-chart" class="img-bg-1 right" style="position: center;"></canvas>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 mr-lg-auto py-5">
                    <!--<span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic Packaging</span>-->
                    <p>From berries to meat, from fresh to frozen produce, everything is packed in plastic. As of 2018 almost 3.5 millions of plastic waste was produced in Australia and less that 5% of it was actually recycled.</p> 
                    <p>Where did the rest go? Landfill, oceans, you name it.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Plastic Impact Section-->
</div>

<!--Data Visualisation script-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'bar',
        data: {
            labels: ['2008 - 09', '2009 - 10', '2010 - 11', '2011 - 12', '2012 - 13', '2013 - 14', '2014 - 15', '2015 - 16', '2016 - 17', '2017 - 18'],

            datasets: [{
                type: "line",
                data: [143649, 154806, 146203, 149454, 152001, 150553, 160533.84, 149127.57, 130695.1, 137167.42],
                label: 'Plastic waste recovered for reprocessing',
                borderColor: "#3e95cd",
                fill: false
            }, {
                type: "bar",
                label: "Plastic waste produced",
                borderColor: "ffff00",
                data: [, , , , , 3167000, 2912000, 2955400, 3407300],
                fill: false
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: "Comparison of platic waste produced vs recycled in Australia"

            }
        }

    });
</script>
<!--Data Visualisation script-->