@{
    ViewBag.Title = "Plastic_Impact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Plastic Impact Banner Block-->
<div class="banner">
    <div class="plastic-impact-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="banner_text_color">Plastic Impact</h1>
    </div>
</div>
<!--Plastic Impact Banner Block-->
<div class="container">
    <!--Plastic Impact Section-->
    <div class="site-half plastic-gif-block" id="start">
        <div class="left">
            <img class="img-bg-1 plastic-impact_img" src="~/images/Plastic-Impact.gif" />
        </div>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 ml-lg-auto py-5">
                    <!--<span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic Packaging</span>-->
                    <p>Such a useful thing as plastic, that already has become an integral part of our everyday life, is actually highly dangerous for our environment.</p>
                    <p>Not only is it harmful for animals, but also it is the main source of fracking. Moreover, plastic has begun to enter the food chain and it ends up on our plates.</p>
                    <p>Have you ever thought how much plastic we consume? Think about it next time you go to a supermarket to get some food.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-half block line-chart-block">
        <canvas id="line-chart" class="img-bg-1 right col-12" style="position: center;"></canvas>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 mr-lg-auto py-5">
                    <!--<span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic Packaging</span>-->
                    <p>From berries to meat, from fresh to frozen produce, everything is packed in plastic. As of 2018 almost 3.5 millions of plastic waste was produced in Australia and less that 5% of it was actually recycled.</p>
                    <p>Where did the rest go? Landfill, oceans, you name it.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Plastic Impact Section-->
</div>

<!--YouTube Vedio for introducting why reduce plastic-->
<div class="col-12" style="margin-top:40px">
    <center>
        <h2>Why do we need to reduce plastic</h2>
        <iframe style="width:80%;height:500px" src="https://www.youtube.com/embed/Yomf5pBN8dY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </center>
</div>

<!--Data Visualisation script-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'bar',
        data: {
            labels: ['2008 - 09', '2009 - 10', '2010 - 11', '2011 - 12', '2012 - 13', '2013 - 14', '2014 - 15', '2015 - 16', '2016 - 17', '2017 - 18'],

            datasets: [{
                type: "line",
                data: [143649, 154806, 146203, 149454, 152001, 150553, 160533.84, 149127.57, 130695.1, 137167.42],
                label: 'Plastic waste recovered for reprocessing',
                borderColor: "#3e95cd",
                fill: false
            }, {
                type: "bar",
                label: "Plastic waste produced",
                borderColor: "ffff00",
                data: [, , , , , 3167000, 2912000, 2955400, 3407300],
                fill: false
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: "Comparison of platic waste produced vs recycled in Australia"

            }
        }

    });
</script>
<!--Data Visualisation script-->
<!--Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 512.637 512.637" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" id="XMLID_910_" d="m321.873 85.7c-6.34-5.072-13.479-9.225-21.055-12.279v-73.421h-89v73.421c-7.575 3.055-14.715 7.207-21.054 12.279-23.374 18.699-36.779 46.591-36.779 76.523v306.303c0 24.322 19.788 44.11 44.11 44.11 11.145 0 21.338-4.155 29.111-10.996 7.773 6.841 17.967 10.996 29.111 10.996s21.338-4.155 29.111-10.996c7.773 6.841 17.967 10.996 29.111 10.996 24.322 0 44.11-19.788 44.11-44.11v-306.302c.002-29.933-13.403-57.825-36.776-76.524zm-137.888 159.639h144.666v81.333h-144.666zm144.666 223.187c0 7.78-6.33 14.11-14.11 14.11-7.781 0-14.111-6.33-14.111-14.11v-5.541h-30v5.541c0 7.78-6.33 14.11-14.111 14.11s-14.111-6.33-14.111-14.11v-5.541h-30v5.541c0 7.78-6.33 14.11-14.111 14.11-7.78 0-14.11-6.33-14.11-14.11v-111.854h144.666v111.854zm-144.666-253.187v-53.115c0-20.77 9.302-40.123 25.521-53.098 6.065-4.853 13.281-8.396 20.867-10.247l11.445-2.792v-66.087h29v66.087l11.445 2.792c7.586 1.851 14.802 5.395 20.867 10.247h.001c16.218 12.975 25.52 32.328 25.52 53.098v53.115z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Plastic_Alternative">Learn more about plastic alternatives.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 256 256" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><switch xmlns="http://www.w3.org/2000/svg"><foreignObject height="1" requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" width="1" /><g><g><path d="m199.978 206.256-30.378-30.378c-3.771-3.771-3.817-9.856-.14-13.684-.06.057-.12.115-.179.174l-6.913 6.914c-3.818 3.818-3.818 10.01 0 13.828l30.378 30.378c3.819 3.819 10.01 3.819 13.829-.001l6.913-6.913c.047-.047.093-.095.139-.143-3.831 3.642-9.89 3.584-13.649-.175z" fill="#ebe7f2" data-original="#ebe7f2" style="" /><g fill="#846f75"><path d="m215.255 190.977-30.378-30.377c-4.788-4.787-12.578-4.787-17.364 0l-6.913 6.914c-2.318 2.319-3.596 5.402-3.596 8.682.001 3.279 1.277 6.362 3.597 8.681l30.378 30.378c2.395 2.394 5.538 3.59 8.682 3.59 3.145 0 6.29-1.197 8.683-3.591l6.912-6.913c4.786-4.787 4.786-12.576-.001-17.364zm-3.535 13.829-6.912 6.913c-2.838 2.838-7.456 2.837-10.294.001l-30.378-30.378c-1.374-1.374-2.132-3.202-2.132-5.145 0-1.944.757-3.771 2.131-5.146l6.913-6.914c1.375-1.374 3.202-2.132 5.146-2.132s3.772.757 5.147 2.132l30.378 30.377c1.374 1.375 2.131 3.202 2.131 5.146.001 1.944-.756 3.771-2.13 5.146z" fill="#2e8b57" data-original="#846f75" style="" class="" /><path d="m107.28 54.566c-29.067 0-52.715 23.647-52.715 52.714s23.647 52.715 52.715 52.715 52.715-23.647 52.715-52.715c0-29.066-23.647-52.714-52.715-52.714zm0 100.429c-26.31 0-47.715-21.405-47.715-47.715s21.405-47.714 47.715-47.714 47.715 21.404 47.715 47.714-21.405 47.715-47.715 47.715z" fill="#2e8b57" data-original="#846f75" style="" class="" /><path d="m149.458 159.75c-.878-.878-2.266-.981-3.263-.236-11.308 8.438-24.765 12.898-38.915 12.898-35.914 0-65.132-29.218-65.132-65.132s29.218-65.132 65.132-65.132 65.133 29.218 65.133 65.132c0 14.151-4.46 27.607-12.899 38.915-.742.995-.642 2.385.236 3.263l4.42 4.42c.977.977 2.559.977 3.535 0 .977-.977.977-2.559 0-3.535l-2.914-2.914c8.266-11.804 12.622-25.638 12.622-40.148 0-38.671-31.462-70.132-70.133-70.132s-70.132 31.46-70.132 70.131 31.461 70.132 70.132 70.132c14.51 0 28.344-4.356 40.148-12.621l2.914 2.914c.977.977 2.559.977 3.535 0 .977-.977.977-2.559 0-3.535z" fill="#2e8b57" data-original="#846f75" style="" class="" /></g><path d="m130.28 125.483h-45.999c-1.381 0-2.5-1.119-2.5-2.5s1.119-2.5 2.5-2.5h45.999c1.381 0 2.5 1.119 2.5 2.5s-1.119 2.5-2.5 2.5z" fill="#ebe7f2" data-original="#ebe7f2" style="" /><path d="m130.28 136.525h-45.999c-1.381 0-2.5-1.119-2.5-2.5v-21.335c0-7.897 5.657-14.499 13.132-15.965-2.01-2.646-3.146-5.916-3.146-9.38 0-8.554 6.959-15.513 15.513-15.513 8.555 0 15.514 6.959 15.514 15.513 0 3.464-1.136 6.734-3.146 9.38 7.475 1.466 13.132 8.067 13.132 15.965v21.335c0 1.381-1.119 2.5-2.5 2.5zm-43.499-5h40.999v-18.835c0-6.214-5.056-11.269-11.27-11.269h-3.279c-1.153 0-2.157-.79-2.43-1.911-.272-1.121.259-2.283 1.284-2.811 3.521-1.814 5.708-5.397 5.708-9.354 0-5.797-4.717-10.513-10.514-10.513s-10.513 4.716-10.513 10.513c0 3.956 2.187 7.54 5.708 9.354 1.025.528 1.556 1.69 1.284 2.811-.273 1.121-1.276 1.911-2.43 1.911h-3.279c-6.214 0-11.269 5.055-11.269 11.269v18.835z" fill="#2e8b57" data-original="#ed9abc" style="" class="" /></g></g></switch></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Vendor">Find out more about eco-friendly vendors.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><g><g><g><path d="m291.005 396.299h-18.437c-4.289 0-7.766-3.476-7.766-7.766 0-4.289 3.476-7.766 7.766-7.766h18.437c3.487 0 5.284-2.298 5.895-3.286s1.863-3.623.303-6.742l-5.934-11.866c-1.918-3.836-.364-8.501 3.472-10.419 3.838-1.916 8.501-.363 10.419 3.472l5.933 11.866c3.507 7.014 3.14 15.184-.983 21.854-4.121 6.671-11.264 10.653-19.105 10.653z" fill="#2e8b57" data-original="#000000" style="" /></g><g><path d="m281.658 330.04c-2.849 0-5.592-1.573-6.952-4.294l-12.508-25.016c-1.729-3.458-4.91-3.831-6.198-3.831-1.287 0-4.469.373-6.198 3.831l-12.505 25.01c-1.917 3.837-6.584 5.393-10.418 3.473-3.836-1.918-5.391-6.583-3.473-10.418l12.505-25.011c3.829-7.659 11.527-12.417 20.089-12.417s16.26 4.758 20.09 12.416l12.508 25.016c1.918 3.836.363 8.501-3.472 10.419-1.116.557-2.302.822-3.468.822z" fill="#2e8b57" data-original="#000000" style="" /></g><g><path d="m239.433 396.299h-18.437c-7.842 0-14.984-3.982-19.107-10.653-4.122-6.67-4.49-14.84-.983-21.854l5.932-11.865c1.917-3.836 6.582-5.392 10.419-3.472 3.835 1.918 5.39 6.583 3.472 10.419l-5.932 11.865c-1.559 3.119-.307 5.754.303 6.742.611.988 2.408 3.286 5.895 3.286h18.437c4.289 0 7.766 3.476 7.766 7.766.001 4.289-3.476 7.766-7.765 7.766z" fill="#2e8b57" data-original="#000000" style="" /></g></g></g><g><path d="m410.965 116.693-24.921-87.223c-4.958-17.351-21.023-29.47-39.069-29.47h-181.95c-18.046 0-34.111 12.119-39.07 29.47l-24.92 87.223c-10.445 2.626-18.202 12.093-18.202 23.34v33.133c0 10.787 7.134 19.939 16.932 22.987l6.074 103.27c.234 3.985 3.539 7.06 7.48 7.06.147 0 .298-.004.447-.013 4.135-.244 7.29-3.793 7.047-7.928l-4.01-68.176h207.548c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-208.43l-1.067-18.133h282.291l-1.067 18.133h-41.727c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h40.845l-12.315 209.372c-.796 13.53-12.036 24.128-25.589 24.128h-202.584c-13.553 0-24.793-10.598-25.589-24.128l-6.541-111.197c-.243-4.135-3.791-7.283-7.928-7.047-4.135.244-7.29 3.793-7.047 7.928l6.541 111.197c1.15 19.548 16.056 35.23 34.955 37.854v18.027c0 8.547 6.953 15.5 15.5 15.5h182.801c8.547 0 15.5-6.953 15.5-15.5v-18.026c18.899-2.624 33.805-18.306 34.955-37.854l14.38-244.466c9.798-3.048 16.932-12.2 16.932-22.987v-33.133c0-11.248-7.758-20.716-18.202-23.341zm-63.065 379.807c0 .276-.225.5-.5.5h-182.8c-.275 0-.5-.224-.5-.5v-17.633h183.8zm-207.522-462.909c3.128-10.946 13.264-18.591 24.647-18.591h181.949c11.384 0 21.52 7.645 24.646 18.591l23.535 82.376h-33.607l-12.696-63.487c-2.242-11.21-12.167-19.347-23.6-19.347h-138.504c-11.433 0-21.357 8.137-23.6 19.347l-12.698 63.486h-33.607zm205.874 82.376h-180.504l12.109-60.544c.845-4.224 4.584-7.289 8.891-7.289h138.504c4.307 0 8.046 3.065 8.891 7.289zm67.915 57.2c0 4.999-4.067 9.067-9.067 9.067h-298.2c-5 0-9.067-4.067-9.067-9.067v-33.133c0-4.999 4.067-9.066 9.067-9.066h298.2c5 0 9.067 4.067 9.067 9.066z" fill="#2e8b57" data-original="#000000" style="" /><path d="m291.005 381.033h-18.438c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h18.438c7.749 0 14.807-3.935 18.88-10.527 4.074-6.591 4.438-14.664.972-21.595l-5.933-11.866c-1.852-3.705-6.357-5.205-10.061-3.355-3.705 1.853-5.207 6.357-3.354 10.062l5.933 11.866c1.619 3.239.319 5.975-.315 7.001-.636 1.028-2.502 3.414-6.122 3.414z" fill="#2e8b57" data-original="#000000" style="" /><path d="m275.853 293.903c-3.784-7.568-11.392-12.27-19.853-12.27s-16.068 4.701-19.852 12.27l-12.505 25.01c-1.853 3.705-.351 8.21 3.354 10.062 3.706 1.854 8.211.35 10.062-3.354l12.505-25.01c1.245-2.491 3.651-3.977 6.436-3.977s5.191 1.487 6.436 3.977l12.507 25.015c1.313 2.628 3.963 4.148 6.714 4.147 1.127 0 2.272-.255 3.348-.793 3.705-1.853 5.207-6.358 3.354-10.063z" fill="#2e8b57" data-original="#000000" style="" /><path d="m220.492 358.754c1.852-3.705.351-8.21-3.354-10.062-3.706-1.853-8.211-.35-10.062 3.354l-5.933 11.865c-3.466 6.93-3.103 15.003.972 21.595 4.073 6.592 11.131 10.527 18.88 10.527h18.438c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-18.438c-3.62 0-5.486-2.387-6.12-3.413-.635-1.026-1.935-3.762-.315-7.001z" fill="#2e8b57" data-original="#000000" style="" /></g></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Waste_Seperation">If you have plastic waste you know how to segregate it?</a>
                </div>
            </div>
            <!--Link Content-->
        </div>
    </div>
</div>
<!--Nav Links-->