
@{
    ViewBag.Title = "Plastic_Impact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="page-heading">Impact of Plastic Rubbish</h2>
    <div class="packaging-img-block"></div>
    <div class="row">
        <div class="col-sm-12 col-md-6 problem-block">
            <p>Just like several modern products and technology, plastic has negative effects. The negative effects of plastic can be hard to observe and may not appear to affect us directly, but plastic damages our planet and health.</p>
            <p>Globally, the world produces more than 400 million tons of plastic every year and the vast majority of plastic products are not recyclable. United Nations published a report estimating that 79% of plastic waste is thrown in landfills, dumps or the environment, while about 12% is incinerated and only 9% recycled. In fact, 32% of packaging waste-which is estimated a 141 million tonnes- in 2015, leaked into the environment.</p>
            <h4>The Damage of Plastic</h4>
            <p>Plastic leads to destroying the marine life and polluting the earth. 
            Millions of tons of plastic are in the environment as waste, especially in the oceans and seas. 
            Some estimates point out that the volume of plastic in the ocean will be more than fish by 2050. 
            The ocean is expected to contain 1 tonne of plastic for every 3 tonnes of fish by 2025. 
            More than 80% of marine litter is plastic which kills up to 1 million seabirds and 100,000 marine creatures each year by ingesting it. 
            A report pointed out that the annual economic damage plastics have on the world's marine ecosystem is at least $13 billion and the cost to clean up beaches from plastic is higher than manufacturing.</p>
            <span>Reasons that make plastic recycling difficult are:</span>
            <ul>
                <li>Some packaging plastic is difficult to recycle because the production of this plastic involves many layers of different materials.</li>
                <li>Often consumers deposit this material in a regular garbage bin rather than in the recycling bin. Find out how to dispose of garbage into correct bins.</li>
                <li>Too much contamination of the content in the recycling bin makes recycling difficult.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 solution-block">
            <h5>What can you do?</h5>
            <p>The materials used for packaging varies in terms of recyclability from glass 100% recycled, paper, and cardboard 92% recycled and plastic 54% recycled.</p>
            <p>Therefore, you can choose these alternative materials used in food packaging and convey a message to businesses that you use products without plastic packaging and thus make businesses deliver food products using alternative materials to plastic and thereby reduce the amount of plastic used in the food packaging.</p>
            <p>Below provides a list of products you can use that uses glass, paper, and cardboard for packaging of the day-to-day food items.</p>
        </div>
    </div>
</div>
<div class="alternatives">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="plastic_prod" data-toggle="modal" data-target="#plastic-bottle">
                    <img src="~/images/plastic_bottle.png" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-toggle="modal" data-target="#plastic-squeeze">
                <div class="plastic_prod">
                    <img src="~/images/plastic_squeeze.png" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4" data-toggle="modal" data-target="#plastic-wrap">
                <div class="plastic_prod">
                    <img src="~/images/plastic_wrap.png" />
                </div>
            </div>
        </div>
    </div>
</div>