@{
    ViewBag.Title = "Plastic_Impact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="site-blocks-cover inner-page overlay" style="background-image: url(../images/hero_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 text-center" data-aos="fade">
                <h1 class="text-uppercase">Impact of Plastic Rubbish</h1>
            </div>
        </div>
    </div>

    <!--Plastic Impact Section-->
    <div class="site-half" id="start">
        <canvas id="pie-chart" class="img-bg-1 left"></canvas>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 ml-lg-auto py-5">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic</span>
                    <h2 class="site-section-heading font-secondary mb-5">On Marine Life</h2>
                    <p>Almost 20 years ago, in 1992, a ship loaded with rubber ducks and other bath toys was going from Hong Kong to the USA. The cargo ship crashed on its way, setting free 28000 rubber ducks.</p>
                    <p>These toys are commonly made of PVC (synthetic plastic), that has a lifespan of a giant tortoise, around 100 years. The little rubber ducks are still being found on beaches all over the world. The yellow flotilla will be floating in the ocean till the end of this century.</p>
                    <p>
                        <a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-half block">
        <canvas id="line-chart" class="img-bg-1 right"></canvas>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 mr-lg-auto py-5">
                    <span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic</span>
                    <h2 class="site-section-heading font-secondary mb-5">Killing Marine Animals</h2>
                    <p>Imagine a rubber duck floating in the ocean for 100 years. What if I tell you that it is not the only plastic item you can find there? Plastic bottles, lids, straws, containers are polluting our ocean. Marine animals use plastic as their homes, eat it, get choked by it and die. Not only plastic is toxic, but also it endangers some of the species living underwater as well as on land.</p>
                    <p>The world will change, humanity will finally find a cure to cancer, colonise other planets, but a plastic bottle I used today will still be there as if nothing has happened.</p>
                    <p><a href="~/Home/Plastic_Impact" class="btn btn-primary text-white px-4">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--Plastic Impact Section-->
</div>

<!--Data Visualisation script-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    new Chart(document.getElementById("pie-chart"), {
        type: 'doughnut',
        data: {
            labels: ["Polyethylene terephthalate PET", "High-density polyethylene  PE-HD", "Polyvinyl chloride  PVC", "Low-density polyethylene PE-LD/LLD", "Polypropylene PP", "PS", "All", "Unknown polymer"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#9F0162", "#E66100", "#FFB2FD", "#00FCCF", "#FFC33B", "#3399ff", "#6A0213", "#0000cc"],
                data: [28560.6676068507, 40052.8986257078, 3249.17545418812, 26150.1152092018, 23121.9254486078, 5986.81260606203, 7408.36649738164, 2637.47214059203]
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'Distribution of different types of plastic'
            }
        }
    });
</script>

<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'bar',
        data: {
            labels: ['2008 - 09', '2009 - 10', '2010 - 11', '2011 - 12', '2012 - 13', '2013 - 14', '2014 - 15', '2015 - 16', '2016 - 17', '2017 - 18'],

            datasets: [{
                type: "line",
                data: [143649, 154806, 146203, 149454, 152001, 150553, 160533.84, 149127.57, 130695.1, 137167.42],
                label: 'Plastic waste recovered for reprocessing',
                borderColor: "#3e95cd",
                fill: false
            }, {
                type: "bar",
                label: "Plastic waste produced",
                borderColor: "ffff00",
                data: [, , , , , 3167000, 2912000, 2955400, 3407300],
                fill: false
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: "Comparison of platic waste produced vs recycled in Australia"

            }
        }

    });
</script>
<!--Data Visualisation script-->