@{
    ViewBag.Title = "Plastic_Impact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="site-blocks-cover inner-page overlay" style="background-image: url(../images/hero_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 text-center" data-aos="fade">
                <h1 class="text-uppercase">Impact of Plastic Packaging</h1>
            </div>
        </div>
    </div>

    <!--Plastic Impact Section-->
    <div class="site-half" id="start">
        <canvas id="pie-chart" class="img-bg-1 left" style="top:35%;position:center"></canvas>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 ml-lg-auto py-5">
                    <!--<span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic Packaging</span>-->
                    <p>You might have noticed, that there are different kinds of plastic: flexible, used for toys, food packaging, construction, etc.  We are going to talk about plastic used in food industry.</p>
                    <p>The chart shows distribution of all different types of plastic. Imagine this: You are thirsty. You forgot to bring your water bottle with you, so you go to the closest shop and buy a bottle of water. Bottle itself is made of PET, lifespan of 450 years and a plastic cap - PE-HD, lifespan of around 50-100 years.</p>
                    <p>Since you are already at the grocery store, you decide to get a pack of strawberries, because you just have finished the last one this morning. Plastic container for strawberries is made of Polypropylene, lifespan of 20-30 years. Finally, on the way home you pass by your favourite kebab place and order a takeaway HSP. The white box HSP is packed in is Polystyrene (PS), lifespan of 500 years. And like this we polite our planet.</p>
                    <p>“But plastic is recyclable!” - one might argue. Partly it is true. Some plastic is recyclable, but even out of that plastic , very low amount is being recycled.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-half block">
        <canvas id="line-chart" class="img-bg-1 right" style="top:35%;position:center"></canvas>
        <div class="container">
            <div class="row no-gutters align-items-stretch">
                <div class="col-lg-5 mr-lg-auto py-5">
                    <!--<span class="caption d-block mb-2 font-secondary font-weight-bold">Impact of Plastic Packaging</span>-->
                    <p>Have you ever thought how much plastic we consume? Think about it next time you go to a supermarket to get some food.</p>
                    <p>From berries to meat, from fresh to frozen produce, everything is packed in plastic. As of 2018 almost 3.5 millions of plastic waste was produced in Australia and less that 5% of it was actually recycled. Where did the rest go? Landfill, oceans, you name it.</p>
                    <p>Such a useful thing as plastic, that already has become an integral part of our everyday life, is actually highly dangerous for our environment. Not only is it harmful for animals, but also it is the main source of fracking.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Plastic Impact Section-->
</div>

<!--Data Visualisation script-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    new Chart(document.getElementById("pie-chart"), {
        type: 'doughnut',
        data: {
            labels: ["Polyethylene terephthalate PET", "High-density polyethylene  PE-HD", "Polyvinyl chloride  PVC", "Low-density polyethylene PE-LD/LLD", "Polypropylene PP", "PS", "All", "Unknown polymer"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#9F0162", "#E66100", "#FFB2FD", "#00FCCF", "#FFC33B", "#3399ff", "#6A0213", "#0000cc"],
                data: [28560.6676068507, 40052.8986257078, 3249.17545418812, 26150.1152092018, 23121.9254486078, 5986.81260606203, 7408.36649738164, 2637.47214059203]
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'Distribution of different types of plastic'
            }
        }
    });
</script>

<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'bar',
        data: {
            labels: ['2008 - 09', '2009 - 10', '2010 - 11', '2011 - 12', '2012 - 13', '2013 - 14', '2014 - 15', '2015 - 16', '2016 - 17', '2017 - 18'],

            datasets: [{
                type: "line",
                data: [143649, 154806, 146203, 149454, 152001, 150553, 160533.84, 149127.57, 130695.1, 137167.42],
                label: 'Plastic waste recovered for reprocessing',
                borderColor: "#3e95cd",
                fill: false
            }, {
                type: "bar",
                label: "Plastic waste produced",
                borderColor: "ffff00",
                data: [, , , , , 3167000, 2912000, 2955400, 3407300],
                fill: false
            }]
        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: "Comparison of platic waste produced vs recycled in Australia"

            }
        }

    });
</script>
<!--Data Visualisation script-->