
@{
    ViewBag.Title = "Pot_Farming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Pot Farming Banner Block-->
<div class="banner">
    <div class="pot-farming-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="text-uppercase">Pot Farming</h1>
    </div>
</div>
<!--Pot Farming Banner Block-->
<!--Pot Farming Page-->
<div class="container pot-farming-block">
    <p class="text-bold list-title">How can pot farming contribute to a reduction of CO2?</p>
    <ul>
        <li>First of all, as eatable plants are grown at home, they don't require any plastic packaging.</li>
        <li>Secondly, since logistic is not involved in this process, we have less CO2 emissions from transportation.</li>
    </ul>
    <p class="text-bold">So click on the below veggies tiles to find out how to grow them at home.</p>
    <div class="row">
        <!--Tomato farming image block-->
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#tomatoe">
                <img src="~/images/tomato_farming.jpg" />
            </div>
        </div>
        <!--Tomato farming image block-->
        <!--Coriander farming image block-->
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#coriander">
                <img src="~/images/coriander_farming.jpg" />
            </div>
        </div>
        <!--Coriander farming image block-->
        <!--Carrot farming image block-->
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#carrot">
                <img src="~/images/carrot_farming.jpg" />
            </div>
        </div>
        <!--Carrot farming image block-->
    </div>

    <div class="row">
        <!--Cumquat farming image block-->
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#cumquat">
                <img src="~/images/kumquats_farming.jpg" />
            </div>
        </div>
        <!--Cumquat farming image block-->
        <!--Garlic farming image block-->
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#garlic">
                <img src="~/images/garlic_farming.jpg" />
            </div>
        </div>
        <!--Garlic farming image block-->
        <!--Rosemary farming image block-->
        <div class="col-sm-12 col-md-4">
            <div class="food-farm-block" data-toggle="modal" data-target="#rosemary">
                <img src="~/images/rosemary_farming.jpg" />
            </div>
        </div>
        <!--Rosemary farming image block-->
    </div>
</div>

<!--Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 74 74" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m47.984 72h-26.153a1 1 0 0 1 -.984-.823l-4.708-26.154a1 1 0 0 1 .984-1.177h35.569a1 1 0 0 1 .984 1.177l-4.707 26.154a1 1 0 0 1 -.985.823zm-25.317-2h24.481l4.352-24.154h-33.181z" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m55.787 45.846h-41.759a1.569 1.569 0 0 1 -1.567-1.567v-5.557a1.569 1.569 0 0 1 1.567-1.566h41.759a1.569 1.569 0 0 1 1.567 1.566v5.558a1.569 1.569 0 0 1 -1.567 1.566zm-41.326-2h40.893v-4.691h-40.893z" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m35.411 39.155h-.076a1 1 0 0 1 -.922-1.072 33.813 33.813 0 0 1 1.066-6.258 34.7 34.7 0 0 1 12.472-18.684 1 1 0 0 1 1.216 1.588 32.7 32.7 0 0 0 -11.755 17.608 31.865 31.865 0 0 0 -1 5.893 1 1 0 0 1 -1.001.925z" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m47.743 27.387a18.118 18.118 0 0 1 -8.456-2.473 1 1 0 0 1 -.44-.474c-.132-.3-3.2-7.362.688-13.62 3.365-5.407 10.765-8.375 21.996-8.82a.981.981 0 0 1 .744.29 1 1 0 0 1 .295.742c-.023.727-.676 17.869-9.5 22.956a10.488 10.488 0 0 1 -5.327 1.399zm-7.189-4.065c4.578 2.382 8.45 2.7 11.512.935 6.688-3.857 8.148-16.423 8.434-20.205-9.9.554-16.374 3.179-19.262 7.809-2.913 4.675-1.183 10.124-.685 11.46z" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m36.445 33.084a1 1 0 0 1 -.924-.617 22.739 22.739 0 0 0 -12.577-12.416 1 1 0 1 1 .744-1.856 24.74 24.74 0 0 1 13.68 13.505 1 1 0 0 1 -.923 1.384z" fill="#2e8b57" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m24.359 28.665a7.6 7.6 0 0 1 -1.887-.24c-7.1-1.814-10.841-13.456-11-13.951a1 1 0 0 1 .728-1.274c7.8-1.851 13.464-1.219 16.843 1.878 3.936 3.608 3.173 9.126 3.139 9.36a1 1 0 0 1 -.3.575c-2.524 2.429-5.047 3.652-7.523 3.652zm-10.611-13.765c1.045 2.783 4.3 10.33 9.222 11.585 2.277.58 4.72-.315 7.263-2.665.079-1.117.116-4.844-2.555-7.281-2.715-2.474-7.399-3.025-13.93-1.639z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Pot_Farming">Learn how pot farming contributes to the reduction of carbon emissions.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m376 242c8.284 0 15-6.716 15-15 0-.009-.001-.018-.001-.027-.008-20.666-9.808-39.883-27.596-54.114-16.814-13.452-38.977-20.86-62.403-20.86-10.551 0-20.833 1.501-30.521 4.395-1.254-12.724-4.758-25.013-10.313-36.394h2.709c57.897 0 105-47.103 105-105 0-8.284-6.716-15-15-15h-30c-48.049 0-88.66 32.442-101.087 76.571-16.607-10.792-35.791-16.571-55.788-16.571-8.284 0-15 6.716-15 15s6.716 15 15 15c37.024 0 68.804 29.249 74.187 65.997-9.296-2.638-19.12-3.999-29.188-3.999-23.426 0-45.588 7.408-62.403 20.86-17.796 14.237-27.597 33.464-27.597 54.14 0 8.232 6.663 15.001 15.001 15.001 21.284 0 45 36.962 45 90 0 53.016-23.696 89.967-44.973 89.999h-.028c-8.284 0-15 6.716-15 15 0 44.293 43.49 75 90 75 15.996 0 31.381-3.428 45-9.974 13.62 6.546 29.005 9.974 45 9.974 46.782 0 89.98-30.921 90-74.971 0-.009.001-.019.001-.028 0-8.232-6.663-15.001-15.001-15.001h-.026c-21.278-.031-44.973-36.982-44.973-89.998 0-53.038 23.716-90 45-90zm-53.125-212h13.493c-6.97 34.191-37.274 60-73.493 60h-13.493c6.969-34.191 37.274-60 73.493-60zm-111.876 151.999c13.658 0 26.548 3.407 37.273 9.853 4.683 2.812 10.652 2.878 15.452 0 10.728-6.446 23.616-9.853 37.274-9.853 26.075 0 48.318 12.539 56.573 30.001h-203.145c8.254-17.462 30.498-30.001 56.573-30.001zm90 300c-13.658 0-26.547-3.407-37.274-9.853-4.754-2.857-10.696-2.857-15.452 0-10.726 6.445-23.615 9.853-37.273 9.853-26.075 0-48.318-12.539-56.573-30h203.146c-8.256 17.46-30.499 30-56.574 30zm-114.896-59.999c15.359-21.826 24.897-53.8 24.897-90 0-36.202-9.539-68.177-24.899-90.001h139.798c-15.36 21.824-24.899 53.799-24.899 90.001 0 36.2 9.538 68.174 24.897 90z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m256 272c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#2e8b57" data-original="#000000" style="" class="" /><path d="m256 347c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Composting">Learn how to make fertilizers.</a>
                </div>
            </div>
            <!--Link Content-->
        </div>
    </div>
</div>
<!--Nav Links-->
<!--Pot Farming Page-->
<!--Tomato modal box-->
<div class="modal fade" id="tomatoe">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Tomatoes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Tomato-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Tomato-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Tomato-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Tomato-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                                <li role="presentation"><a href="#Tomato-section5" aria-controls="messages" role="tab" data-toggle="tab">Step 5</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Tomato-section1">
                                    <p>Find a suitable location with plenty of sunlight. Ensure the pot used for planting is big enough and the place where the pot will be placed is having ample space for the plant to grow.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section2">
                                    <p>Fill up the pot with an equal proportion of planting mix and soil. Then dig a hole deep enough and place the seedling such that only the top few inches of the seedling appear above the soil.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section3">
                                    <p>Stick your finger deep into the soil to check if it feels damp. If the mixture deep below the surface of the soil feels damp, then pour some water into the pot. Remember tomato seedlings don’t require much water.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section4">
                                    <p>Provide support to the tomato plant by using either strong wooden or metal post or by building a cage around the plant. Add and mix the organic fertilizer every two to three weeks.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Tomato-section5">
                                    <p>Prune the yellow flower to enable the plant to grow bigger prior to its fruit production. Pruning also allows the plant to produce large quantities of tomatoes. Enjoy the harvest.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Tomato modal box-->
<!--Corriander modal box-->
<div class="modal fade" id="coriander">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Coriander</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Coriander-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Coriander-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Coriander-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Coriander-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Coriander-section1">
                                    <p>The crop is suited for a temperature range of 17-27 degrees Celsius. It is best sown in pots directly rather than seed trays and then transplanting the sprout.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section2">
                                    <p>Grow the plant in an area that is well light by sunlight and the soil has a pH of 6.2-6.8. Sow the seeds around half to an inch deep in the soil. Space out the seeds with a gap of 6 inches approximately, press soil over the seed, and cover it with a layer of mulch which is half an inch deep. Water well.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section3">
                                    <p>The plant needs to be watered properly but be careful as overwatering can lead to root rot, hence good soil drainage is important as coriander has deep roots.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Coriander-section4">
                                    <p>The process of germination takes 2-3 weeks. To allow the plant to grow to their full size remember to thin young plants to 20cm apart. To extend the harvest, regularly snip soft stems while rotating the plant.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Corriander modal box-->
<!--Carrot modal box-->
<div class="modal fade" id="carrot">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Carrots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Carrot-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Carrot-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Carrot-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Carrot-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                                <li role="presentation"><a href="#Carrot-section5" aria-controls="messages" role="tab" data-toggle="tab">Step 5</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Carrot-section1">
                                    <p>Build up a raised bed or double dig the planting area and make sure the soil is loose and rock-free. If the soil is heavy add a good amount of mature compost. This crop is a cool-weather crop and needs to be sown 3 weeks before the last expected frost.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section2">
                                    <p>Broadcast tiny seeds or plant in rows. Put a pinch of around 6 seeds to the inch. It takes about 1-3 weeks to sprout. Cover it with 1/4th to ½ an inch of compost, sand, or potting mix(add more in warm and dry areas).</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section3">
                                    <p>Water the seeds gently, in order to prevent them from washing away and keep the soil moist for best germination. When seedlings develop, add mulch to maintain an even level of moisture and to also reduce weed problems.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section4">
                                    <p>In case the soil dries out in between waterings, it is advised to gradually remoisten the bed over a period rather than drenching as it may cause the roots to split.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Carrot-section5">
                                    <p>The feeder roots are damaged easily, so weeds need to be hand-pulled or cut off below the soil surface. Carrot crowns need to be covered so that they can mature and it prevents them from becoming green and bitter.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Carrot modal box-->
<!--Cumquat modal box-->
<div class="modal fade" id="cumquat">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Kumquats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Cumquat-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Cumquat-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Cumquat-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Cumquat-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                                <li role="presentation"><a href="#Cumquat-section5" aria-controls="messages" role="tab" data-toggle="tab">Step 5</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Cumquat-section1">
                                    <p>Get the seeds or buy a tree from a local nursery.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section2">
                                    <p>Dig a small hole for a seed or a hole 3-5 times wider than a root ball for a tree.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section3">
                                    <p>Place a seed/tree in a hole.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section4">
                                    <p>Water well. Kumquats don’t like dry soil, so water often.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Cumquat-section5">
                                    <p>Add organic mulch not further than 5-7 cm from the plant.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Cumquat modal box-->
<!--Garlic modal box-->
<div class="modal fade" id="garlic">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Garlic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Garlic-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Garlic-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Garlic-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Garlic-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                                <li role="presentation"><a href="#Garlic-section5" aria-controls="messages" role="tab" data-toggle="tab">Step 5</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Garlic-section1">
                                    <p>Pick the biggest cloves. The bigger the clove, the higher the chance of getting a nice harvest.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section2">
                                    <p>Place the cloves (end up) 5 cm deep (2 inches) and 10 cm (4 inches) apart in a furrow.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section3">
                                    <p>Water well and fertilize if possible.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section4">
                                    <p>Harvest when the plant has 5-6 green leaves with no more than 1-2 turning brown.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Garlic-section5">
                                    <p>Use garlic. If you want to store it, then leave it in a dry place for a few weeks. After a couple of weeks, cut off the roots and trim the stalks, remove the dirt with a toothbrush, and store in a dry place.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Garlic modal box-->
<!--Rosemary modal box-->
<div class="modal fade" id="rosemary">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to Grow Rosemary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="instruction">Click on the Steps to view the information</p>
                        <!--Tab Section-->
                        <div class="tab" role="tabpanel">
                            <!-- Tab links-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Rosemary-section1" aria-controls="home" role="tab" data-toggle="tab">Step 1</a></li>
                                <li role="presentation"><a href="#Rosemary-section2" aria-controls="profile" role="tab" data-toggle="tab">Step 2</a></li>
                                <li role="presentation"><a href="#Rosemary-section3" aria-controls="messages" role="tab" data-toggle="tab">Step 3</a></li>
                                <li role="presentation"><a href="#Rosemary-section4" aria-controls="messages" role="tab" data-toggle="tab">Step 4</a></li>
                                <li role="presentation"><a href="#Rosemary-section5" aria-controls="messages" role="tab" data-toggle="tab">Step 5</a></li>
                            </ul>
                            <!-- Tab links-->
                            <!-- Tab content -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade in active show" id="Rosemary-section1">
                                    <p>Growing the plant from rosemary seeds is very difficult, whereas propagating from cuttings is relatively quite simple. From the end of a stem cut 4-6 inches and plant it in moist sand.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section2">
                                    <p>Plant it in the spring after all the dangers of frost have passed. In high heat areas, plant rosemary from the month of October to early January.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section3">
                                    <p>Rosemary is highly susceptible to root rot, hence a well-drained soil is important. Most importantly, give the plant room to grow.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section4">
                                    <p>Feed the plant fertilizer, water a newly planted bud/cutting every 3-5 days until established, and then let it dry out between watering. You can also remove a couple of inches off the end of the stem to help the plant become bushier.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Rosemary-section5">
                                    <p>Harvest rosemary but not so much. Individual sprigs can be harvested, but never prune more than 1/3rd of the total plant as it may sometimes not recover from the harvest and die.</p>
                                </div>
                            </div>
                            <!--Tab content-->
                        </div>
                        <!--Tab Section-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Rosemary modal box-->
