
@{
    ViewBag.Title = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container references">
    <h2>References</h2>
    <h5>Image References</h5>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <p style="font-size: 0.9rem;font-style: italic;"><img style="display: block; max-width:100%; height:180px" src="https://live.staticflickr.com/3066/2646188010_e2d3c83174_b.jpg" alt="Compost Bin"><a href="https://www.flickr.com/photos/49169223@N00/2646188010" target="_blank">"Compost Bin"</a><span> by <a href="https://www.flickr.com/photos/49169223@N00" target="_blank">daryl_mitchell</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-sa/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;" target="_blank">CC BY-SA 2.0</a><a href="https://creativecommons.org/licenses/by-sa/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-sa_icon.svg" /></a></p>
        </div>
        <div class="col-sm-12 col-md-3">
            <p style="font-size: 0.9rem;font-style: italic;"><img style="display: block; max-width:100%; height:180px" src="https://live.staticflickr.com/2323/2258095560_f73ddc798a_b.jpg" alt="Still life on composter"><a href="https://www.flickr.com/photos/60364452@N00/2258095560" target="_blank">"Still life on composter"</a><span> by <a href="https://www.flickr.com/photos/60364452@N00" target="_blank">allispossible.org.uk</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;" target="_blank">CC BY 2.0</a><a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /></a></p>
        </div>
        <div class="col-sm-12 col-md-3">
            <p style="font-size: 0.9rem;font-style: italic;"><img style="display: block; max-width:100%; height:180px" src="https://live.staticflickr.com/65535/48844558946_f95d01d650_b.jpg" alt="20190626-NRCS-LSC-0590"><a href="https://www.flickr.com/photos/41284017@N08/48844558946" target="_blank">"20190626-NRCS-LSC-0590"</a><span> by <a href="https://www.flickr.com/photos/41284017@N08" target="_blank">USDAgov</a></span> is licensed under <a href="https://creativecommons.org/publicdomain/mark/1.0/?ref=ccsearch&atype=html" style="margin-right: 5px;" target="_blank">CC PDM 1.0</a><a href="https://creativecommons.org/publicdomain/mark/1.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-pdm_icon.svg" /></a></p>
        </div>
        <div class="col-sm-12 col-md-3">
            <p style="font-size: 0.9rem;font-style: italic;"><img style="display: block; max-width:100%; height:180px" src="https://live.staticflickr.com/65535/48844588851_601503b43f_b.jpg" alt="20190626-NRCS-LSC-0271"><a href="https://www.flickr.com/photos/41284017@N08/48844588851" target="_blank">"20190626-NRCS-LSC-0271"</a><span> by <a href="https://www.flickr.com/photos/41284017@N08" target="_blank">USDAgov</a></span> is licensed under <a href="https://creativecommons.org/publicdomain/mark/1.0/?ref=ccsearch&atype=html" style="margin-right: 5px;" target="_blank">CC PDM 1.0</a><a href="https://creativecommons.org/publicdomain/mark/1.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-pdm_icon.svg" /></a></p>
        </div>
        <div class="col-sm-12 col-md-3">
            <p style="font-size: 0.9rem;font-style: italic;"><img style="display: block; max-width:100%; height:180px" src="https://live.staticflickr.com/2069/2457055952_1de6ef6cdc_b.jpg" alt="better compost"><a href="https://www.flickr.com/photos/29278394@N00/2457055952" target="_blank">"better compost"</a><span> by <a href="https://www.flickr.com/photos/29278394@N00" target="_blank">normanack</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;" target="_blank">CC BY 2.0</a><a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="~/images/green_poster.jpg" style="max-height:500px" />
            <a href='https://www.freepik.com/vectors/summer' style="display:block;" target="_blank">Summer vector created by winkimages - www.freepik.com</a>
            <a href='https://www.freepik.com/vectors/food' style="display:block;" target="_blank">Food vector created by brgfx - www.freepik.com</a>
            <a href='https://www.freepik.com/vectors/water' style="display:block;" target="_blank">Water vector created by macrovector - www.freepik.com</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="~/images/red_poster.jpg" style="max-height:500px" />
            <a href='https://www.freepik.com/vectors/medical' style="display:block;" target="_blank">Medical vector created by freepik - www.freepik.com</a>
            <a href='https://www.freepik.com/vectors/design' style="display:block;" target="_blank">Design vector created by freepik - www.freepik.com</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="~/images/yellow_poster.jpg" style="max-height:500px" />
            <a href='https://www.freepik.com/vectors/food' style="display:block;" target="_blank">Food vector created by brgfx - www.freepik.com</a>
            <a href="http://www.freepik.com">Designed by kstudio / Freepik</a>
            <a href='https://www.freepik.com/vectors/food' style="display:block;" target="_blank">Food vector created by macrovector - www.freepik.com</a>
        </div>
        <div class="col-sm-12" style="margin:20px 0 0 0;">
            <p>Icons used on this website are taken from:</p>
            <ul>
                <li>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio" target="_blank">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a></li>
                <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a></li>
                <li>Icons made by <a href="https://www.flaticon.com/authors/mavadee" title="mavadee" target="_blank">mavadee</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a></li>
            </ul>
        </div>
    </div>
</div>


