
@{
    ViewBag.Title = "Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="page-heading">Vendor</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="vendor-block">
                <div class="vendor-img-block">
                    <img src="~/images/organic_pulses.jpg" />
                </div>
                <div class="vendor-detail-block">
                    <h4>Apples and Sage Organic Wholefoods</h4>
                    <address>Address: 92 South Parade, Blackburn, 3130</address>
                    <span>Contact No: 9877 3030</span>
                    <span>Category: Wholesale</span>
                    <span>Website: www.applesandsage.com.au</span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="vendor-block">
                <div class="vendor-img-block">
                    <img src="~/images/organic_pulses.jpg" />
                </div>
                <div class="vendor-detail-block">
                    <h4>Apples and Sage Organic Wholefoods</h4>
                    <address>Address: 92 South Parade, Blackburn, 3130</address>
                    <span>Contact No: 9877 3030</span>
                    <span>Category: Wholesale</span>
                    <span>Website: www.applesandsage.com.au</span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="vendor-block">
                <div class="vendor-img-block">
                    <img src="~/images/organic_pulses.jpg" />
                </div>
                <div class="vendor-detail-block">
                    <h4>Apples and Sage Organic Wholefoods</h4>
                    <address>Address: 92 South Parade, Blackburn, 3130</address>
                    <span>Contact No: 9877 3030</span>
                    <span>Category: Wholesale</span>
                    <span>Website: www.applesandsage.com.au</span>
                </div>
            </div>
        </div>
    </div>
</div>


