
@{
    ViewBag.Title = "Waste_Seperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <!--Page Title-->
        <h2>Segregation</h2>
        <!--Page Title-->
        <!--Page Content-->
        <div class="segregation-content-block">
            <h4>WHAT DOES THE FUTURE HOLD?</h4>
            <p>A 4-bin waste and recycling system will become the standard for households across Victoria by 2030.</p>
            <p>A container deposit scheme is to be set up by 2022-23, which will allow people to swap empty cans and bottles for cash.</p>
            <p>The Victorian government is investing almost $100 million in order to strengthen the waste and recycling industry, which means growth of the local industry, creation of more jobs and new technologies coming up.</p>
            <p>A new waste and recycling Act and a waste authority will be set up to put a stop to unsafe/illegal storage of waste</p>
            <p class="text-bold">Click on the below bins to find out which waste goes into which bins.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 bin-img">
                <img src="~/images/commingled.png" width="240" height="240" class="yellow-bin" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="yellow-bin-content bin-block">
                    <ul>
                        <li>Aerosol Cans</li>
                        <li>Aluminium foil</li>
                        <li>Basket - Plastic</li>
                        <li>Bucket</li>
                    </ul>
                    <ul>
                        <li>Cardboard</li>
                        <li>Container deposits</li>
                        <li>Cutlery (plastic)</li>
                        <li>Fishing Line Spools</li>
                    </ul>
                    <ul>
                        <li>Hard plastic</li>
                        <li>Metal lids</li>
                        <li>Non-deposit glass</li>
                        <li>Paint tins</li>
                    </ul>
                    <ul>
                        <li>Paper Bag</li>
                        <li>Phone Book</li>
                        <li>Pizza Box - Clean</li>
                        <li>Plastic Meat Trays</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 green-block">
                <div class="green-bin-content bin-block">
                    <ul>
                        <li>Animal waste</li>
                        <li>Ash Charcoal</li>
                        <li>Cooking oil</li>
                        <li>Dead animals</li>
                    </ul>
                    <ul>
                        <li>Food Scraps</li>
                        <li>Green Organic Waste</li>
                        <li>Organic bag</li>
                        <li>Paper Shredded</li>
                    </ul>
                    <ul>
                        <li>Pencil</li>
                        <li>Tissue</li>
                        <li>Vegetables</li>
                        <li>Wooden pallets</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 bin-img green-block-img">
                <img src="~/images/food.png" width="240" height="240" class="green-bin" />
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 bin-img">
                <img src="~/images/general_waste.png" width="240" height="240" class="red-bin" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="red-bin-content bin-block">
                    <ul>
                        <li>Animal waste in bag</li>
                        <li>Baking Paper</li>
                        <li>Basket - Cane</li>
                        <li>Butter Paper</li>
                    </ul>
                    <ul>
                        <li>Cleaning cloths</li>
                        <li>Clothing Items</li>
                        <li>Plastic-Hanger</li>
                        <li>Coffee Pod</li>
                    </ul>
                    <ul>
                        <li>Contact Lens</li>
                        <li>Cosmetics</li>
                        <li>Waxed coffee cups</li>
                        <li>Decorations</li>
                    </ul>
                    <ul>
                        <li>Dentures</li>
                        <li>Film negatives</li>
                        <li>Broken Glass</li>
                        <li>Glow Stick</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 purple-block">
                <div class="purple-bin-content bin-block">
                    <ul>
                        <li>Oily rags</li>
                        <li>Photographic film</li>
                        <li>Plastic bag</li>
                        <li>Plastic bubble wrap</li>
                    </ul>
                    <ul>
                        <li>Polystyrene</li>
                        <li>Rags</li>
                        <li>Retail receipt</li>
                        <li>Rope</li>
                    </ul>
                    <ul>
                        <li>Rubber</li>
                        <li>Smoke detectors</li>
                        <li>Soft plastic</li>
                        <li>Solar Panel</li>
                    </ul>
                    <ul>
                        <li>Tampon</li>
                        <li>Tea Light Candle</li>
                        <li>Treated timber</li>
                        <li>Wine corks</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 bin-img purple-block-img">
                <img src="~/images/glass.png" width="240" height="240" class="purple-bin" />
            </div>
        </div>
    </div>
<br /><br />
<div>
    <h2 class="text-center">Waste Sorting Poster</h2>
    <p>
        We provide posters of garbage classification, which can be downloaded and printed and pasted on the refrigerator or garbage bins
    </p>
    <div class="align-content-center">
        <center>
        <div class="col-md-8 col-12">
            <img src="~/images/Poster.jpeg" style="max-height:500px" />
        </div>
        <div class="col-md-4 col-12 text-center">
            <a href="~/images/Poster.jpeg" download="Poster.jpeg">Download the Poster (118 KB)</a>
        </div>
            </center>
    </div>
</div>