
@{
    ViewBag.Title = "Waste_Seperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Waste Seperation</h2>
    <div class="col-sm-12 col-md-10 bin-content yellow-bin-text">
        <ul>
            <li>Aerosol Cans Empty</li>
            <li>Aluminium foil</li>
            <li>Basket - Plastic</li>
            <li>Bucket</li>
        </ul>
        <ul>
            <li>Cardboard</li>
            <li>Container deposits</li>
            <li>Cutlery (plastic)</li>
            <li>Fishing Line Spools</li>
        </ul>
        <ul>
            <li>Hard plastic</li>
            <li>Metal lids</li>
            <li>Non-deposit glass</li>
            <li>Paint tins</li>
        </ul>
        <ul>
            <li>Paper Bag</li>
            <li>Phone Book</li>
            <li>Pizza Box - Clean</li>
            <li>Plastic Meat Trays</li>
        </ul>
        <ul>
            <li>Plastic pot plant</li>
            <li>Plastic Strapping</li>
            <li>Pots and Pans</li>
            <li>UHT, Tetra Pak</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-2 bin-img">
        <a href="#" class="yellow-bin"><img src="~/images/commingled.png" width="80" height="80"/></a>
    </div>
</div>
