
@{
    ViewBag.Title = "Waste_Seperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Waste Segregation Banner Block-->
<div class="banner">
    <div class="waste-segregation-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="text-uppercase">Waste Segregation</h1>
    </div>
</div>
<!--Waste Segregation Banner Block-->

<div class="container">
    <!--Page Content-->
    <div class="segregation-content-block">
        <h4>WHAT DOES THE FUTURE HOLD?</h4>
        <p>A 4-bin waste and recycling system will become the standard for households across Victoria by 2030.</p>
        <p>A container deposit scheme is to be set up by 2022-23, which will allow people to swap empty cans and bottles for cash.</p>
        <p>The Victorian government is investing almost $100 million in order to strengthen the waste and recycling industry, which means growth of the local industry, creation of more jobs and new technologies coming up.</p>
        <p>A new waste and recycling Act and a waste authority will be set up to put a stop to unsafe/illegal storage of waste</p>
        <p class="text-bold">Click on the below bins to find out which waste goes into which bins.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 bin-img">
            <img src="~/images/commingled.png" width="240" height="240" class="yellow-bin" />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="yellow-bin-content bin-block">
                <ul>
                    <li>Aerosol Cans</li>
                    <li>Aluminium foil</li>
                    <li>Basket - Plastic</li>
                    <li>Bucket</li>
                </ul>
                <ul>
                    <li>Cardboard</li>
                    <li>Container deposits</li>
                    <li>Cutlery (plastic)</li>
                    <li>Fishing Line Spools</li>
                </ul>
                <ul>
                    <li>Hard plastic</li>
                    <li>Metal lids</li>
                    <li>Non-deposit glass</li>
                    <li>Paint tins</li>
                </ul>
                <ul>
                    <li>Paper Bag</li>
                    <li>Phone Book</li>
                    <li>Pizza Box - Clean</li>
                    <li>Plastic Meat Trays</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 green-block">
            <div class="green-bin-content bin-block">
                <ul>
                    <li>Animal waste</li>
                    <li>Ash Charcoal</li>
                    <li>Cooking oil</li>
                    <li>Dead animals</li>
                </ul>
                <ul>
                    <li>Food Scraps</li>
                    <li>Green Organic Waste</li>
                    <li>Organic bag</li>
                    <li>Paper Shredded</li>
                </ul>
                <ul>
                    <li>Pencil</li>
                    <li>Tissue</li>
                    <li>Vegetables</li>
                    <li>Wooden pallets</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 bin-img green-block-img">
            <img src="~/images/food.png" width="240" height="240" class="green-bin" />
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 bin-img">
            <img src="~/images/general_waste.png" width="240" height="240" class="red-bin" />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="red-bin-content bin-block">
                <ul>
                    <li>Animal waste in bag</li>
                    <li>Baking Paper</li>
                    <li>Basket - Cane</li>
                    <li>Butter Paper</li>
                </ul>
                <ul>
                    <li>Cleaning cloths</li>
                    <li>Clothing Items</li>
                    <li>Plastic-Hanger</li>
                    <li>Coffee Pod</li>
                </ul>
                <ul>
                    <li>Contact Lens</li>
                    <li>Cosmetics</li>
                    <li>Waxed coffee cups</li>
                    <li>Decorations</li>
                </ul>
                <ul>
                    <li>Dentures</li>
                    <li>Film negatives</li>
                    <li>Broken Glass</li>
                    <li>Glow Stick</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 purple-block">
            <div class="purple-bin-content bin-block">
                <ul>
                    <li>Oily rags</li>
                    <li>Photographic film</li>
                    <li>Plastic bag</li>
                    <li>Plastic bubble wrap</li>
                </ul>
                <ul>
                    <li>Polystyrene</li>
                    <li>Rags</li>
                    <li>Retail receipt</li>
                    <li>Rope</li>
                </ul>
                <ul>
                    <li>Rubber</li>
                    <li>Smoke detectors</li>
                    <li>Soft plastic</li>
                    <li>Solar Panel</li>
                </ul>
                <ul>
                    <li>Tampon</li>
                    <li>Tea Light Candle</li>
                    <li>Treated timber</li>
                    <li>Wine corks</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 bin-img purple-block-img">
            <img src="~/images/glass.png" width="240" height="240" class="purple-bin" />
        </div>
    </div>
</div>
<br />
<br />
<div class="text-center">
    <h2>Waste Sorting Poster</h2>
    <p>
        We provide posters of garbage classification<br />
        It can be downloaded and printed, then pasted on the refrigerator or garbage bins
    </p>
    <div class="align-content-center">
        <center>
            <div class="col-md-8 col-12">
                <img src="~/images/Poster.jpeg" style="max-height:500px" />
            </div>
            <div class="col-md-4 col-12 text-center">
                <a href="~/images/Poster.jpeg" download="Poster.jpeg">Download the Poster (118 KB)</a>
            </div>
        </center>
    </div>
</div>
<!--Nav Links-->
<div class="nav-links container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 509 509" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="XMLID_133_"><g id="XMLID_82_"><path id="XMLID_696_" d="m428.5 509h-348c-21.505 0-39-17.495-39-39v-470h90v107h246v-107h90v470c0 21.505-17.495 39-39 39zm-357-479v440c0 4.962 4.038 9 9 9h348c4.962 0 9-4.038 9-9v-440h-30v107h-306v-107z" fill="#2e8b57" data-original="#000000" style="" class="" /></g><g id="XMLID_125_"><path id="XMLID_693_" d="m339.167 288h-169.334v-102h169.333v102zm-139.334-30h109.333v-42h-109.333z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Plastic_Impact">Learn why you should segregate your plastic waste properly.</a>
                </div>
            </div>
            <!--Link Content-->
            <!--Link Content-->
            <div class="link-content">
                <div class="icon-style-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 511.918 511.918" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m510.739 208.817-42.6-101.009v-31.875c0-32.053-26.077-58.13-58.13-58.13h-308.101c-32.053 0-58.129 26.077-58.129 58.13v31.875l-42.6 101.009c-1.953 4.632-1.456 9.935 1.323 14.123 2.779 4.189 7.472 6.706 12.498 6.706 6.897 0 12.565-.588 17.426-1.506-3.961 11.154-6.034 23-6.034 35.087v180.03c0 28.043 22.815 50.857 50.857 50.857h357.421c28.042 0 50.856-22.814 50.856-50.857v-180.03c0-12.068-2.068-23.906-6.041-35.089 4.862.919 10.532 1.508 17.433 1.508 5.026 0 9.72-2.518 12.499-6.706 2.779-4.189 3.275-9.491 1.322-14.123zm-436.961-132.884c0-15.511 12.619-28.13 28.129-28.13h308.102c15.511 0 28.13 12.619 28.13 28.13v19.613h-364.361zm-4.921 49.613h374.204l29.051 68.883c-.003-.001-.007-.003-.01-.004-6.51-2.662-13.694-5.59-24.68-6.835-.019-.002-.038-.004-.057-.006-3.415-.385-7.186-.613-11.433-.613-18.036 0-27.904 4.17-35.833 7.52-6.815 2.88-12.198 5.154-24.157 5.154-11.958 0-17.341-2.275-24.156-5.154-7.929-3.35-17.796-7.52-35.832-7.52-18.035 0-27.903 4.17-35.832 7.52-6.814 2.88-12.197 5.154-24.155 5.154s-17.341-2.275-24.156-5.154c-7.929-3.35-17.797-7.52-35.833-7.52s-27.905 4.17-35.834 7.52c-6.815 2.88-12.198 5.154-24.157 5.154-11.96 0-17.343-2.275-24.159-5.154-7.929-3.351-17.798-7.52-35.835-7.52-4.938 0-9.233.307-13.068.815-.068.009-.136.018-.205.028-9.99 1.347-16.75 4.095-22.901 6.611-.005.002-.009.003-.014.005zm-12.466 179.696h250.393l.001 81.872h-250.394zm399.135 138.015c0 11.501-9.356 20.857-20.856 20.857h-357.422c-11.5 0-20.857-9.356-20.857-20.857v-26.143h250.592c16.433 0 29.802-13.345 29.802-29.747l-.001-82.378c0-16.402-13.369-29.747-29.802-29.747h-250.591v-12.016c0-16.853 5.649-33.039 15.98-46.174 1.146-.05 2.34-.081 3.621-.081 11.96 0 17.343 2.274 24.159 5.154 7.929 3.351 17.797 7.52 35.835 7.52 18.037 0 27.905-4.17 35.834-7.52 6.815-2.88 12.198-5.154 24.157-5.154 11.958 0 17.342 2.274 24.157 5.154 7.929 3.35 17.797 7.52 35.833 7.52s27.904-4.17 35.832-7.52c6.815-2.88 12.197-5.154 24.154-5.154 11.958 0 17.341 2.274 24.156 5.154 7.929 3.35 17.796 7.52 35.832 7.52s27.904-4.17 35.833-7.52c6.815-2.88 12.198-5.154 24.157-5.154 1.193 0 2.306.029 3.381.072 1.498 1.713 2.825 3.426 3.933 5.109 8.033 12.192 12.279 26.396 12.279 41.073v180.032z" fill="#2e8b57" data-original="#000000" style="" class="" /></g></g></svg>
                </div>
                <div class="link-content-block">
                    <a href="~/Home/Avoid_Food_Waste">Learn how to avoid food waste.</a>
                </div>
            </div>
            <!--Link Content-->
        </div>
    </div>
</div>
<!--Nav Links-->