
/*Home Page Impact Page*/

.site-blocks-cover h2 {
    font-size: 42px;
    color: #ffffff;
    font-weight: bold;
}

.site-section.first-section {
    margin-top: 0;
    padding: 50px 0 50px 0;
}

.first-section p{
    font-size:25px;
}

.services-slider-block{ 
    padding:0 0 30px 0;
}

.slide-one-item .learn_more {
    color: #fff;
    outline: none;
    text-decoration: none;
    background: #71bc42;
    padding: 5px 10px;
}

body .site-logo img {
    max-width: 100%;
    height: 40px;
}

.site-section .site-section-heading::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.caption {
    font-size: 25px;
}

.site-wrap .site-section-heading {
    font-size: 21px;
    margin-bottom: 2rem !important;
}

.banner_title{
    margin: 0 0 30px 0;
}

.scroll_btn {
    color: #ffffff;
    cursor: pointer;
}

.site-menu .link-content {
    display: flex;
    padding:5px 20px;
    margin:0;
}

.site-menu .icon-style-block {
    display: flex;
    width: 25px;
    align-items: center;
    text-align: left;
}

.site-menu .link-content .link-content-block a:hover {
    color: #71bc42 !important;
}

.site-mobile-menu .site-nav-wrap .link-content {
    padding: 10px 20px;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap .icon-style-block{
    width:46px;
}

.site-mobile-menu .site-nav-wrap .link-content-block{
    font-size:16px;
}

.site-mobile-menu .site-nav-wrap .link-content-block.active > a{
    color:#71bc42;
    padding:0;
}


/*Home Page*/
/*Footer*/
.site-footer {
    padding: 30px 0 20px 0;
}

.copyright-block{
    text-align:left;
}

.copyright-block p{
    margin:0;
}
/*Footer*/

.about2-img img {
    max-width: 100%;
    height: 67%;
}

.banner{
    position:relative;
    margin:0 0 30px 0;
}

.about-banner-block {
    background-image: url('../images/about_us_banner.jpg');
    height:220px;
    background-position:top center;
}

.banner-text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    font-size:40px;
    font-weight:bold;
}

.page-heading {
    margin: 15px 0;
}

#sampleDropdownMenu {
    width: 100%;
    height: 46px;
}

#sampleDropdownMenu span {
    text-align: left;
}

body .img-fluid.pic4 {
    max-width: 100%;
    height: 262px;
}

/*Bin Seperation*/
.waste-segregation-banner-block {
    background-image: url('../../images/bin_classification_banner.jpg');
    height: 220px;
    background-position: left -237px center;
}

.segregation-content-block {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.segregation-content-block h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.yellow-bin-block, .green-bin-block, .red-bin-block {
    margin: 0 0 20px 0;
}

.yellow-bin-content,.green-bin-content, .red-bin-content, .purple-bin-content {
    display:none;
    padding: 5px 8px;
    border-radius: 2px;
    width: 90%;
    float: left;
}

.yellow-bin-content {
    border: 2px solid #f9d953;
    width: 100%;
    margin:0 0 15px 0;
}

.green-bin-content {
    border: 2px solid #8fb845;
    width: 100%;
    margin: 15px 0;
}

.red-bin-content {
    border: 2px solid #ce2d3a;
    width: 100%;
    margin: 15px 0;
}

.purple-bin-content {
    border: 2px solid #792b94;
    width: 100%;
    margin: 15px 0;
}

.bin-img {
    text-align:center;
    padding:50px 15px;
    background:#eee;
}

.bin-img img{
    cursor:pointer;
}

.bin-block ul {
    display: inline-block;
    padding: 0;
    width: 44%;
    margin: 0 15px 15px 0;
}

.bin-block ul li {
    list-style: none;
    text-align: left;
    margin: 0 0 2px 0;
    border-bottom: 1px solid #eee;
}

.site-wrap .container.poster-block {
    margin: 30px auto;
}
/*Bin Seperation*/
/*Vendor Page Layout*/
.vendor-banner-block {
    background-image: url('../../images/vendors.jpg');
    height: 220px;
    background-position: center right;
}

.vendor-block {
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 0 25px 0;
}

.vendor-detail-block {
    padding: 15px 8px;
    height:auto;
}

.vendor-img-block img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vendor-detail-block h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding:0 0 5px 0;
    border-bottom: 1px solid #eee;
    height:56px;
}

address {
    margin: 5px 0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.vendor-detail-block span {
    display: block;
}
/*Vendor Page Layout*/

/*Plastic Alternative page*/
.plastic-alternatives-banner-block {
    background-image: url('../../images/plastic_alternatives_banner.jpg');
    height: 220px;
    background-position: center;
}

.problem-block h5, .solution-block h5 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px 0;
}

.problem-block, .solution-block {
    margin: 25px 0 15px;
}

.problem-block span {
    margin: 0 0 6px 0;
    display: block;
}


.problem-block ul {
    padding: 0 0 0 15px;
    margin: 0;
}

.problem-block ul li {
    margin: 0 0 4px 0;
}

.plastic_prod {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.plastic_prod img {
    max-width: 100%;
    height: 120px;
    display: block;
    margin: 0 auto;
}

.modal-title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.modal-body {
    padding: 0 15px;
}

.plastic-alt-img img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.plastic_alt-content {
    display: table-cell;
    vertical-align: middle;
    height: 220px;
    padding: 5px;
}

.close_btn, .close_btn:hover {
    background-color: #71bc42;
    color: #ffffff;
    border:none;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}

.author-attribution{
    font-size:10px;
    text-align: right;
}

.author-attribution p{
    margin-top:10px;
    margin-bottom:5px;
}
/*Plastic Alternative page*/
/*Food Farming*/
.pot-farming-block ul{
    padding: 0 0 0 15px;
}

.list-title {
    margin: 0 0 4px 0;
}

.pot-farming-banner-block {
    background-image: url('../images/pot_farming_banner.jpg');
    height: 220px;
    background-position: right center;
}

.food-farm-block {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0 30px 0;
}

.food-farm-block img {
    width: 100%;
    height: 250px;
    display: block;
    border-radius:10px;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.tab{
    margin:5px 0;
}

.tab .nav-tabs {
    border: none;
    margin: 0;
}

.modal-body .nav.nav-tabs{
    width:88%;
    margin: 0 auto;
}

.modal-body .nav.nav-tabs li{
    margin:10px 0 0 0;
}

.tab .nav-tabs li a {
    padding: 10px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    border: none;
}

.tab .nav-tabs li a:before {
    content: "";
    width: 100%;
    height: 4px;
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tab .nav-tabs li a:after {
    content: "";
    width: 0;
    height: 4px;
    background: #71bc42;
    border: 1px solid #71bc42;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1s ease 0s;
}

.tab .nav-tabs li:hover a:after,
.tab .nav-tabs li.active a:after {
    width: 100%;
    opacity: 1;
}

.tab .tab-content {
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 17px;
    color: #000;
    letter-spacing: 1px;
    line-height: 30px;
    background: #eee;
    position: relative;
}

.instruction {
    text-align: center;
    margin: 0;
    font-weight:bold;
}

.food-farming-banner {
    background-image: url('../images/food_farming_banner.jpg');
    max-width: 100%;
    height: 220px;
    background-position: center;
    display: block;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .tab .tab-content {
        margin-top: 0;
    }
}

/*Food Farming*/

/*Avoid Food Waste*/
.food-waste-banner-block {
    background-image: url('../../images/food_waste.jpg');
    height: 220px;
    background-position: center right;
}

.food-waste-top-block ul{
    padding:0 0 0 15px;
}

#shop-content-block, #store-content-block, #leftover-content-block, #lunch-content-block, #egg-content-block, #preserve-content-block {
    display: none;
}

.avoid-waste-block{
    margin:0 0 30px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.food-tip-img {
    cursor: pointer;
}

.food-tip-img img {
    width: 100%;
    height: 300px;
    display: block;
}

.avoid-waste-block .content-block{
    background-color:#eee;
    padding:10px;
    height:300px;
}

.avoid-foodwaste-tip{
    margin:0 0 5px 0;
}

.content-block ul{
    display:inline-block;
}


/*Avoid Food Waste*/
/*Composting*/
.composting-top-block ul{
    padding:0 0 0 15px;
}

.composting-banner-block {
    background-image: url('../images/composting_banners.jpg');
    height: 220px;
    background-position: top center;
}

.banner_text_color{
    color:#ffffff;
    text-transform:uppercase;
    text-align:center;
}

.container .composting-block {
    padding: 10px 0 !important;
}

.composting-block .site-section-heading{
    margin-bottom:15px !important;
    padding-bottom:10px;
}

.composting-block .site-section-heading::before{
    height:3px;
}

.composting-block ul{
    padding:0 0 0 15px;
}

.compost-material{
    margin-bottom:5px;
}

.dropdown.arrow-top{
    width:228%;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top::before {
    left: 18%;
}

/*Composting*/

/*Plastic Impact Block*/

.plastic-impact-banner-block {
    background-image: url('../../images/plastic_impact.jpg');
    height: 220px;
    background-position: center;
}

.plastic-gif-block .plastic-impact_img {
    margin: 20px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.line-chart-block{
    margin:70px 0 0 0;
}
/*Plastic Impact Block*/

/*Carbon Footprint*/

.carbon-footprint-banner-block {
    background-image: url('../images/carbon_footprint_banner.jpg');
    height: 220px;
    background-position: left 25% center;
}

.tableauPlaceholder {
    margin: 0 auto 30px;
}

.graph-block, .graph_desc_block {
    margin: 30px 0 0 0;
}
/*Carbon Footprint*/
/*References*/
/*References*/
/*Nav Links*/
.nav-links {
    margin: 20px auto;
}

.nav-links a {
    color:#2e8b57;
    display: block;
}

.internal-link-color, .internal-link-color:hover, .internal-link-color:focus {
    color: #2e8b57;
    text-decoration: underline;
}

.link-content{
    display:flex;
    margin: 0 0 8px 0;
}

.icon-style-block{
    display: flex;
    width:35px;
    align-items:center;
    text-align:left;
}

.link-content-block{
    flex:1;
    align-self:center;
    line-height:1.4;
}

.no_margin{
    margin:0;
}
/*Nav Links*/
/*Quiz*/
.quiz-banner-block {
    background-image: url('../images/quiz_banner.jpg');
    height: 220px;
    background-position: center;
}
/*Quiz*/

/*Media Queries for ipad*/
@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation:portrait) {
    .alternative {
        margin: 25px 0 0 0;
    }

    .plastic_prod {
        margin: 0 0 25px 0;
    }

    .problem-block {
        margin: 25px 0 0 0;
    }

    .solution-block {
        margin: 10px 0 0 0;
    }

    .yellow-bin-content, .red-bin-content {
        margin: 25px 0 15px;
    }

    .plastic-gif-block .plastic-impact_img {
        height: auto;
    }

    .avoid-waste-block {
        width: 70%;
        margin: 0 auto 30px;
    }

    .avoid-waste-block .content-block {
        height: auto;
    }
}

/*Media Queries for ipad landascape*/
@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation:landscape) {
    .bin-block ul {
        display: inline-block;
        padding: 0;
        width: 45%;
        margin: 0 15px 15px 0;
    }

    .yellow-bin-content, .green-bin-content, .red-bin-content, .purple-bin-content {
        width: 100%;
    }
}

/*Media Queries for ipad pro*/
@media only screen and (max-width: 1366px) and (min-width: 1024px) and (orientation:portrait) {
    .plastic_prod {
        margin: 25px 0 0 0;
    }

    .solution-block {
        margin: 25px 0 0 0;
    }

    .avoid-waste-block {
        width: 100%;
        margin: 0 auto 30px;
    }

    .avoid-waste-block .content-block {
        height: 300px;
    }
}

/*Media Queries for iphone XS Max Portrait*/
@media only screen and (max-width: 896px) and (min-width: 414px) and (orientation:portrait) {
    .plastic_prod {
        margin: 0 0 25px 0;
    }

    .solution-block {
        margin: 0;
    }

    .plastic_alt-content {
        vertical-align: top;
        height: 80px;
        text-align: center;
    }

    .site-logo{
        text-align:center;
    }

    .line-chart-block{
        margin:0;
    }
}

/*Media Queries for iphone XS Max Landscape*/
@media only screen and (max-width: 896px) and (min-width: 414px) and (orientation:landscape) {
    .plastic_prod {
        margin: 0 0 25px 0;
    }

    .solution-block {
        margin: 0;
    }

    .yellow-bin-content, .green-bin-content, .red-bin-content, .purple-bin-content {
        width: 100%;
    }

    .bin-block ul {
        display: inline-block;
        padding: 0;
        width: 45%;
        margin: 0 15px 15px 0;
    }

    .yellow-bin-content{
        margin:25px 0 15px 0;
    }

    .line-chart-block {
        margin: 0;
    }

    .plastic-gif-block .plastic-impact_img{
        height:auto;
    }

    .avoid-waste-block{
        width:80%;
        margin:0 auto 30px;
    }

    .avoid-waste-block .content-block {
        height: auto;
    }
}

/*Media Queries for iphone X Portrait*/
@media only screen and (max-width: 760px) and (min-width: 375px) and (orientation:portrait) {
    .plastic_prod {
        margin: 0 0 25px 0;
    }

    .solution-block {
        margin: 0;
    }

    .yellow-bin-block, .green-bin-block, .red-bin-block {
        border-bottom: 1px solid #eee;
    }

    .yellow-bin-content, .green-bin-content, .red-bin-content, .purple-bin-content {
        width: 100%;
        margin:15px 0;
    }

    .bin-block ul {
        width: 100%;
        margin: 0 15px 15px 0;
    }

    .site-logo {
        text-align: center;
    }

    .line-chart-block {
        margin: 0;
    }

    .avoid-waste-block .content-block {
        height: auto;
    }
}

@media only screen and (min-width: 360px) and (max-width: 740px) and (orientation:portrait) {
    .avoid-waste-block .content-block {
        height: auto;
    }
}
