<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/images/Logo1.ico" />
    <title>WasteDeck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/Content/wastedeck-style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <!--Bootstrap Navigation menu-->
        <div class="site-navbar-wrap js-site-navbar bg-white">
            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <h2 class="mb-0 site-logo"><img src="~/images/favicon-32x32.png" /><a href="~/Home" class="font-weight-bold text-uppercase">WasteDeck</a></h2>
                        </div>
                        <div class="col-8">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">
                                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li class="active"><a href="~/Home">Home</a></li>
                                        <li><a href="~/Home/About">About</a></li>
                                        <li class="has-children">
                                            <a>Services</a>
                                            <ul class="dropdown arrow-top">
                                                <li><a href="~/Home/Plastic_Alternative">Plastic Alternatives</a></li>
                                                <li><a href="~/Home/Vendor">Vendors List</a></li>
                                                <li><a href="~/Home/Waste_Seperation">Bin Classification</a></li>
                                                <li><a href="~/Home/Plastic_Impact">Plastic Impact</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Home/Contact">Contact</a></li>
                                        <!--
                                        <li><a href="~/Home#start"><span class="d-inline-block bg-primary text-white btn btn-primary">Get Test</span></a></li>
                                        -->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bootstrap Navigation menu-->


        <div>
            @RenderBody()
            <hr />
            <!--Footer Section-->
            <footer class="site-footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <h3 class="footer-heading mb-4 text-white">Brand Vision</h3>
                            <p>We are committed to establish a sustainable world that values and conserves environment.</p>
                            
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0 ml-auto">
                            <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                            <ul class="list-unstyled">
                                <li><a href="~/Home">Home</a></li>
                                <li><a href="~/Home/About">About</a></li>
                                <li><a href="~/Home/Vendor">Services</a></li>
                                <li><a href="~/Home/Contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="footer-heading mb-4 text-white">PokaCarbon Members</h3>
                            <ul class="list-unstyled">
                                <li>Tanya Shipley</li>
                                <li>Maria Baturina</li>
                                <li>Tanmay Dalvi</li>
                                <li>Yan Li</li>
                            </ul>
                        </div>
                        <div class="col-md-12 copyright-block text-center">
                            <p>Copyright © @DateTime.Now.Year Team PokaCarbon. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!--Footer Section-->
        </div>
    </div>
    <a id="go-top-button"></a>


    <!--jQuery Scripts-->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <!--jQuery Scripts-->
    <!--JQuery Script for Bin show and hide on Waste Seperation Page-->
    <script>

        $(".yellow-bin").click(function () {
            $(".yellow-bin-content").toggle("slow");
        });


        $(".green-bin").click(function () {
            $(".green-bin-content").toggle("slow");
        });

        $(".red-bin").click(function () {
            $(".red-bin-content").toggle("slow");
        });

        $(".purple-bin").click(function () {
            $(".purple-bin-content").toggle("slow");
        });
    </script>


    <!--JQuery Script for Bin show and hide on Waste Seperation Page-->
    <script src="~/js/Go-top-button.js"></script>
</body>
</html>
