<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/images/Logo1.ico" />
    <title>WasteDeck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/Content/wastedeck-style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- .site-mobile-menu -->
        <!--Bootstrap Navigation menu-->
        <div class="site-navbar-wrap js-site-navbar bg-white">
            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <h2 class="mb-0 site-logo"><img src="~/images/favicon-32x32.png" /><a href="~/Home" class="font-weight-bold text-uppercase">WasteDeck</a></h2>
                        </div>
                        <div class="col-9">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">
                                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        @{
                                            //get curent action for highlight curent page in navigation bar
                                            var action = ViewContext.RouteData.Values["action"].ToString();
                                        }
                                        <li class="@if(action == "Index"){ <text>active</text> }"><a href="~/Home">Home</a></li>

                                        <li class="has-children">
                                            <a>Services</a>
                                            <ul class="dropdown arrow-top">
                                                <li>
                                                    <div class="link-content">
                                                        <div class="icon-style-block">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 510 510" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m254 292.5c-30.327 0-55 24.673-55 55v70c0 30.327 24.673 55 55 55s55-24.673 55-55v-70c0-30.327-24.673-55-55-55zm25 125c0 13.785-11.215 25-25 25s-25-11.215-25-25v-70c0-13.785 11.215-25 25-25s25 11.215 25 25z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m388.223 428.035 10.381-4.569c9.741-4.288 17.282-11.954 21.509-21.261 50.217-3.897 89.887-46.005 89.887-97.205 0-25.703-9.917-49.955-27.925-68.289-13.452-13.696-30.285-22.943-48.647-26.942 1.046-5.667 1.572-11.434 1.572-17.269 0-52.383-42.617-95-95-95-16.584 0-32.565 4.25-46.666 12.23-15.547-42.47-56.466-72.23-103.334-72.23-60.654 0-110 49.346-110 110 0 8.56.972 16.984 2.899 25.191-20.846 6.425-39.662 18.617-54.156 35.312-18.535 21.349-28.743 48.694-28.743 76.997 0 41.202 22.847 79.865 59 101.248v31.252c0 30.327 24.673 55 55 55s55-24.673 55-55v-5h-30v5c0 13.785-11.215 25-25 25s-25-11.215-25-25v-70c0-13.785 11.215-25 25-25s25 11.215 25 25v5h30v-5c0-30.327-24.673-55-55-55s-55 24.673-55 55v1.643c-18.125-16.548-29-39.774-29-64.143 0-42.948 31.967-80.143 74.357-86.519l18.927-2.847-7.288-17.698c-3.978-9.661-5.996-19.902-5.996-30.436 0-44.112 35.888-80 80-80 40.092 0 74.197 29.928 79.331 69.616l3.849 29.749 21.491-20.926c12.212-11.891 28.31-18.439 45.329-18.439 35.841 0 65 29.159 65 65 0 8.416-1.6 16.626-4.754 24.404l-8.194 20.206 21.8.428c36.474.717 66.148 30.981 66.148 67.462 0 33.801-24.974 61.873-57.438 66.747-4.694-18.292-21.347-31.878-41.043-31.878h-.151c-23.362 0-42.368 19.006-42.368 42.368h30c0-6.82 5.549-12.368 12.368-12.368h.151c6.782 0 12.331 5.518 12.368 12.294l.013 2.458c.027 4.931-2.871 9.401-7.384 11.388l-10.38 4.569c-22.559 9.93-37.136 32.273-37.136 56.922v15h80v-30h-46.29c3.324-6.31 8.719-11.475 15.513-14.465z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg>
                                                        </div>
                                                        <div class="link-content-block @if(action == "Carbon_Footprint"){ <text>active</text> }">
                                                            <a href="~/Home/Carbon_Footprint">Carbon <br />Footprint</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="has-children">
                                                    <div class="link-content">
                                                        <div class="icon-style-block">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 480 480" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><g><g id="ouline_15_"><path d="m184.288 424c17.673 0 32-14.327 32-32s-14.327-32-32-32-32 14.327-32 32c.02 17.665 14.335 31.98 32 32zm0-48c8.837 0 16 7.163 16 16s-7.163 16-16 16-16-7.163-16-16c.01-8.832 7.168-15.99 16-16z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m476.088 171.343-40.521-108.051c2.871-1.29 4.719-4.144 4.721-7.292v-48c0-4.418-3.582-8-8-8h-64c-4.418 0-8 3.582-8 8v48c.002 3.148 1.85 6.002 4.721 7.292l-36.914 98.44c.127-.569.192-1.149.193-1.732v-40c-.01-8.832-7.168-15.99-16-16h-48c-8.832.01-15.99 7.168-16 16v40c0 2.546 1.215 4.939 3.27 6.441l-11.27 20.286v-50.727c0-4.418-3.582-8-8-8h-26c-16.561.019-29.981 13.439-30 30v66h-80v-68c-.018-15.457-12.543-27.982-28-28h-38c-16.561.019-29.981 13.439-30 30v300c.014 12.145 9.855 21.986 22 22h210c1.45.001 2.872-.394 4.114-1.142 2.561.754 5.216 1.139 7.886 1.142h88c4.687.005 9.3-1.174 13.41-3.427 5.255 2.275 10.922 3.442 16.648 3.427h75.2c23.196 0 42-18.803 42.001-41.999 0-3.179-.361-6.347-1.076-9.445-.045-.193-.1-.384-.155-.573l-.589-1.895c-8.655-27.982-10.451-57.636-5.239-86.458l3.1-17.081c1.867-10.304 3.179-20.7 3.928-31.145.487-1.034.049-111.184-1.138-112.58-.615-2.537-1.379-5.035-2.29-7.481zm-99.8-155.343h48v32h-48zm5.544 48h36.912l42 112h-120.912zm-117.544 56h48v32h-48zm-30.246 152 4 16h-107.508l4-16zm14.246 32v16h-128v-16zm-184-160h4c6.624.007 11.993 5.376 12 12v68h-16zm-42 320c-3.312-.003-5.997-2.688-6-6v-300c.008-7.729 6.271-13.992 14-14h18v80c.01 8.832 7.168 15.99 16 16h112c8.832-.01 15.99-7.168 16-16v-66c.008-7.729 6.271-13.992 14-14h18v112h-96c-3.671 0-6.871 2.499-7.761 6.06l-6.485 25.94h-1.754c-4.418 0-8 3.582-8 8v32c0 4.418 3.582 8 8 8h.84l14.222 128zm202.84 0h-81.68l-14.222-128h110.124zm119.16-12c-.007 6.624-5.376 11.993-12 12h-88c-1.019-.003-2.033-.136-3.018-.395l5.289-47.605h95.729c1.105 0 2 .895 2 2zm0-54c0 1.105-.895 2-2 2h-93.951l3.556-32h90.395c1.105 0 2 .895 2 2zm0-48c0 1.105-.895 2-2 2h-88.617l1.777-16h.84c4.418 0 8-3.582 8-8v-8h78c1.105 0 2 .895 2 2zm0-48c0 1.105-.895 2-2 2h-78v-8c0-4.418-3.582-8-8-8h-1.754l-4-16h91.754c1.105 0 2 .895 2 2zm-2-46h-102v-36.135c.537-1.084 1.093-2.16 1.677-3.211l27.03-48.654h38.586l27.03 48.654c6.339 11.427 9.669 24.278 9.677 37.346 0 1.105-.895 2-2 2zm115.607 198.186c-4.92 6.217-12.419 9.834-20.347 9.814h-75.2c-1.537 0-3.071-.134-4.585-.4 1.666-3.64 2.528-7.597 2.525-11.6v-34c.003-3.562-1.057-7.044-3.044-10 1.987-2.956 3.047-6.438 3.044-10v-28c.003-3.562-1.057-7.044-3.044-10 1.987-2.956 3.047-6.438 3.044-10v-28c.003-3.562-1.057-7.044-3.044-10 1.987-2.956 3.047-6.438 3.044-10v-6h102.8c-.74 7.946-1.817 15.859-3.24 23.687l-3.105 17.081c-5.671 31.358-3.716 63.619 5.7 94.063l.5 1.594c1.699 7.644-.158 15.646-5.048 21.761zm6.21-174.186h-103.817v-6c.003-3.562-1.057-7.044-3.044-10 1.987-2.956 3.047-6.438 3.044-10-.01-15.787-4.033-31.312-11.691-45.117l-9.38-16.883h125c.045.837-.002 84.822-.112 88z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m40.288 312c-4.418 0-8 3.582-8 8v40c0 4.418 3.582 8 8 8s8-3.582 8-8v-40c0-4.418-3.582-8-8-8z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m40.288 384c-4.418 0-8 3.582-8 8v8c0 4.418 3.582 8 8 8s8-3.582 8-8v-8c0-4.418-3.582-8-8-8z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m443.259 320.572c-4.102-1.641-8.758.353-10.399 4.456 0 0 0 .001-.001.001-11.02 27.587-11.92 58.185-2.538 86.371l2.377 7.13c1.438 4.178 5.991 6.398 10.168 4.96 4.12-1.418 6.347-5.873 5.01-10.02l-2.376-7.129c-8.187-24.596-7.402-51.297 2.215-75.37 1.641-4.102-.354-8.758-4.456-10.399z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m434.916 149.029-3.2-8c-1.641-4.102-6.297-6.098-10.399-4.457s-6.098 6.297-4.457 10.399l3.2 8c1.641 4.102 6.297 6.098 10.399 4.457s6.098-6.297 4.457-10.399z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m422.116 117.029-6.4-16c-1.641-4.102-6.297-6.098-10.399-4.457s-6.098 6.297-4.457 10.399l6.4 16c1.641 4.102 6.297 6.098 10.399 4.457s6.098-6.297 4.457-10.399z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></g></g></svg>
                                                        </div>
                                                        <div class="link-content-block @if(action == "Plastic_Impact" || action == "Plastic_Alternative"){ <text>active</text> }">
                                                            <a href="#">Know Your <br />Plastic</a>
                                                        </div>
                                                    </div>
                                                    <ul class="dropdown">
                                                        <li class="@if(action == "Plastic_Impact"){ <text>active</text> }"><a href="~/Home/Plastic_Impact"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 509 509" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="XMLID_133_"><g id="XMLID_82_"><path id="XMLID_696_" d="m428.5 509h-348c-21.505 0-39-17.495-39-39v-470h90v107h246v-107h90v470c0 21.505-17.495 39-39 39zm-357-479v440c0 4.962 4.038 9 9 9h348c4.962 0 9-4.038 9-9v-440h-30v107h-306v-107z" fill="#ffffff" data-original="#000000" style="" class="" /></g><g id="XMLID_125_"><path id="XMLID_693_" d="m339.167 288h-169.334v-102h169.333v102zm-139.334-30h109.333v-42h-109.333z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></g></svg> Plastic Impact</a></li>
                                                        <li class="@if(action == "Plastic_Alternative"){ <text>active</text> }"><a href="~/Home/Plastic_Alternative"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="_17-no_plastic" data-name="17-no plastic"><path d="M411.178,147.57A204.286,204.286,0,0,0,300,80.778V67.3A11.992,11.992,0,0,0,308,56V16A12,12,0,0,0,296,4H216a12,12,0,0,0-12,12V56a11.992,11.992,0,0,0,8,11.3V80.778a204.017,204.017,0,0,0-55.953,377.079A52.054,52.054,0,0,0,208,508h96a52.054,52.054,0,0,0,51.953-50.143A204.03,204.03,0,0,0,411.178,147.57Zm-56.6,16.882A51.655,51.655,0,0,0,340.77,139.8l-31.95-31.95a178.881,178.881,0,0,1,65.85,36.51ZM156,429.686a180.535,180.535,0,0,1-18.556-14.159L156,396.971Zm24-56.715L284.971,268H332V412H180ZM180,268h71.029L180,339.029Zm152-24H308.971L332,220.971Zm-56.971,0H180V176.569a27.818,27.818,0,0,1,8.2-19.8l44.284-44.285A12,12,0,0,0,236,104V68h40v36a12,12,0,0,0,3.515,8.485L323.8,156.77a27.818,27.818,0,0,1,8.2,19.8v10.46ZM228,28h56V44H228ZM76,280A179.324,179.324,0,0,1,203.18,107.849L171.23,139.8A51.663,51.663,0,0,0,156,176.569v186.46l-35.543,35.544A179.449,179.449,0,0,1,76,280ZM332,456a28.032,28.032,0,0,1-28,28H208a28.032,28.032,0,0,1-28-28V436H332Zm24-26.314V196.971l35.635-35.635A180.384,180.384,0,0,1,356,429.686Z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg> Plastic Alternatives</a></li>
                                                    </ul>
                                                </li>

                                                <li class="has-children">
                                                    <a href="#" class="@if(action == "Waste_Seperation" || action == "Recycle_Center"){ <text>active</text> }"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="M481.451,34.115a37.23,37.23,0,0,0-49.632,2.752l-.464.464A36.187,36.187,0,0,1,405.6,48a47.239,47.239,0,0,0-26.2,86.544l3.341,2.227a48.237,48.237,0,0,0,50.968,1.756A152.824,152.824,0,0,0,490.526,81.7,37.082,37.082,0,0,0,481.451,34.115Zm-4.816,39.65a136.814,136.814,0,0,1-50.87,50.87,32.322,32.322,0,0,1-34.154-1.176l-3.341-2.228A31.239,31.239,0,0,1,405.6,64a52.088,52.088,0,0,0,37.074-15.357l.463-.464a21.265,21.265,0,0,1,33.5,25.586Z" fill="#ffffff" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="M71.85,496h80.3A39.812,39.812,0,0,0,184,480.071,39.812,39.812,0,0,0,215.85,496h80.3A39.812,39.812,0,0,0,328,480.071,39.812,39.812,0,0,0,359.85,496h80.3A39.894,39.894,0,0,0,480,456.15v-64.3a39.9,39.9,0,0,0-35.2-39.569l18.351-36.7a8,8,0,0,0-3.577-10.733l-19.994-10a31.2,31.2,0,0,0-31.19,1.942,15.1,15.1,0,0,1-16.788,0,31.19,31.19,0,0,0-31.19-1.942l-19.994,10a8,8,0,0,0-3.577,10.733l18.351,36.7A39.856,39.856,0,0,0,328,367.929a39.856,39.856,0,0,0-27.2-15.648l18.351-36.7a8,8,0,0,0-3.577-10.733l-19.994-10a31.2,31.2,0,0,0-31.19,1.942,15.1,15.1,0,0,1-16.788,0,31.19,31.19,0,0,0-31.19-1.942l-19.994,10a8,8,0,0,0-3.577,10.733l18.351,36.7A39.856,39.856,0,0,0,184,367.929a39.856,39.856,0,0,0-27.2-15.648l18.351-36.7a8,8,0,0,0-3.577-10.733l-19.994-10a31.2,31.2,0,0,0-31.19,1.942,15.089,15.089,0,0,1-15.753.629A117.3,117.3,0,0,1,104,285.207v-25.6a114.913,114.913,0,0,1,33.4-81.286A116.345,116.345,0,0,1,219.608,144h6.207a167.909,167.909,0,0,0-48.675,51.884l13.72,8.232a151.877,151.877,0,0,1,51.191-51.566l-17.64,52.92,15.178,5.06L256,161.3l16.411,49.232,15.178-5.06-17.64-52.92a151.877,151.877,0,0,1,51.191,51.566l13.72-8.232A167.909,167.909,0,0,0,286.185,144h6.207A115.381,115.381,0,0,1,370,173.924l10.743-11.858a131.321,131.321,0,0,0-65.214-32.017l35.739-77.9a8,8,0,0,0-1.614-8.993L331.8,25.3a25.345,25.345,0,0,0-38.2,2.716,9.349,9.349,0,0,1-14.085,1l-5.593-5.594a25.377,25.377,0,0,0-35.845,0l-5.592,5.592a9.348,9.348,0,0,1-14.085-1A25.345,25.345,0,0,0,180.2,25.3L162.343,43.158a8,8,0,0,0-1.614,8.993l35.755,77.934a132.537,132.537,0,0,0-70.459,36.987A130.816,130.816,0,0,0,88,259.608v25.6c0,2.139.071,4.281.174,6.421a31.114,31.114,0,0,0-15.758,3.22l-19.994,10a8,8,0,0,0-3.577,10.733l18.351,36.7A39.9,39.9,0,0,0,32,391.85v64.3A39.894,39.894,0,0,0,71.85,496ZM213.131,128,177.592,50.537l13.923-13.923a9.345,9.345,0,0,1,14.085,1,25.346,25.346,0,0,0,38.2,2.714l5.592-5.592a9.358,9.358,0,0,1,13.217,0L268.2,40.33a25.347,25.347,0,0,0,38.2-2.715,9.345,9.345,0,0,1,14.085-1l13.923,13.923L298.869,128H268.944l18.211-36.422-14.31-7.156L256,118.111,239.155,84.422l-14.31,7.156L243.056,128H213.131Zm154.44,181.158a15.165,15.165,0,0,1,15.16.945,31.049,31.049,0,0,0,34.538,0,15.16,15.16,0,0,1,15.16-.945l12.838,6.419L427.056,352H372.944l-18.211-36.423ZM359.85,368h20.836l-26.343,26.343,11.314,11.314L392,379.313V408h16V379.313l26.343,26.344,11.314-11.314L419.314,368H440.15A23.877,23.877,0,0,1,464,391.85v64.3A23.877,23.877,0,0,1,440.15,480h-80.3A23.877,23.877,0,0,1,336,456.15v-64.3A23.877,23.877,0,0,1,359.85,368ZM223.571,309.158a15.165,15.165,0,0,1,15.16.945,31.049,31.049,0,0,0,34.538,0,15.16,15.16,0,0,1,15.16-.945l12.838,6.419L283.056,352H228.944l-18.211-36.423ZM215.85,368h20.836l-26.343,26.343,11.314,11.314L248,379.313V408h16V379.313l26.343,26.344,11.314-11.314L275.314,368H296.15A23.877,23.877,0,0,1,320,391.85v64.3A23.877,23.877,0,0,1,296.15,480h-80.3A23.877,23.877,0,0,1,192,456.15v-64.3A23.877,23.877,0,0,1,215.85,368ZM79.571,309.158a15.165,15.165,0,0,1,15.16.945,31.049,31.049,0,0,0,34.538,0,15.161,15.161,0,0,1,15.16-.945l12.838,6.419L139.056,352H84.944L66.733,315.577ZM48,391.85A23.877,23.877,0,0,1,71.85,368H92.686L66.343,394.343l11.314,11.314L104,379.313V408h16V379.313l26.343,26.344,11.314-11.314L131.314,368H152.15A23.877,23.877,0,0,1,176,391.85v64.3A23.877,23.877,0,0,1,152.15,480H71.85A23.877,23.877,0,0,1,48,456.15Z" fill="#ffffff" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="M64,180.284a36.047,36.047,0,0,0,25.657-10.627l32-32A36.284,36.284,0,0,0,70.343,86.343l-32,32A36.284,36.284,0,0,0,64,180.284ZM49.657,129.657l32-32a20.284,20.284,0,0,1,28.686,28.686l-32,32a20.284,20.284,0,0,1-28.686-28.686Z" fill="#ffffff" data-original="#000000" style="" class="" /><rect xmlns="http://www.w3.org/2000/svg" x="56" y="136" width="16" height="16" fill="#ffffff" data-original="#000000" style="" class="" /><rect xmlns="http://www.w3.org/2000/svg" x="80" y="112" width="16" height="16" fill="#ffffff" data-original="#000000" style="" class="" /><rect xmlns="http://www.w3.org/2000/svg" x="392" y="88" width="16" height="16" fill="#ffffff" data-original="#000000" style="" class="" /><rect xmlns="http://www.w3.org/2000/svg" x="416" y="72" width="16" height="16" fill="#ffffff" data-original="#000000" style="" class="" /><rect xmlns="http://www.w3.org/2000/svg" x="448" y="72" width="16" height="16" fill="#ffffff" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="M400,160v16.805A40.119,40.119,0,0,0,368.805,208H352v16h16.805a39.764,39.764,0,0,0,5.839,14.042l-12.3,12.3,11.314,11.314,12.3-12.3a39.891,39.891,0,0,0,48.6-3.482l15.783,15.783,11.314-11.314L444.234,232.92a39.892,39.892,0,0,0,0-33.84l17.423-17.423-11.314-11.314L434.56,186.126A39.894,39.894,0,0,0,416,176.805V160Zm32,56a24,24,0,1,1-24-24A24.028,24.028,0,0,1,432,216Z" fill="#ffffff" data-original="#000000" style="" class="" /></g></svg> Waste Disposal</a>
                                                    <ul class="dropdown">
                                                        <li class="@if(action == "Waste_Seperation"){ <text>active</text> }">
                                                            <a href="~/Home/Waste_Seperation">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m436 120h-18.289l-27.159-108.638c-1.669-6.677-7.669-11.362-14.552-11.362h-240c-6.883 0-12.883 4.685-14.552 11.362l-27.159 108.638h-18.289c-8.284 0-15 6.716-15 15v60c0 8.284 6.716 15 15 15h16.416l28.657 288.483c.763 7.672 7.217 13.517 14.927 13.517h240c7.71 0 14.164-5.845 14.927-13.517l28.657-288.483h16.416c8.284 0 15-6.716 15-15v-60c0-8.284-6.716-15-15-15zm-288.288-90h216.576l22.5 90h-55.788v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-55.788zm153.288 90h-90v-30h90zm-210 30h330v30h-330zm271.416 332h-212.832l-27.02-272h266.872z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m178.057 405h48.714c8.284 0 15-6.716 15-15s-6.716-15-15-15h-22.732l11.366-19.687c4.143-7.175 1.685-16.348-5.49-20.49-7.174-4.143-16.349-1.684-20.49 5.49l-24.358 42.187c-2.68 4.641-2.68 10.359 0 15s7.631 7.5 12.99 7.5z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m296.595 355.313 11.366 19.687h-22.732c-8.284 0-15 6.716-15 15s6.716 15 15 15h48.714c5.359 0 10.311-2.859 12.99-7.5s2.68-10.359 0-15l-24.357-42.188c-4.143-7.175-13.318-9.632-20.49-5.49-7.176 4.142-9.634 13.316-5.491 20.491z" fill="#ffffff" data-original="#000000" style="" class="" />

                                                                <path d="m224.142 310.178c7.173 4.142 16.347 1.684 20.49-5.49l11.368-19.688 11.367 19.688c2.778 4.813 7.82 7.503 13.004 7.502 2.545 0 5.124-.648 7.486-2.012 7.175-4.142 9.633-13.316 5.49-20.49l-24.357-42.188c-2.68-4.641-7.631-7.5-12.99-7.5s-10.311 2.859-12.99 7.5l-24.357 42.188c-4.143 7.174-1.685 16.348 5.489 20.49z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g>
                                                                </svg> Bin Classification
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <div class="link-content">
                                                                <div class="icon-style-block">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.99924 511" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m510.183594 317.742188c-.566406-1.042969 4.480468 7.796874-44.003906-76.941407-4.09375-7.148437-13.183594-9.664062-20.367188-5.628906l-62.023438 34.839844c-7.261718 4.078125-9.8125 13.300781-5.675781 20.527343l34.9375 61.058594-80.339843.097656v-20.277343c0-13.40625-16.308594-20.054688-25.691407-10.523438l-70.402343 71.519531c-5.800782 5.890626-5.738282 15.363282.132812 21.179688l70.402344 69.753906c9.4375 9.351563 25.558594 2.683594 25.558594-10.65625v-20.359375l109.890624-.125c5.742188-.003906 10.980469-3.289062 13.484376-8.457031 49.175781-101.503906 32.222656-66.519531 54.367187-112.21875 2.144531-4.332031 2.0625-9.476562-.269531-13.789062zm-77.003906 104.476562-115.484376.128906c-8.070312.011719-14.648437 6.390625-14.972656 14.378906l-34.238281-33.921874 34.277344-34.824219c.660156 7.742187 7.132812 13.730469 14.964843 13.730469 5.453126-.007813 127.246094-.148438 135.152344-.160157zm14.414062-70.660156-35.933594-62.796875 35.871094-20.144531 32.523438 56.84375-12.632813 26.074218zm0 0" fill="#ffffff" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m175.710938 351.652344-71.027344.0625 39.398437-69.183594 18.007813 10.09375c11.695312 6.550781 25.507812-4.429688 21.726562-17.308594l-28.15625-95.933594c-2.308594-7.847656-10.480468-12.40625-18.367187-10.238281l-95.945313 26.363281c-12.917968 3.550782-15.019531 21.011719-3.363281 27.546876l17.875 10.019531-53.894531 94.628906c-2.875 5.046875-2.574219 11.300781.765625 16.050781 77.664062 110.476563 72.410156 103.890625 76.035156 106.222656 5.128906 3.304688.671875 2.398438 97.027344 2.316407 8.285156-.003907 14.996093-6.726563 14.988281-15.011719l-.058594-70.640625c-.003906-8.265625-6.710937-14.988281-15.011718-14.988281zm-86.308594-116.851563c3.945312-6.929687 1.773437-15.730469-4.914063-20.035156l46.535157-12.785156 13.664062 46.550781c-7.003906-3.234375-15.421875-.609375-19.304688 6.207031-2.890624 5.074219-63.722656 111.898438-66.484374 116.75l-26.15625-37.203125zm5.257812 187.5625-16.6875-23.742187 9.621094-16.894532 73.144531-.0625.03125 40.640626zm0 0" fill="#ffffff" data-original="#000000" style="" class="" /><path xmlns="http://www.w3.org/2000/svg" d="m301.234375 152.464844-17.671875 10.1875c-11.660156 6.726562-9.199219 24.300781 3.875 27.550781 105.613281 26.253906 98.796875 24.757813 101.4375 24.757813 6.636719 0 12.695312-4.4375 14.480469-11.140626l25.417969-95.382812c3.429687-12.875-10.449219-23.511719-21.988282-16.859375l-17.949218 10.355469-55.394532-94.046875c-2.699218-4.578125-7.613281-7.386719-12.925781-7.386719-6.292969 0-113.289063 0-119.527344 0-5.363281 0-10.296875 2.917969-12.929687 7.390625l-50.617188 86.015625c-4.222656 7.175781-1.789062 16.429688 5.421875 20.59375l61.585938 35.589844c7.136719 4.125 16.257812 1.71875 20.433593-5.378906l35.871094-60.953126zm10.707031-121.964844 58.589844 99.464844c4.085938 6.9375 12.898438 9.386718 19.957031 5.636718l-12.320312 46.242188-47.511719-11.808594c6.238281-4.53125 8.042969-13.082031 4.113281-19.757812-.625-1.054688-48.996093-83.148438-70.578125-119.777344zm-105.367187 86.167969-35.609375-20.578125 38.601562-65.589844h19.804688l13.964844 23.703125zm0 0" fill="#ffffff" data-original="#000000" style="" class="" /></g></svg>
                                                                </div>
                                                                <div class="link-content-block @if(action == "Recycle_Center"){ <text>active</text> }">
                                                                    <a href="~/Home/Recycle_Center">Search Recycle Center</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <div class="link-content">
                                                        <div class="icon-style-block">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="Outline"><path d="m256 496a32.038 32.038 0 0 1 -32-32v-96a80.094 80.094 0 0 0 -80-80h-18.753l9.373 9.372a32 32 0 0 1 -45.258 45.257l-64-64a32.037 32.037 0 0 1 0-45.256l64-64a32 32 0 0 1 45.258 45.256l-9.373 9.374h18.746a143.952 143.952 0 0 1 80.007 24.326v-123.085l-9.373 9.373a32 32 0 1 1 -45.258-45.256l64-64a32.04 32.04 0 0 1 45.258 0l64 64a32 32 0 0 1 -45.258 45.257l-9.369-9.374v123.085a143.952 143.952 0 0 1 80.005-24.337h18.746l-9.373-9.373a32 32 0 0 1 45.258-45.257l64 64a32.036 32.036 0 0 1 0 45.255l-64 64a32 32 0 0 1 -45.258-45.256l9.373-9.373h-18.744a80.094 80.094 0 0 0 -80 80v96a32.038 32.038 0 0 1 -32.007 32.012zm-150.068-224.007h38.061a96.113 96.113 0 0 1 96.007 96.007v96a16 16 0 1 0 32 0v-96a96.113 96.113 0 0 1 96.006-96h38.061a8 8 0 0 1 5.658 13.658l-23.032 23.03a16 16 0 0 0 22.63 22.627l64-64a16.019 16.019 0 0 0 0-22.628l-64-64a16 16 0 1 0 -22.623 22.619l23.031 23.029a8 8 0 0 1 -5.658 13.657h-38.066a127.965 127.965 0 0 0 -82.822 30.493 8 8 0 0 1 -13.185-6.094v-158.461a8 8 0 0 1 13.658-5.658l23.03 23.03a16 16 0 1 0 22.629-22.629l-64-64a16.017 16.017 0 0 0 -22.63 0l-64 64a16 16 0 0 0 22.63 22.628l23.03-23.03a8 8 0 0 1 13.653 5.659v158.461a8 8 0 0 1 -13.184 6.094 127.965 127.965 0 0 0 -82.822-30.493h-38.062a8 8 0 0 1 -5.657-13.657l23.031-23.03a16 16 0 1 0 -22.63-22.628l-64 64a16.019 16.019 0 0 0 0 22.628l64 64a16 16 0 1 0 22.629-22.628l-23.03-23.029a8 8 0 0 1 5.657-13.658z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg>
                                                        </div>
                                                        <div class="link-content-block @if(action == "Avoid_Food_Waste" || action == "Composting" || action == "Pot_Farming"){ <text>active</text> }">
                                                            <a href="#">Ways to Reduce Carbon Emission</a>
                                                        </div>
                                                    </div>
                                                    <ul class="dropdown">
                                                        <li class="@if(action == "Avoid_Food_Waste"){ <text>active</text> }"><a href="~/Home/Avoid_Food_Waste"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.918 511.918" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m510.739 208.817-42.6-101.009v-31.875c0-32.053-26.077-58.13-58.13-58.13h-308.101c-32.053 0-58.129 26.077-58.129 58.13v31.875l-42.6 101.009c-1.953 4.632-1.456 9.935 1.323 14.123 2.779 4.189 7.472 6.706 12.498 6.706 6.897 0 12.565-.588 17.426-1.506-3.961 11.154-6.034 23-6.034 35.087v180.03c0 28.043 22.815 50.857 50.857 50.857h357.421c28.042 0 50.856-22.814 50.856-50.857v-180.03c0-12.068-2.068-23.906-6.041-35.089 4.862.919 10.532 1.508 17.433 1.508 5.026 0 9.72-2.518 12.499-6.706 2.779-4.189 3.275-9.491 1.322-14.123zm-436.961-132.884c0-15.511 12.619-28.13 28.129-28.13h308.102c15.511 0 28.13 12.619 28.13 28.13v19.613h-364.361zm-4.921 49.613h374.204l29.051 68.883c-.003-.001-.007-.003-.01-.004-6.51-2.662-13.694-5.59-24.68-6.835-.019-.002-.038-.004-.057-.006-3.415-.385-7.186-.613-11.433-.613-18.036 0-27.904 4.17-35.833 7.52-6.815 2.88-12.198 5.154-24.157 5.154-11.958 0-17.341-2.275-24.156-5.154-7.929-3.35-17.796-7.52-35.832-7.52-18.035 0-27.903 4.17-35.832 7.52-6.814 2.88-12.197 5.154-24.155 5.154s-17.341-2.275-24.156-5.154c-7.929-3.35-17.797-7.52-35.833-7.52s-27.905 4.17-35.834 7.52c-6.815 2.88-12.198 5.154-24.157 5.154-11.96 0-17.343-2.275-24.159-5.154-7.929-3.351-17.798-7.52-35.835-7.52-4.938 0-9.233.307-13.068.815-.068.009-.136.018-.205.028-9.99 1.347-16.75 4.095-22.901 6.611-.005.002-.009.003-.014.005zm-12.466 179.696h250.393l.001 81.872h-250.394zm399.135 138.015c0 11.501-9.356 20.857-20.856 20.857h-357.422c-11.5 0-20.857-9.356-20.857-20.857v-26.143h250.592c16.433 0 29.802-13.345 29.802-29.747l-.001-82.378c0-16.402-13.369-29.747-29.802-29.747h-250.591v-12.016c0-16.853 5.649-33.039 15.98-46.174 1.146-.05 2.34-.081 3.621-.081 11.96 0 17.343 2.274 24.159 5.154 7.929 3.351 17.797 7.52 35.835 7.52 18.037 0 27.905-4.17 35.834-7.52 6.815-2.88 12.198-5.154 24.157-5.154 11.958 0 17.342 2.274 24.157 5.154 7.929 3.35 17.797 7.52 35.833 7.52s27.904-4.17 35.832-7.52c6.815-2.88 12.197-5.154 24.154-5.154 11.958 0 17.341 2.274 24.156 5.154 7.929 3.35 17.796 7.52 35.832 7.52s27.904-4.17 35.833-7.52c6.815-2.88 12.198-5.154 24.157-5.154 1.193 0 2.306.029 3.381.072 1.498 1.713 2.825 3.426 3.933 5.109 8.033 12.192 12.279 26.396 12.279 41.073v180.032z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg> Avoid Food Waste</a></li>
                                                        <li class="@if(action == "Composting"){ <text>active</text> }"><a href="~/Home/Composting"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m376 242c8.284 0 15-6.716 15-15 0-.009-.001-.018-.001-.027-.008-20.666-9.808-39.883-27.596-54.114-16.814-13.452-38.977-20.86-62.403-20.86-10.551 0-20.833 1.501-30.521 4.395-1.254-12.724-4.758-25.013-10.313-36.394h2.709c57.897 0 105-47.103 105-105 0-8.284-6.716-15-15-15h-30c-48.049 0-88.66 32.442-101.087 76.571-16.607-10.792-35.791-16.571-55.788-16.571-8.284 0-15 6.716-15 15s6.716 15 15 15c37.024 0 68.804 29.249 74.187 65.997-9.296-2.638-19.12-3.999-29.188-3.999-23.426 0-45.588 7.408-62.403 20.86-17.796 14.237-27.597 33.464-27.597 54.14 0 8.232 6.663 15.001 15.001 15.001 21.284 0 45 36.962 45 90 0 53.016-23.696 89.967-44.973 89.999h-.028c-8.284 0-15 6.716-15 15 0 44.293 43.49 75 90 75 15.996 0 31.381-3.428 45-9.974 13.62 6.546 29.005 9.974 45 9.974 46.782 0 89.98-30.921 90-74.971 0-.009.001-.019.001-.028 0-8.232-6.663-15.001-15.001-15.001h-.026c-21.278-.031-44.973-36.982-44.973-89.998 0-53.038 23.716-90 45-90zm-53.125-212h13.493c-6.97 34.191-37.274 60-73.493 60h-13.493c6.969-34.191 37.274-60 73.493-60zm-111.876 151.999c13.658 0 26.548 3.407 37.273 9.853 4.683 2.812 10.652 2.878 15.452 0 10.728-6.446 23.616-9.853 37.274-9.853 26.075 0 48.318 12.539 56.573 30.001h-203.145c8.254-17.462 30.498-30.001 56.573-30.001zm90 300c-13.658 0-26.547-3.407-37.274-9.853-4.754-2.857-10.696-2.857-15.452 0-10.726 6.445-23.615 9.853-37.273 9.853-26.075 0-48.318-12.539-56.573-30h203.146c-8.256 17.46-30.499 30-56.574 30zm-114.896-59.999c15.359-21.826 24.897-53.8 24.897-90 0-36.202-9.539-68.177-24.899-90.001h139.798c-15.36 21.824-24.899 53.799-24.899 90.001 0 36.2 9.538 68.174 24.897 90z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m256 272c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m256 347c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg> Composting</a></li>
                                                        <li class="@if(action == "Pot_Farming"){ <text>active</text> }"><a href="~/Home/Pot_Farming"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.819 511.819" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m437.471 236.146h-70.735c8.682-5.974 16.637-12.822 23.831-20.562 48.868-52.574 44.101-126.005 43.874-129.105l-.945-12.92-12.92-.945c-2.563-.188-53.077-3.461-100.205 22.917-14.672-51.981-52.715-85.385-54.658-87.064l-9.803-8.467-9.804 8.467c-1.943 1.678-39.985 35.083-54.658 87.064-47.129-26.378-97.645-23.102-100.205-22.918l-12.92.945-.945 12.92c-.227 3.101-4.994 76.531 43.874 129.105 7.194 7.74 15.15 14.588 23.831 20.562h-70.735v30h31.262l16.367 245.674h267.865l16.367-245.674h31.262zm-33.052-133.466c-1.149 21.088-7.282 61.771-35.825 92.479-18.913 20.348-44.901 33.186-77.515 38.364 24.471-32.842 36.198-67.278 34.902-102.741-.041-1.126-.095-2.247-.162-3.362 28.116-19.038 60.552-23.715 78.6-24.74zm-188.61 29.452c1.433-41.797 26.013-75.159 40.132-90.979 14.098 15.725 38.53 48.828 40.061 90.725 1.211 33.141-12.265 65.844-40.092 97.388-27.756-31.465-41.234-64.081-40.101-97.134zm-108.365-29.496c18.025.983 50.365 5.62 78.557 24.768-.067 1.12-.122 2.246-.163 3.378-1.296 35.463 10.431 69.899 34.902 102.741-32.515-5.163-58.444-17.938-77.341-38.177-28.542-30.569-34.753-71.539-35.955-92.71zm42.601 379.183-1.999-30h215.727l-1.999 30zm215.727-60h-219.724l-10.371-155.674h240.466z" fill="#ffffff" data-original="#000000" style="" class="" /></g></svg> Pot Farming</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="link-content">
                                                        <div class="icon-style-block">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.999 511" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m361.921875 135.570312c0-24.824218-20.199219-45.023437-45.027344-45.023437-24.824219 0-45.023437 20.199219-45.023437 45.023437 0 24.828126 20.199218 45.023438 45.023437 45.023438 24.828125 0 45.027344-20.195312 45.027344-45.023438zm-45.027344 15.007813c-8.273437 0-15.007812-6.730469-15.007812-15.007813 0-8.273437 6.734375-15.007812 15.007812-15.007812 8.277344 0 15.011719 6.734375 15.011719 15.007812 0 8.277344-6.734375 15.007813-15.011719 15.007813zm0 0" fill="#ffffff" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531 180.59375c-41.375 0-75.039062 33.664062-75.039062 75.042969v45.023437h150.082031v-45.023437c0-41.378907-33.664062-75.042969-75.042969-75.042969zm45.027344 90.050781h-90.050781v-15.007812c0-24.828125 20.199218-45.027344 45.023437-45.027344 24.828125 0 45.027344 20.199219 45.027344 45.027344zm0 0" fill="#ffffff" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531.5c-107.578125 0-195.101562 87.523438-195.101562 195.101562 0 38.054688 10.960937 73.585938 29.875 103.636719l-151.667969 137.945313 75.3125 75.3125 137.996094-151.632813c30.039062 18.894531 65.554687 29.84375 103.585937 29.84375 107.582031 0 195.105469-87.523437 195.105469-195.101562 0-107.582031-87.523438-195.105469-195.105469-195.105469zm-242.605469 468.523438-30.8125-30.808594 22.230469-20.21875 28.808594 28.804687zm40.449219-44.445313-26.800781-26.800781 81.707031-74.316406c6.019531 6.917968 12.511719 13.414062 19.433594 19.429687zm202.15625-63.886719c-91.027343 0-165.085937-74.058594-165.085937-165.089844 0-91.027343 74.058594-165.085937 165.085937-165.085937 91.03125 0 165.089844 74.058594 165.089844 165.085937 0 91.03125-74.058594 165.089844-165.089844 165.089844zm0 0" fill="#ffffff" data-original="#000000" style="" /></g></svg>
                                                        </div>
                                                        <div class="link-content-block @if(action == "Test_Your_Knowledge"){ <text>active</text> }">
                                                            <a href="~/quizs/Index">Test Your Knowledge</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="@if(action == "About"){ <text>active</text> }"><a href="~/Home/About">About Us</a></li>
                                        <li class="@if(action == "Vendor"){ <text>active</text> }"><a href="~/Home/Vendor"><span class="d-inline-block bg-primary text-white btn btn-primary">Search Vendors</span></a></li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bootstrap Navigation menu-->


        <div>
            @RenderBody()
            <hr />
            <!--Footer Section-->
            <footer class="site-footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 mb-3 mb-md-0">
                            <h3 class="footer-heading mb-4 text-white">Brand Vision</h3>
                            <p>We are committed to establish a sustainable world that values and conserves environment.</p>

                        </div>
                        <div class="col-md-3 mb-3 mb-md-0 ml-auto">
                            <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                            <ul class="list-unstyled">
                                <li><a href="~/Home">Home</a></li>
                                <li><a href="~/Home/About">About</a></li>
                                <li><a href="~/Home/Vendor">Services</a></li>
                                <li><a href="~/Home/Contact">Contact</a></li>
                                <li><a href="~/Home/References">References</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-6 text-center text-white">QUICK MENU To Services</h3>
                            <br />
                            <ul class="list-unstyled" style="float:left">
                                <li><a href="~/Home/Carbon_FootPrint">Carbon FootPrint</a></li>
                                <li><a href="~/Home/Plastic_Impact">Impact of Plastic</a></li>
                                <li><a href="~/Home/Plastic_Alternative">Plastic Alternatives</a></li>
                                <li><a href="~/Home/Vendor">Search Eco-Friendly Shop</a></li>
                                <li><a href="~/quizs/Index">Test your Knowledge</a></li>

                            </ul>
                            <ul class="list-unstyled" style="float:right">

                                <li><a href="~/Home/Avoid_Food_Waste">Avoid Food Waste</a></li>
                                <li><a href="~/Home/Composting">Composting</a></li>
                                <li><a href="~/Home/Pot_Farming">Pot Farming</a></li>
                                <li><a href="~/Home/Waste_Seperation">Bin Classification</a></li>
                                <li><a href="~/Home/Recycle_Center">Search Recycle Center</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 copyright-block text-center">
                            <p>Copyright © @DateTime.Now.Year Team PokaCarbon. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!--Footer Section-->
        </div>
    </div>
    <a id="go-top-button"></a>


    <!--jQuery Scripts-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <!--jQuery Scripts-->
    <!--JQuery Script for Bin show and hide on Waste Seperation Page-->
    <script>

        $(".yellow-bin").click(function () {
            $(".yellow-bin-content").toggle("slow");
        });


        $(".green-bin").click(function () {
            $(".green-bin-content").toggle("slow");
        });

        $(".red-bin").click(function () {
            $(".red-bin-content").toggle("slow");
        });

        $(".purple-bin").click(function () {
            $(".purple-bin-content").toggle("slow");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#shop-smart").click(function () {
                $("#shop-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#store-food").click(function () {
                $("#store-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#food-leftover").click(function () {
                $("#leftover-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#pack-lunch").click(function () {
                $("#lunch-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#egg-yolk").click(function () {
                $("#egg-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#preserve-food").click(function () {
                $("#preserve-content-block").slideToggle("slow");
            });
        });
    </script>

    <script>
        $(".services").click(function () {
            $('html,body').animate({
                scrollTop: $(".services-slider-block").offset().top
            },
                'slow');
        });
    </script>
    <!--JQuery Script for Bin show and hide on Waste Seperation Page-->
    <script src="~/js/Go-top-button.js"></script>
</body>
</html>
