<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/images/Logo1.ico" />
    <title>WasteDeck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/Content/wastedeck-style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- .site-mobile-menu -->
        <!--Bootstrap Navigation menu-->
        <div class="site-navbar-wrap js-site-navbar bg-white">
            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <h2 class="mb-0 site-logo"><img src="~/images/favicon-32x32.png" /><a href="~/Home" class="font-weight-bold text-uppercase">WasteDeck</a></h2>
                        </div>
                        <div class="col-9">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">
                                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        @{
                                            //get curent action for highlight curent page in navigation bar
                                            var action = ViewContext.RouteData.Values["action"].ToString();
                                        }
                                        <li class="@if(action == "Index"){ <text>active</text> }"><a href="~/Home">Home</a></li>
                                        <li class="@if(action == "About"){ <text>active</text> }"><a href="~/Home/About">About Us</a></li>
                                        <li class="has-children">
                                            <a>Services</a>
                                            <ul class="dropdown arrow-top">
                                                <li>
                                                    <div class="link-content">
                                                        @*<div class="icon-style-block">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.999 511" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m361.921875 135.570312c0-24.824218-20.199219-45.023437-45.027344-45.023437-24.824219 0-45.023437 20.199219-45.023437 45.023437 0 24.828126 20.199218 45.023438 45.023437 45.023438 24.828125 0 45.027344-20.195312 45.027344-45.023438zm-45.027344 15.007813c-8.273437 0-15.007812-6.730469-15.007812-15.007813 0-8.273437 6.734375-15.007812 15.007812-15.007812 8.277344 0 15.011719 6.734375 15.011719 15.007812 0 8.277344-6.734375 15.007813-15.011719 15.007813zm0 0" fill="#ffffff" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531 180.59375c-41.375 0-75.039062 33.664062-75.039062 75.042969v45.023437h150.082031v-45.023437c0-41.378907-33.664062-75.042969-75.042969-75.042969zm45.027344 90.050781h-90.050781v-15.007812c0-24.828125 20.199218-45.027344 45.023437-45.027344 24.828125 0 45.027344 20.199219 45.027344 45.027344zm0 0" fill="#ffffff" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531.5c-107.578125 0-195.101562 87.523438-195.101562 195.101562 0 38.054688 10.960937 73.585938 29.875 103.636719l-151.667969 137.945313 75.3125 75.3125 137.996094-151.632813c30.039062 18.894531 65.554687 29.84375 103.585937 29.84375 107.582031 0 195.105469-87.523437 195.105469-195.101562 0-107.582031-87.523438-195.105469-195.105469-195.105469zm-242.605469 468.523438-30.8125-30.808594 22.230469-20.21875 28.808594 28.804687zm40.449219-44.445313-26.800781-26.800781 81.707031-74.316406c6.019531 6.917968 12.511719 13.414062 19.433594 19.429687zm202.15625-63.886719c-91.027343 0-165.085937-74.058594-165.085937-165.089844 0-91.027343 74.058594-165.085937 165.085937-165.085937 91.03125 0 165.089844 74.058594 165.089844 165.085937 0 91.03125-74.058594 165.089844-165.089844 165.089844zm0 0" fill="#ffffff" data-original="#000000" style="" /></g></svg>
                        </div>*@
                                                        <div class="link-content-block @if(action == "Carbon_Footprint"){ <text>active</text> }">
                                                            <a href="~/Home/Carbon_Footprint">Carbon <br />Footprint</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#" class="@if(action == "Plastic_Impact" || action == "Plastic_Alternative"){ <text>active</text> }">Plastic</a>
                                                    <ul class="dropdown">
                                                        <li class="@if(action == "Plastic_Impact"){ <text>active</text> }"><a href="~/Home/Plastic_Impact"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 509 509" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="XMLID_133_"><g id="XMLID_82_"><path id="XMLID_696_" d="m428.5 509h-348c-21.505 0-39-17.495-39-39v-470h90v107h246v-107h90v470c0 21.505-17.495 39-39 39zm-357-479v440c0 4.962 4.038 9 9 9h348c4.962 0 9-4.038 9-9v-440h-30v107h-306v-107z" fill="#ffffff" data-original="#000000" style="" class="" /></g><g id="XMLID_125_"><path id="XMLID_693_" d="m339.167 288h-169.334v-102h169.333v102zm-139.334-30h109.333v-42h-109.333z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></g></svg> Plastic Impact</a></li>
                                                        <li class="@if(action == "Plastic_Alternative"){ <text>active</text> }"><a href="~/Home/Plastic_Alternative"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="_17-no_plastic" data-name="17-no plastic"><path d="M411.178,147.57A204.286,204.286,0,0,0,300,80.778V67.3A11.992,11.992,0,0,0,308,56V16A12,12,0,0,0,296,4H216a12,12,0,0,0-12,12V56a11.992,11.992,0,0,0,8,11.3V80.778a204.017,204.017,0,0,0-55.953,377.079A52.054,52.054,0,0,0,208,508h96a52.054,52.054,0,0,0,51.953-50.143A204.03,204.03,0,0,0,411.178,147.57Zm-56.6,16.882A51.655,51.655,0,0,0,340.77,139.8l-31.95-31.95a178.881,178.881,0,0,1,65.85,36.51ZM156,429.686a180.535,180.535,0,0,1-18.556-14.159L156,396.971Zm24-56.715L284.971,268H332V412H180ZM180,268h71.029L180,339.029Zm152-24H308.971L332,220.971Zm-56.971,0H180V176.569a27.818,27.818,0,0,1,8.2-19.8l44.284-44.285A12,12,0,0,0,236,104V68h40v36a12,12,0,0,0,3.515,8.485L323.8,156.77a27.818,27.818,0,0,1,8.2,19.8v10.46ZM228,28h56V44H228ZM76,280A179.324,179.324,0,0,1,203.18,107.849L171.23,139.8A51.663,51.663,0,0,0,156,176.569v186.46l-35.543,35.544A179.449,179.449,0,0,1,76,280ZM332,456a28.032,28.032,0,0,1-28,28H208a28.032,28.032,0,0,1-28-28V436H332Zm24-26.314V196.971l35.635-35.635A180.384,180.384,0,0,1,356,429.686Z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg> Plastic Alternatives</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#" class="@if(action == "Waste_Seperation"){ <text>active</text> }">Waste</a>
                                                    <ul class="dropdown">
                                                        <li class="@if(action == "Waste_Seperation"){ <text>active</text> }">
                                                            <a href="~/Home/Waste_Seperation">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m436 120h-18.289l-27.159-108.638c-1.669-6.677-7.669-11.362-14.552-11.362h-240c-6.883 0-12.883 4.685-14.552 11.362l-27.159 108.638h-18.289c-8.284 0-15 6.716-15 15v60c0 8.284 6.716 15 15 15h16.416l28.657 288.483c.763 7.672 7.217 13.517 14.927 13.517h240c7.71 0 14.164-5.845 14.927-13.517l28.657-288.483h16.416c8.284 0 15-6.716 15-15v-60c0-8.284-6.716-15-15-15zm-288.288-90h216.576l22.5 90h-55.788v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-55.788zm153.288 90h-90v-30h90zm-210 30h330v30h-330zm271.416 332h-212.832l-27.02-272h266.872z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m178.057 405h48.714c8.284 0 15-6.716 15-15s-6.716-15-15-15h-22.732l11.366-19.687c4.143-7.175 1.685-16.348-5.49-20.49-7.174-4.143-16.349-1.684-20.49 5.49l-24.358 42.187c-2.68 4.641-2.68 10.359 0 15s7.631 7.5 12.99 7.5z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m296.595 355.313 11.366 19.687h-22.732c-8.284 0-15 6.716-15 15s6.716 15 15 15h48.714c5.359 0 10.311-2.859 12.99-7.5s2.68-10.359 0-15l-24.357-42.188c-4.143-7.175-13.318-9.632-20.49-5.49-7.176 4.142-9.634 13.316-5.491 20.491z" fill="#ffffff" data-original="#000000" style="" class="" />

                                                                <path d="m224.142 310.178c7.173 4.142 16.347 1.684 20.49-5.49l11.368-19.688 11.367 19.688c2.778 4.813 7.82 7.503 13.004 7.502 2.545 0 5.124-.648 7.486-2.012 7.175-4.142 9.633-13.316 5.49-20.49l-24.357-42.188c-2.68-4.641-7.631-7.5-12.99-7.5s-10.311 2.859-12.99 7.5l-24.357 42.188c-4.143 7.174-1.685 16.348 5.489 20.49z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g>
                                                                </svg> Bin Classification
                                                            </a>
                                                        </li>

                                                        <li class="@if(action == "Recycle_Center"){ <text>active</text> }">
                                                            <a href="~/Home/Recycle_Center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m436 120h-18.289l-27.159-108.638c-1.669-6.677-7.669-11.362-14.552-11.362h-240c-6.883 0-12.883 4.685-14.552 11.362l-27.159 108.638h-18.289c-8.284 0-15 6.716-15 15v60c0 8.284 6.716 15 15 15h16.416l28.657 288.483c.763 7.672 7.217 13.517 14.927 13.517h240c7.71 0 14.164-5.845 14.927-13.517l28.657-288.483h16.416c8.284 0 15-6.716 15-15v-60c0-8.284-6.716-15-15-15zm-288.288-90h216.576l22.5 90h-55.788v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-55.788zm153.288 90h-90v-30h90zm-210 30h330v30h-330zm271.416 332h-212.832l-27.02-272h266.872z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m178.057 405h48.714c8.284 0 15-6.716 15-15s-6.716-15-15-15h-22.732l11.366-19.687c4.143-7.175 1.685-16.348-5.49-20.49-7.174-4.143-16.349-1.684-20.49 5.49l-24.358 42.187c-2.68 4.641-2.68 10.359 0 15s7.631 7.5 12.99 7.5z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m296.595 355.313 11.366 19.687h-22.732c-8.284 0-15 6.716-15 15s6.716 15 15 15h48.714c5.359 0 10.311-2.859 12.99-7.5s2.68-10.359 0-15l-24.357-42.188c-4.143-7.175-13.318-9.632-20.49-5.49-7.176 4.142-9.634 13.316-5.491 20.491z" fill="#ffffff" data-original="#000000" style="" class="" />

                                                                <path d="m224.142 310.178c7.173 4.142 16.347 1.684 20.49-5.49l11.368-19.688 11.367 19.688c2.778 4.813 7.82 7.503 13.004 7.502 2.545 0 5.124-.648 7.486-2.012 7.175-4.142 9.633-13.316 5.49-20.49l-24.357-42.188c-2.68-4.641-7.631-7.5-12.99-7.5s-10.311 2.859-12.99 7.5l-24.357 42.188c-4.143 7.174-1.685 16.348 5.489 20.49z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g>
                                                                </svg> Search Recycle Center
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#" class="@if(action == "Avoid_Food_Waste" || action == "Composting" || action == "Pot_Farming"){ <text>active</text> }">Other Ways to Reduce Carbon</a>
                                                    <ul class="dropdown">
                                                        <li class="@if(action == "Avoid_Food_Waste"){ <text>active</text> }"><a href="~/Home/Avoid_Food_Waste"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.918 511.918" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m510.739 208.817-42.6-101.009v-31.875c0-32.053-26.077-58.13-58.13-58.13h-308.101c-32.053 0-58.129 26.077-58.129 58.13v31.875l-42.6 101.009c-1.953 4.632-1.456 9.935 1.323 14.123 2.779 4.189 7.472 6.706 12.498 6.706 6.897 0 12.565-.588 17.426-1.506-3.961 11.154-6.034 23-6.034 35.087v180.03c0 28.043 22.815 50.857 50.857 50.857h357.421c28.042 0 50.856-22.814 50.856-50.857v-180.03c0-12.068-2.068-23.906-6.041-35.089 4.862.919 10.532 1.508 17.433 1.508 5.026 0 9.72-2.518 12.499-6.706 2.779-4.189 3.275-9.491 1.322-14.123zm-436.961-132.884c0-15.511 12.619-28.13 28.129-28.13h308.102c15.511 0 28.13 12.619 28.13 28.13v19.613h-364.361zm-4.921 49.613h374.204l29.051 68.883c-.003-.001-.007-.003-.01-.004-6.51-2.662-13.694-5.59-24.68-6.835-.019-.002-.038-.004-.057-.006-3.415-.385-7.186-.613-11.433-.613-18.036 0-27.904 4.17-35.833 7.52-6.815 2.88-12.198 5.154-24.157 5.154-11.958 0-17.341-2.275-24.156-5.154-7.929-3.35-17.796-7.52-35.832-7.52-18.035 0-27.903 4.17-35.832 7.52-6.814 2.88-12.197 5.154-24.155 5.154s-17.341-2.275-24.156-5.154c-7.929-3.35-17.797-7.52-35.833-7.52s-27.905 4.17-35.834 7.52c-6.815 2.88-12.198 5.154-24.157 5.154-11.96 0-17.343-2.275-24.159-5.154-7.929-3.351-17.798-7.52-35.835-7.52-4.938 0-9.233.307-13.068.815-.068.009-.136.018-.205.028-9.99 1.347-16.75 4.095-22.901 6.611-.005.002-.009.003-.014.005zm-12.466 179.696h250.393l.001 81.872h-250.394zm399.135 138.015c0 11.501-9.356 20.857-20.856 20.857h-357.422c-11.5 0-20.857-9.356-20.857-20.857v-26.143h250.592c16.433 0 29.802-13.345 29.802-29.747l-.001-82.378c0-16.402-13.369-29.747-29.802-29.747h-250.591v-12.016c0-16.853 5.649-33.039 15.98-46.174 1.146-.05 2.34-.081 3.621-.081 11.96 0 17.343 2.274 24.159 5.154 7.929 3.351 17.797 7.52 35.835 7.52 18.037 0 27.905-4.17 35.834-7.52 6.815-2.88 12.198-5.154 24.157-5.154 11.958 0 17.342 2.274 24.157 5.154 7.929 3.35 17.797 7.52 35.833 7.52s27.904-4.17 35.832-7.52c6.815-2.88 12.197-5.154 24.154-5.154 11.958 0 17.341 2.274 24.156 5.154 7.929 3.35 17.796 7.52 35.832 7.52s27.904-4.17 35.833-7.52c6.815-2.88 12.198-5.154 24.157-5.154 1.193 0 2.306.029 3.381.072 1.498 1.713 2.825 3.426 3.933 5.109 8.033 12.192 12.279 26.396 12.279 41.073v180.032z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg> Avoid Food Waste</a></li>
                                                        <li class="@if(action == "Composting"){ <text>active</text> }"><a href="~/Home/Composting"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m376 242c8.284 0 15-6.716 15-15 0-.009-.001-.018-.001-.027-.008-20.666-9.808-39.883-27.596-54.114-16.814-13.452-38.977-20.86-62.403-20.86-10.551 0-20.833 1.501-30.521 4.395-1.254-12.724-4.758-25.013-10.313-36.394h2.709c57.897 0 105-47.103 105-105 0-8.284-6.716-15-15-15h-30c-48.049 0-88.66 32.442-101.087 76.571-16.607-10.792-35.791-16.571-55.788-16.571-8.284 0-15 6.716-15 15s6.716 15 15 15c37.024 0 68.804 29.249 74.187 65.997-9.296-2.638-19.12-3.999-29.188-3.999-23.426 0-45.588 7.408-62.403 20.86-17.796 14.237-27.597 33.464-27.597 54.14 0 8.232 6.663 15.001 15.001 15.001 21.284 0 45 36.962 45 90 0 53.016-23.696 89.967-44.973 89.999h-.028c-8.284 0-15 6.716-15 15 0 44.293 43.49 75 90 75 15.996 0 31.381-3.428 45-9.974 13.62 6.546 29.005 9.974 45 9.974 46.782 0 89.98-30.921 90-74.971 0-.009.001-.019.001-.028 0-8.232-6.663-15.001-15.001-15.001h-.026c-21.278-.031-44.973-36.982-44.973-89.998 0-53.038 23.716-90 45-90zm-53.125-212h13.493c-6.97 34.191-37.274 60-73.493 60h-13.493c6.969-34.191 37.274-60 73.493-60zm-111.876 151.999c13.658 0 26.548 3.407 37.273 9.853 4.683 2.812 10.652 2.878 15.452 0 10.728-6.446 23.616-9.853 37.274-9.853 26.075 0 48.318 12.539 56.573 30.001h-203.145c8.254-17.462 30.498-30.001 56.573-30.001zm90 300c-13.658 0-26.547-3.407-37.274-9.853-4.754-2.857-10.696-2.857-15.452 0-10.726 6.445-23.615 9.853-37.273 9.853-26.075 0-48.318-12.539-56.573-30h203.146c-8.256 17.46-30.499 30-56.574 30zm-114.896-59.999c15.359-21.826 24.897-53.8 24.897-90 0-36.202-9.539-68.177-24.899-90.001h139.798c-15.36 21.824-24.899 53.799-24.899 90.001 0 36.2 9.538 68.174 24.897 90z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m256 272c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m256 347c-8.284 0-15 6.716-15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.284-6.716-15-15-15z" fill="#ffffff" data-original="#000000" style="" class="" /></g></g></svg> Composting</a></li>
                                                        <li class="@if(action == "Pot_Farming"){ <text>active</text> }"><a href="~/Home/Pot_Farming"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.819 511.819" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m437.471 236.146h-70.735c8.682-5.974 16.637-12.822 23.831-20.562 48.868-52.574 44.101-126.005 43.874-129.105l-.945-12.92-12.92-.945c-2.563-.188-53.077-3.461-100.205 22.917-14.672-51.981-52.715-85.385-54.658-87.064l-9.803-8.467-9.804 8.467c-1.943 1.678-39.985 35.083-54.658 87.064-47.129-26.378-97.645-23.102-100.205-22.918l-12.92.945-.945 12.92c-.227 3.101-4.994 76.531 43.874 129.105 7.194 7.74 15.15 14.588 23.831 20.562h-70.735v30h31.262l16.367 245.674h267.865l16.367-245.674h31.262zm-33.052-133.466c-1.149 21.088-7.282 61.771-35.825 92.479-18.913 20.348-44.901 33.186-77.515 38.364 24.471-32.842 36.198-67.278 34.902-102.741-.041-1.126-.095-2.247-.162-3.362 28.116-19.038 60.552-23.715 78.6-24.74zm-188.61 29.452c1.433-41.797 26.013-75.159 40.132-90.979 14.098 15.725 38.53 48.828 40.061 90.725 1.211 33.141-12.265 65.844-40.092 97.388-27.756-31.465-41.234-64.081-40.101-97.134zm-108.365-29.496c18.025.983 50.365 5.62 78.557 24.768-.067 1.12-.122 2.246-.163 3.378-1.296 35.463 10.431 69.899 34.902 102.741-32.515-5.163-58.444-17.938-77.341-38.177-28.542-30.569-34.753-71.539-35.955-92.71zm42.601 379.183-1.999-30h215.727l-1.999 30zm215.727-60h-219.724l-10.371-155.674h240.466z" fill="#ffffff" data-original="#000000" style="" class="" /></g></svg> Pot Farming</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="link-content">
                                                        @*<div class="icon-style-block">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20" height="20" x="0" y="0" viewBox="0 0 511.999 511" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m361.921875 135.570312c0-24.824218-20.199219-45.023437-45.027344-45.023437-24.824219 0-45.023437 20.199219-45.023437 45.023437 0 24.828126 20.199218 45.023438 45.023437 45.023438 24.828125 0 45.027344-20.195312 45.027344-45.023438zm-45.027344 15.007813c-8.273437 0-15.007812-6.730469-15.007812-15.007813 0-8.273437 6.734375-15.007812 15.007812-15.007812 8.277344 0 15.011719 6.734375 15.011719 15.007812 0 8.277344-6.734375 15.007813-15.011719 15.007813zm0 0" fill="#ffffff" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531 180.59375c-41.375 0-75.039062 33.664062-75.039062 75.042969v45.023437h150.082031v-45.023437c0-41.378907-33.664062-75.042969-75.042969-75.042969zm45.027344 90.050781h-90.050781v-15.007812c0-24.828125 20.199218-45.027344 45.023437-45.027344 24.828125 0 45.027344 20.199219 45.027344 45.027344zm0 0" fill="#ffffff" data-original="#000000" style="" /><path xmlns="http://www.w3.org/2000/svg" d="m316.894531.5c-107.578125 0-195.101562 87.523438-195.101562 195.101562 0 38.054688 10.960937 73.585938 29.875 103.636719l-151.667969 137.945313 75.3125 75.3125 137.996094-151.632813c30.039062 18.894531 65.554687 29.84375 103.585937 29.84375 107.582031 0 195.105469-87.523437 195.105469-195.101562 0-107.582031-87.523438-195.105469-195.105469-195.105469zm-242.605469 468.523438-30.8125-30.808594 22.230469-20.21875 28.808594 28.804687zm40.449219-44.445313-26.800781-26.800781 81.707031-74.316406c6.019531 6.917968 12.511719 13.414062 19.433594 19.429687zm202.15625-63.886719c-91.027343 0-165.085937-74.058594-165.085937-165.089844 0-91.027343 74.058594-165.085937 165.085937-165.085937 91.03125 0 165.089844 74.058594 165.089844 165.085937 0 91.03125-74.058594 165.089844-165.089844 165.089844zm0 0" fill="#ffffff" data-original="#000000" style="" /></g></svg>
                        </div>*@
                                                        <div class="link-content-block @if(action == "Test_Your_Knowledge"){ <text>active</text> }">
                                                            <a href="~/Home/Test_Your_Knowledge">Test Your Knowledge</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="@if(action == "Contact"){ <text>active</text> }"><a href="~/Home/Contact">Contact Us</a></li>
                                        <li class="@if(action == "Vendor"){ <text>active</text> }"><a href="~/Home/Vendor"><span class="d-inline-block bg-primary text-white btn btn-primary">Search Vendors</span></a></li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bootstrap Navigation menu-->


        <div>
            @RenderBody()
            <hr />
            <!--Footer Section-->
            <footer class="site-footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 mb-3 mb-md-0">
                            <h3 class="footer-heading mb-4 text-white">Brand Vision</h3>
                            <p>We are committed to establish a sustainable world that values and conserves environment.</p>

                        </div>
                        <div class="col-md-3 mb-3 mb-md-0 ml-auto">
                            <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                            <ul class="list-unstyled">
                                <li><a href="~/Home">Home</a></li>
                                <li><a href="~/Home/About">About</a></li>
                                <li><a href="~/Home/Vendor">Services</a></li>
                                <li><a href="~/Home/Contact">Contact</a></li>
                                <li><a href="~/Home/References">References</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-6 text-center text-white">QUICK MENU To Services</h3>
                            <br />
                            <ul class="list-unstyled" style="float:left">
                                <li><a href="~/Home/Carbon_FootPrint">Carbon FootPrint</a></li>
                                <li><a href="~/Home/Plastic_Impact">Impact of Plastic</a></li>
                                <li><a href="~/Home/Plastic_Alternative">Plastic Alternatives</a></li>
                                <li><a href="~/Home/Vendor">Search Eco-Friendly Shop</a></li>
                                <!--<li><a href="#">Test yourself</a></li>-->

                            </ul>
                            <ul class="list-unstyled" style="float:right">

                                <li><a href="~/Home/Avoid_Food_Waste">Avoid Food Waste</a></li>
                                <li><a href="~/Home/Composting">Composting</a></li>
                                <li><a href="~/Home/Pot_Farming">Pot Farming</a></li>
                                <li><a href="~/Home/Waste_Seperation">Bin Classification</a></li>
                                <!--<li><a href="~/Home/Recycle_Center">Search Recycle Center</a></li>-->
                            </ul>
                        </div>
                        <div class="col-md-12 copyright-block text-center">
                            <p>Copyright © @DateTime.Now.Year Team PokaCarbon. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!--Footer Section-->
        </div>
    </div>
    <a id="go-top-button"></a>


    <!--jQuery Scripts-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <!--jQuery Scripts-->
    <!--JQuery Script for Bin show and hide on Waste Seperation Page-->
    <script>

        $(".yellow-bin").click(function () {
            $(".yellow-bin-content").toggle("slow");
        });


        $(".green-bin").click(function () {
            $(".green-bin-content").toggle("slow");
        });

        $(".red-bin").click(function () {
            $(".red-bin-content").toggle("slow");
        });

        $(".purple-bin").click(function () {
            $(".purple-bin-content").toggle("slow");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#shop-smart").click(function () {
                $("#shop-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#store-food").click(function () {
                $("#store-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#food-leftover").click(function () {
                $("#leftover-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#pack-lunch").click(function () {
                $("#lunch-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#egg-yolk").click(function () {
                $("#egg-content-block").slideToggle("slow");
            });
        });
        $(document).ready(function () {
            $("#preserve-food").click(function () {
                $("#preserve-content-block").slideToggle("slow");
            });
        });
    </script>

    <script>
        $(".services").click(function () {
            $('html,body').animate({
                scrollTop: $(".services-slider-block").offset().top
            },
                'slow');
        });
    </script>

    <!--JQuery Script for Bin show and hide on Waste Seperation Page-->
    <script src="~/js/Go-top-button.js"></script>
</body>
</html>
